<div class="page-header">
  <%= link_to new_backoffice_coupon_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    <%= t('.new_coupon') %>
  <% end %>
  <h1><%= t('.listing_coupons') %></h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th><%= t('.coupon_code') %></th>
        <th><%= t('.dynamic_user') %></th>
        <th><%= t('.coupon_type') %></th>
        <th><%= t('.discount_percentage') %></th>
        <th><%= t('.fixed_discount') %></th>
        <th><%= t('.discount_threshold') %></th>
        <th><%= t('.start_date') %></th>
        <th><%= t('.end_date') %></th>
        <th><%= t('.max_uses_per_client') %></th>
        <th><%= t('.max_uses_total') %></th>
        <th><%= t('.current_uses') %></th>
        <th><%= t('.free_shipping') %></th>
        <th><%= t('.status') %></th>
        <th><%= t('common.show') %></th>
        <th><%= t('common.edit') %></th>
        <th><%= t('common.destroy') %></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @coupons) do |coupon| %>
        <td><%= coupon.coupon_code %></td>
        <% if coupon.dynamic %>
          <td><%= User.find_by(id: coupon.dynamic_user_id).try(:name) %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= coupon.coupon_type %></td>
        <td><%= coupon.discount_percentage_decimal %></td>
        <td><%= coupon.discount_fixed %></td>
        <td><%= coupon.discount_threshold %></td>
        <td><%= coupon.start_date %></td>
        <td><%= coupon.end_date %></td>
        <td><%= coupon.max_uses_per_user %></td>
        <td><%= coupon.max_uses %></td>
        <td><%= coupon.current_uses %></td>
        <td><%= coupon.free_shipping %></td>
        <td><%= coupon.status %></td>
        <td><%= link_to "<i class='material-icons'>visibility</i>".html_safe, backoffice_coupon_path(coupon) %></td>
        <td><%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_backoffice_coupon_path(coupon) %></td>
        <td><%= link_to "<i class='material-icons'>delete</i>".html_safe, backoffice_coupon_path(coupon), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
