
<div class="masonry-item noo-product-column col-md-4 col-sm-6 product">
  <div class="noo-product-inner">
    <div class="noo-product-thumbnail">
      <a href="<%= product_path(item) %>">
        <%= image_tag item.image.url, width: 600, alt: "" %>
      </a>
    </div>
    <div class="noo-product-title">
      <h3><%= link_to item.name, product_path(item) %></h3><br>
      <span class="short-descrip" style="font-size:13px;"><%= item.short_description %></span><br>
      <span class="price"><span class="amount"><%= number_to_currency(item.price) %></span></span>
      <% unless item.in_stock? %>
        <p class="out_of_stock" style="font-size: 18px;"><span class="">Out of Stock</span></p>
      <% end %>
      <div class="noo-product-action">
        <div class="noo-action">
          <!--<a href="ajax/product-quickview.html" class="noo-qucik-view">
            <i class="fa fa-search"></i>
          </a>-->
          <%= link_to "", cart_items_path(cart_item: {quantity: 1, product_id: item.id}),
                                          :method => :post,
                                          :remote => true,
                                          class: "button product_type_simple add_to_cart_button" %>

          <div class="yith-wcwl-add-to-wishlist">
                                        <div class="yith-wcwl-add-button">
                                          <%= link_to "", wishlist_items_path(wishlist_item: {quantity: 1, product_id: item.id}), :method => :post, class: "add_to_wishlist" %>

                                        </div>
                                    </div>

          <a href="<%= product_path(item) %>" class="link-detail">
            <i class="fa fa-link"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
