
<div class="noo-product-column fixed-column col-md-4 col-sm-6 product ">
  <div class="noo-product-inner">
    <div class="noo-product-thumbnail">
      <a href="<%= product_path(item) %>">
        <%= image_tag item.image.medium_260.url, width: 600, alt: "" %>
      </a>
    </div>
    <div class="noo-product-title">
      <h3><%= link_to item.name, product_path(item) %></h3><br>
      <a href="<%= product_path(item) %>">
      <span class="short-descrip" style="font-size:13px;"><%= item.short_description.gsub("**","<br>").html_safe if item.short_description %></span><br>
      </a>
      <% if item.price == item.discounted_price %>
        <span class="price"><span class="amount"><%= session_price(item, "price") %></span></span>
      <% else %>

        <span class="price">
          <span class="amount original-price-index"><%= session_price(item, "price") %></span>
          <span class="amount"><%= session_price(item, "discounted_price") %></span>
        </span>

      <% end %>




      <% unless item.in_stock? %>
        <p class="out_of_stock" style="font-size: 18px;"><span class=""><%= t('.out_of_stock') %></span></p>
      <% end %>
      <div class="noo-product-action">
        <div class="noo-action">
          <!--<a href="ajax/product-quickview.html" class="noo-qucik-view">
            <i class="fa fa-search"></i>
          </a>-->

          <%= link_to "", cart_items_path(cart_item: {quantity: 1, product_id: item.id}),
                                          :method => :post,
                                          :remote => true,
                                          :disabled => !item.in_stock?,
                                          class: "button product_type_simple add_to_cart_button #{item.in_stock? ? '' : 'no_stock'}" %>



          <div class="yith-wcwl-add-to-wishlist">
                                        <div class="yith-wcwl-add-button">
                                          <%= link_to "", wishlist_items_path(wishlist_item: {quantity: 1, product_id: item.id}), :method => :post, class: "add_to_wishlist" %>

                                        </div>
                                    </div>

          <a href="<%= product_path(item) %>" class="link-detail">
            <i class="fa fa-link"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
