<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/<%= @fb_compatible_locale_code %>/sdk.js#xfbml=1&version=v2.12&appId=<%= Ecommerce.fb_app_id %>&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="main">
  <div class="commerce single-product noo-shop-main">
    <div class="container single-product-container">

      <div class="row" style="margin-top: 50px;">

        <div class="noo-main col-md-9">
          <div class="product">
            <div class="single-inner">
              <div class="images">
                <div class="product-simple-image">
                  <a href="<%= @product.image.url %>" data-rel="prettyPhoto">
                    <img width="300" height="381" src="<%= @product.image.url %>" alt="" class="max-height-800" />
                  </a>
                </div>
              </div>
              <div class="summary entry-summary">
                <h1 class="product_title entry-title"><%= @product.name %></h1>
                <p class="price"><span class="amount"><%= number_to_currency(@product.price) %></span></p>
                <p class="description"><%= @product.description.gsub("**","<br>").html_safe if @product.description %></p>
                <p class="description"><%= @product.description2.gsub("**","<br>").html_safe if @product.description2 %></p>
                <div class="product_meta">
                  <span class="posted_in">
                    <span>Categories: </span>
                    <% @product.category_list.each do |cl| %>
                    <span><%= link_to cl, products_path(category_id: Ecommerce::Category.find_by("lower(name) = ?", cl.downcase).try(:id)), style: "margin-left: 10px;" %></span>
                    <% end %>
                  </span>
                </div>

                <%= simple_form_for @cart_item, remote: true, html: { class: "cart" } do |f| %>
                  <div class="yith-wcwl-add-to-wishlist" id="devtech_minus">
                    <a href="#" class="add_to_wishlist">-</a>
                  </div>
                  <div class="quantity" id="devtech_quantity">
                    <%= f.input :quantity, label: false, input_html: { class: 'input-text qty text no-spinners', id:"devtech_quantity_field", value: "1", size: "4", step: "1", min: "1" } %>
                  </div>
                  <div class="yith-wcwl-add-to-wishlist" id="devtech_plus">
                    <a href="#" class="add_to_wishlist">+</a>
                  </div>
                  <%= f.hidden_field :product_id, value: @product.id %>
                  <%= f.button :submit, "Add to cart", class: "single_add_to_cart_button button" %>
                <% end %>


                <div class="yith-wcwl-add-to-wishlist">
                  <div class="yith-wcwl-add-button">
                      <a href="#" class="add_to_wishlist"></a>
                  </div>
                </div>
                <div class="clear"></div>

                <p class="out_of_stock"><span class="" id="out_of_stock_text">No more stock available</span></p>

                <% unless @product.in_stock? %>
                  <p class="out_of_stock"><span class="">Out of Stock</span></p>
                <% end %>

                <div class="noo-social-share">
                  <span>Share:</span>
                  <a href='<%= "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}" %>' target="_blank" rel="noopener" class="noo-share" title="Share on Facebook">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="#share" class="noo-share" title="Share on Twitter">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#share" class="noo-share" title="Share on Google+">
                    <i class="fa fa-google-plus"></i>
                  </a>
                  <a href="#share" class="noo-share" title="Share on Pinterest">
                    <i class="fa fa-pinterest"></i>
                  </a>
                </div>
              </div>
            </div>

            <!-- <div class="commerce-tabs">
              <ul class="nav nav-tabs tabs">
                  <li class="active">
                    <a data-toggle="tab" href="#tab-1">Description</a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="#tab-2">Reviews</a>
                  </li>
                </ul>
              <div class="tab-content">
                <div class="tab-pane fade in" id="tab-1">
                  <p><%= @product.description %></p>
                </div>
                <div id="tab-2" class="tab-pane fade in active">
                  <div class="fb-comments" data-href="<%= request.url %>" data-width="100%" data-order-by="reverse_time" data-numposts="5"></div>
                </div>
            </div>
            <div class="related products">
              <h2>Related Products</h2>
              <div class="products row product-grid">
                <div class="masonry-item noo-product-column col-md-4 col-sm-6 product">
                  <div class="noo-product-inner">
                    <div class="noo-product-thumbnail">
                      <a href="shop-detail.html">
                        <img width="600" height="760" src="images/product/product_260x330.jpg" alt="" />
                      </a>
                      <div class="noo-rating">
                        <div class="star-rating">
                          <span style="width:20%"></span>
                        </div>
                      </div>
                    </div>
                    <div class="noo-product-title">
                      <h3><a href="shop-detail.html">Carrots</a></h3>
                      <span class="price"><span class="amount">&#36;1.05</span></span>
                      <div class="noo-product-action">
                        <div class="noo-action">
                          <a href="#" class="button product_type_simple add_to_cart_button">
                            <span>Add to cart</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="masonry-item noo-product-column col-md-4 col-sm-6 product">
                  <div class="noo-product-inner">
                    <div class="noo-product-thumbnail">
                      <a href="shop-detail.html">
                        <img width="600" height="760" src="images/product/product_260x330.jpg" alt="" />
                      </a>
                      <div class="noo-rating">
                        <div class="star-rating">
                          <span style="width:0%"></span>
                        </div>
                      </div>
                    </div>
                    <div class="noo-product-title">
                      <h3><a href="shop-detail.html">Celery</a></h3>
                      <span class="price"><span class="amount">&#36;2.09</span></span>
                      <div class="noo-product-action">
                        <div class="noo-action">
                          <a href="#" class="button product_type_simple add_to_cart_button">
                            <span>Add to cart</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="masonry-item noo-product-column col-md-4 col-sm-6 product">
                  <div class="noo-product-inner">
                    <div class="noo-product-thumbnail">
                      <a href="shop-detail.html">
                        <img width="600" height="760" src="images/product/product_260x330.jpg" alt="" />
                      </a>
                      <div class="noo-rating">
                        <div class="star-rating">
                          <span style="width:0%"></span>
                        </div>
                      </div>
                    </div>
                    <div class="noo-product-title">
                      <h3><a href="shop-detail.html">Onions</a></h3>
                      <span class="price"><span class="amount">&#36;1.70</span></span>
                      <div class="noo-product-action">
                        <div class="noo-action">
                          <a href="#" class="button product_type_simple add_to_cart_button">
                            <span>Add to cart</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        </div>
        </div>
        <div class="noo-sidebar col-md-3">
          <div class="noo-sidebar-wrap">
            <div class="col_one_fifth col_last">
              <a href="#" title="Brand Logo" class="d-none d-md-block"><img class="image_fade" src="<%= @product.brand.logo.medium_200.url %>" alt="Brand Logo"></a>
              <div class="divider divider-center"><i class="icon-circle-blank"></i></div>
              <div class="widget commerce widget_product_search">
                <h3 class="widget-title">Search</h3>
                <form class="commerce-product-search">
                  <input type="search" id="commerce-product-search-field" class="search-field"  autocomplete="off" placeholder="Search Products&hellip;" value="" name="search"/>
                  <input type="submit" value="Search"/>
                </form>
              </div>
            <!--<div class="widget commerce widget_product_categories">
              <h3 class="widget-title">Categories</h3>
              <ul class="product-categories">
                <li><a href="#">Bread</a></li>
                <li><a href="#">Featured</a></li>
                <li><a href="#">Fruit</a></li>
                <li><a href="#">Fruit Box</a></li>
                <li><a href="#">Fruits</a></li>
                <li><a href="#">Others</a></li>
                <li><a href="#">Package</a></li>
                <li><a href="#">Vegetable</a></li>
                <li><a href="#">Vegetable Box</a></li>
              </ul>
            </div>
            <div class="widget commerce widget_products">
              <h3 class="widget-title">Popular products</h3>
              <ul class="product_list_widget">
                <li>
                  <a href="shop-detail.html">
                    <%= image_tag "ecommerce/img/product/product_100x100.jpg", width: 100, height: 100, alt: "" %>
                    <span class="product-title">French Bread</span>
                  </a>
                  <span class="amount">&#36;10.00</span>
                </li>
                <li>
                  <a href="shop-detail.html">
                    <%= image_tag "ecommerce/img/product/product_100x100.jpg", width: 100, height: 100, alt: "" %>
                    <span class="product-title">Cookie</span>
                  </a>
                  <span class="amount">&#36;15.00</span>
                </li>
                <li>
                  <a href="shop-detail.html">
                    <%= image_tag "ecommerce/img/product/product_100x100.jpg", width: 100, height: 100, alt: "" %>
                    <span class="product-title">Brown Bread</span>
                  </a>
                  <span class="amount">&#36;12.00</span>
                </li>
                <li>
                  <a href="shop-detail.html">
                    <%= image_tag "ecommerce/img/product/product_100x100.jpg", width: 100, height: 100, alt: "" %>
                    <span class="product-title">Apples</span>
                  </a>
                  <span class="amount">&#36;3.95</span>
                </li>
                <li>
                  <a href="shop-detail.html">
                    <%= image_tag "ecommerce/img/product/product_100x100.jpg", width: 100, height: 100, alt: "" %>
                    <span class="product-title">Pomegranates</span>
                  </a>
                  <span class="amount">&#36;3.90</span>
                </li>
              </ul>
            </div>
            <div class="widget commerce widget_product_tag_cloud">
              <h3 class="widget-title">Product Tags</h3>
              <div class="tagcloud">
                <a href="#">apple</a>
                <a href="#">bread</a>
                <a href="#">broccoli</a>
                <a href="#">brown bread</a>
                <a href="#">carrot</a>
                <a href="#">celery</a>
                <a href="#">cookie</a>
                <a href="#">cucumbers</a>
                <a href="#">detox juicing</a>
                <a href="#">french bread</a>
                <a href="#">fruits</a>
                <a href="#">green apple</a>
                <a href="#">lemon</a>
                <a href="#">lime</a>
                <a href="#">mango</a>
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </div>
  <%= render "ecommerce/organici/store/prefooter" %>
</div>

<script>
  $("#devtech_plus").click(function(e) {
    if ($("#devtech_quantity_field").val() < <%= @product.total_quantity %>) {
      $("#devtech_quantity_field").val(parseInt($("#devtech_quantity_field").val()) + 1);
    } else {
      $("#out_of_stock_text").show();
    }
    e.preventDefault();
  });
  $("#devtech_minus").click(function(e) {
    if (parseInt($("#devtech_quantity_field").val()) > 1) {
      $("#devtech_quantity_field").val(parseInt($("#devtech_quantity_field").val()) - 1);
    }
    $("#out_of_stock_text").hide();
    e.preventDefault();
  });

</script>
