<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse ">
  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="navbar-inner">
    <div class="header-seperation">
      <ul class="nav pull-left notifcation-center visible-xs visible-sm">
        <li class="dropdown">
          <a href="#main-menu" data-webarch="toggle-left-side">
            <i class="material-icons">menu</i>
          </a>
        </li>
      </ul>
      <!-- BEGIN LOGO -->
      <a href= <%= root_path %> >
        <%= image_tag("https://s3.amazonaws.com/devtechperu-expatshop-dev/static/images/expatshop_dark_logo.png", width: 150, height: 53) %>

      </a>
      <!-- END LOGO -->
      <!--<ul class="nav pull-right notifcation-center">
        <li class="dropdown hidden-xs hidden-sm">

          <a href= <%= backoffice_dashboard_path %> class="dropdown-toggle active" data-toggle="">
            <i class="material-icons">home</i>
          </a>
        </li>
        <li class="dropdown hidden-xs hidden-sm">
          <a href="#" class="dropdown-toggle">
            <i class="material-icons">email</i><span class="badge bubble-only"></span>
          </a>
        </li>
        <li class="dropdown visible-xs visible-sm">
          <a href="#" data-webarch="toggle-right-side">
            <i class="material-icons">chat</i>
          </a>
        </li>
      </ul>-->
    </div>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <div class="header-quick-nav">
      <!-- BEGIN TOP NAVIGATION MENU -->
      <div class="pull-left">
        <!--<ul class="nav quick-section">
          <li class="quicklinks">
            <a href="#" class="" id="layout-condensed-toggle">
              <i class="material-icons">menu</i>
            </a>
          </li>
        </ul>-->
        <ul class="nav quick-section">
          <!--<li class="quicklinks  m-r-10">
            <a href="#" class="">
              <i class="material-icons">refresh</i>
            </a>
          </li>
          <li class="quicklinks">
            <a href="#" class="">
              <i class="material-icons">apps</i>
            </a>
          </li>
          <li class="quicklinks"> <span class="h-seperate"></span></li>
          <li class="quicklinks">
            <a href="#" class="" id="my-task-list" data-placement="bottom" data-content='' data-toggle="dropdown" data-original-title="Notifications">
              <i class="material-icons">notifications_none</i>
              <span class="badge badge-important bubble-only"></span>
            </a>
          </li>-->
          <li class="quicklinks"> <span class="h-seperate"></span></li>
          <li class="m-r-10 input-prepend inside search-form no-boarder">
            <span class="add-on"> <i class="material-icons">search</i></span>
            <input name="" type="text" class="no-boarder search_users" placeholder="Search Customers" style="width:250px;">
          </li>
          <li class="quicklinks"> <span class="h-seperate"></span></li>
          <li class="m-r-10 input-prepend inside search-form no-boarder">
            <span class="add-on"> <i class="material-icons">search</i></span>
            <input name="" type="text" class="no-boarder search_products" placeholder="Search Products" style="width:250px;">
          </li>
          <li class="m-r-10 input-prepend inside search-form no-boarder">
            <span class="add-on"> <i class="material-icons">search</i></span>
            <input name="" type="text" class="no-boarder search_category_products" placeholder="Search Products by Category" style="width:250px;">
          </li>
          <li class="quicklinks"> <span class="h-seperate"></span></li>
          <li class="m-r-10 input-prepend inside search-form no-boarder">
            <span class="add-on"> <i class="material-icons">search</i></span>
            <input name="" type="text" class="no-boarder search_orders" placeholder="Search Orders" style="width:250px;">
          </li>
          <li class="quicklinks"> <span class="h-seperate"></span></li>
        </ul>
      </div>
      <!-- <div id="notification-list" style="display:none">
        <div style="width:300px">
          <div class="notification-messages info">
            <div class="user-profile">
              <img src= <%= image_url("ecommerce/img/profiles/d.jpg") %> alt="" data-src=<%= image_url("ecommerce/img/profiles/d.jpg") %> data-src-retina=<%= image_url("ecommerce/img/profiles/d2x.jpg") %> width="35" height="35">
            </div>
            <div class="message-wrapper">
              <div class="heading">
                David Nester - Commented on your wall
              </div>
              <div class="description">
                Meeting postponed to tomorrow
              </div>
              <div class="date pull-left">
                A min ago
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div> -->
      <!-- END TOP NAVIGATION MENU -->
      <!-- BEGIN CHAT TOGGLER -->
      <div class="pull-right">
        <!--<div class="chat-toggler sm">
          <div class="profile-pic">
            <img src= "<%= current_user.avatar ? current_user.avatar : image_url("ecommerce/img/avatar2.png") %>" width="35" height="35" />
            <div class="availability-bubble online"></div>
          </div>
        </div>-->
        <ul class="nav quick-section ">
          <li class="quicklinks">
            <a data-toggle="dropdown" class="dropdown-toggle  pull-right " href="#" id="user-menu">
              <i class="material-icons">tune</i>
            </a>
            <ul class="dropdown-menu dropdown-user-menu pull-right" role="menu" aria-labelledby="user-menu">
              <li>
                <a href="#"> Language: <%= I18n.locale %>
                </a>
              </li>
              <li class="divider"></li>
              <li>

                <% if current_user %>
                  <%= link_to "<i class='material-icons'>power_settings_new</i>Cerrar Sesión".html_safe, main_app.destroy_user_session_path, :method=>:delete %>
                <% else %>
                  <%= link_to "<i class='material-icons'>power_settings_new</i>Iniciar Sesión".html_safe, main_app.new_user_session_path %>
                <% end %>

              </li>
            </ul>
          </li>
          <li class="quicklinks"> <span class="h-seperate"></span></li>
          <!--<li class="quicklinks">
            <a href="#" class="chat-menu-toggle" data-webarch="toggle-right-side"><i class="material-icons">chat</i><span class="badge badge-important hide">1</span>
            </a>
            <div class="simple-chat-popup chat-menu-toggle hide">
              <div class="simple-chat-popup-arrow"></div>
              <div class="simple-chat-popup-inner">
                <div style="width:100px">
                  <div class="semi-bold">David Nester</div>
                  <div class="message">Hey you there </div>
                </div>
              </div>
            </div>
          </li>-->
        </ul>
      </div>
      <!-- END CHAT TOGGLER -->
    </div>
    <!-- END TOP NAVIGATION MENU -->
  </div>
  <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->

<script>
$('#user-menu').click(function () {
    $('.dropdown-user-menu').toggle();
});
</script>
