<div class="main" style="margin-bottom: 250px;">

	<div class="section dark nobottommargin" style="margin-top: 30px;">
	  <div class="container clearfix">
				<h1> <%= t('.shipping_policy') %> </h1>
	    <div class="row" style="margin-top: 30px; margin-left: 10px; margin-right: 10px;">
				<h3><%= t('.shipping_rates') %></h3>
				<p><%= t('.shipping_rates_p_html') %></p>
				<h3><%= t('.shipping_times') %></h3>
				<p><%= t('.shipping_times_p_html') %></p>
	    </div>
	  </div>
	</div>

</div>
