<div class="noo-spinner">
			<div class="spinner">
				<div class="cube1"></div>
				<div class="cube2"></div>
			</div>
		</div>
		<div class="site">
			<header class="noo-header header-5 header-static">
				<div class="navbar-wrapper">
					<div class="navbar navbar-default">
						<div class="container">
							<div class="menu-position">
								<div class="navbar-header pull-left">
									<div class="noo_menu_canvas">
										<div class="btn-search noo-search">
											<i class="fa fa-search"></i>
										</div>
										<div data-target=".nav-collapse" class="btn-navbar">
											<span></span>
											<span></span>
											<span></span>
										</div>
									</div>
									<a href="./" class="navbar-brand">
										<img class="noo-logo-img noo-logo-normal" src="images/logo_black.png" alt="">
									</a>
								</div>
								<nav class="noo-header-anchor">
									<ul>
										<li>
											<div>
												<span>CALL US NOW</span>
												<a href="#">0123-88-89-0999</a>
											</div>
											<div>
												<span><i class="fa fa-phone"></i></span>
											</div>
										</li>
										<li>
											<div>
												<a href="cart.html">
													<span class="has-cart">
														<i class="fa fa-shopping-cart"></i>
														<em>0</em>
													</span>
												</a>
											</div>
											<div>
												<a href="cart.html"><span>MY CART</span></a>
												<span class="price"><span class="amount">&#36;0.00</span></span>
											</div>
										</li>
									</ul>
								</nav>
								<nav class="pull-right noo-main-menu">
									<ul class="nav-collapse navbar-nav">
										<li class="menu-item-has-children current-menu-item">
											<a href="./">Home</a>
											<ul class="sub-menu">
												<li><a href="index-2.html">Homepage 2</a></li>
												<li><a href="index-3.html">Homepage 3</a></li>
												<li><a href="index-4.html">Homepage 4</a></li>
												<li><a href="index-5.html">Homepage 5</a></li>
												<li><a href="index-6.html">Homepage 6</a></li>
											</ul>
										</li>
										<li class="menu-item-has-children">
											<a href="#">Header</a>
											<ul class="sub-menu">
												<li><a href="header-1.html">Header 1</a></li>
												<li><a href="header-2.html">Header 2</a></li>
												<li><a href="header-3.html">Header 3</a></li>
												<li><a href="header-4.html">Header 4</a></li>
												<li><a href="header-5.html">Header 5</a></li>
												<li><a href="header-6.html">Header 6</a></li>
											</ul>
										</li>
										<li><a href="our-story.html">Our Story</a></li>
										<li class="menu-item-has-children noo_megamenu mega-col-columns-4">
											<a href="shop.html">Shop</a>
											<ul class="sub-menu">
												<li class="menu-item-has-children">
													<a href="#">Shop page</a>
													<ul class="sub-menu">
														<li><a href="shop-list.html">Shop List</a></li>
														<li><a href="shop-detail.html">Shop Detail</a></li>
														<li><a href="my-account.html">My Account</a></li>
														<li><a href="cart.html">Cart</a></li>
														<li><a href="cart-empty.html">Empty Cart</a></li>
														<li><a href="wishlist.html">Wishlist</a></li>
													</ul>
												</li>
												<li class="menu-item-has-children">
													<div class="noo_megamenu_widget_area">
														<div class="widget commerce widget_products">
															<h3 class="widget-title">Products</h3>
															<ul class="product_list_widget">
																<li>
																	<a href="shop-detail.html">
																		<img width="100" height="100" src="images/product/product_100x100.jpg" alt="" />
																		<span class="product-title">French Bread</span>
																	</a>
																	<span class="amount">&#36;10.00</span>
																</li>
																<li>
																	<a href="shop-detail.html">
																		<img width="100" height="100" src="images/product/product_100x100.jpg" alt="" />
																		<span class="product-title">Cookie</span>
																	</a>
																	<span class="amount">&#36;15.00</span>
																</li>
																<li>
																	<a href="shop-detail.html">
																		<img width="100" height="100" src="images/product/product_100x100.jpg" alt="" />
																		<span class="product-title">Brown Bread</span>
																	</a>
																	<span class="amount">&#36;12.00</span>
																</li>
															</ul>
														</div>
													</div>
												</li>
												<li>
													<div class="noo_megamenu_widget_area">
														<div class="widget commerce widget_products">
															<h3 class="widget-title">Featured</h3>
															<ul class="product_list_widget">
																<li>
																	<a href="shop-detail.html">
																		<img width="100" height="100" src="images/product/product_100x100.jpg" alt="" />
																		<span class="product-title">French Bread</span>
																	</a>
																	<span class="amount">&#36;10.00</span>
																</li>
																<li>
																	<a href="shop-detail.html">
																		<img width="100" height="100" src="images/product/product_100x100.jpg" alt="" />
																		<span class="product-title">Cookie</span>
																	</a>
																	<span class="amount">&#36;15.00</span>
																</li>
																<li>
																	<a href="shop-detail.html">
																		<img width="100" height="100" src="images/product/product_100x100.jpg" alt="" />
																		<span class="product-title">Brown Bread</span>
																	</a>
																	<span class="amount">&#36;12.00</span>
																</li>
															</ul>
														</div>
													</div>
												</li>
												<li>
													<div class="noo_megamenu_widget_area">
														<div class="widget commerce widget_products">
															<h3 class="widget-title">Sales</h3>
															<ul class="product_list_widget">
																<li>
																	<a href="shop-detail.html">
																		<img width="100" height="100" src="images/product/product_100x100.jpg" alt="" />
																		<span class="product-title">French Bread</span>
																	</a>
																	<span class="amount">&#36;10.00</span>
																</li>
																<li>
																	<a href="shop-detail.html">
																		<img width="100" height="100" src="images/product/product_100x100.jpg" alt="" />
																		<span class="product-title">Cookie</span>
																	</a>
																	<span class="amount">&#36;15.00</span>
																</li>
																<li>
																	<a href="shop-detail.html">
																		<img width="100" height="100" src="images/product/product_100x100.jpg" alt="" />
																		<span class="product-title">Brown Bread</span>
																	</a>
																	<span class="amount">&#36;12.00</span>
																</li>
															</ul>
														</div>
													</div>
												</li>
											</ul>
										</li>
										<li class="menu-item-has-children">
											<a href="boxes.html">Boxes</a>
											<ul class="sub-menu">
												<li><a href="box-detail.html">Box Detail</a></li>
											</ul>
										</li>
										<li class="menu-item-has-children">
											<a href="blog.html">Blog</a>
											<ul class="sub-menu">
												<li class="menu-item-has-children">
													<a href="blog-masonry.html">Blog Masonry</a>
													<ul class="sub-menu">
														<li><a href="blog-masonry-two-columns.html">2 Columns</a></li>
														<li><a href="blog-masonry.html">3 Columns</a></li>
														<li><a href="blog-masonry-four-columns.html">4 Columns</a></li>
													</ul>
												</li>
												<li><a href="blog.html">Blog Listing</a></li>
												<li><a href="blog-detail.html">Blog Single Default</a></li>
												<li><a href="blog-detail-video.html">Blog Single Video</a></li>
												<li><a href="blog-detail-audio.html">Blog Single SoundCloud</a></li>
												<li><a href="blog-detail-slider.html">Blog Single Slider</a></li>
											</ul>
										</li>
										<li><a href="contact.html">Contact</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<div class="search-header5">
					<div class="remove-form"></div>
					<div class="container">
						<form class="form-horizontal">
							<label class="note-search">Type and Press Enter to Search</label>
							<input type="search" name="s" class="form-control" value="" placeholder="Search...">
							<input type="submit" value="Search">
						</form>
					</div>
				</div>
			</header>
			<div class="main">
				<div class="noo-slider-wrap">
					<ul class="noo-slider-image">
						<li>
							<div class="image-style">
								<a href="#">
									<img width="610" height="520" src="images/slider/slide_610x520.jpg" alt="" />
								</a>
							</div>
						</li>
						<li>
							<div class="image-style">
								<a href="#">
									<img width="610" height="520" src="images/slider/slide_610x520.jpg" alt="" />
								</a>
							</div>
						</li>
						<li>
							<div class="image-style">
								<a href="#">
									<img width="610" height="520" src="images/slider/slide_610x520.jpg" alt="" />
								</a>
							</div>
						</li>
						<li>
							<div class="image-style">
								<a href="#">
									<img width="610" height="520" src="images/slider/slide_610x520.jpg" alt="" />
								</a>
							</div>
						</li>
					</ul>
				</div>
				<div class="noo-simple-product-wrap">
					<ul class="noo-simple-product-slider">
						<li>
							<a href="#">
								<div class="noo-simple-slider-item" data-bg="images/slider/slide_363x265.jpg">
									<div class="n-simple-content">
										<h3>Peach</h3>
										<span class="price"><span class="amount">&#36;25.00</span></span>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="noo-simple-slider-item" data-bg="images/slider/slide_363x265.jpg">
									<div class="n-simple-content">
										<h3>Fruits</h3>
										<span class="price"><span class="amount">&#36;25.00</span></span>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="noo-simple-slider-item" data-bg="images/slider/slide_363x265.jpg">
									<div class="n-simple-content">
										<h3>Chicken eggs</h3>
										<span class="price"><span class="amount">&#36;25.00</span></span>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="noo-simple-slider-item" data-bg="images/slider/slide_363x265.jpg">
									<div class="n-simple-content">
										<h3>Banana</h3>
										<span class="price"><span class="amount">&#36;25.00</span></span>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="noo-simple-slider-item" data-bg="images/slider/slide_363x265.jpg">
									<div class="n-simple-content">
										<h3>Jackfruit</h3>
										<span class="price"><span class="amount">&#36;99.00</span></span>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="noo-simple-slider-item" data-bg="images/slider/slide_363x265.jpg">
									<div class="n-simple-content">
										<h3>Grapes</h3>
										<span class="price"><span class="amount">&#36;22.00</span></span>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="noo-simple-slider-item" data-bg="images/slider/slide_363x265.jpg">
									<div class="n-simple-content">
										<h3>Cookies</h3>
										<span class="price"><span class="amount">&#36;99.00</span></span>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="noo-height-product pt-8 pb-10">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="noo-product-grid-wrap commerce product-style2">
									<div class="noo-sh-title">
										<img width="40" height="39" src="images/icon_p.png" alt=""/>
										<h2>NEW products</h2>
										<p> There are many variations of passages of Lorem Ipsum available</p>
									</div>
									<div class="noo-product-filter masonry-filters">
										<ul class="noo-header-filter" data-option-key="filter">
											<li>
												<a data-option-value="*" href="#all" class="selected">
													<span>All products</span>
												</a>
											</li>
											<li>
												<a data-option-value=".fruit" href="#fruit">
													<span>Fruit</span>
												</a>
											</li>
											<li>
												<a data-option-value=".vegetable" href="#vegetable">
													<span>Vegetable</span>
												</a>
											</li>
											<li>
												<a data-option-value=".bread" href="#bread">
													<span>Bread</span>
												</a>
											</li>
											<li>
												<a data-option-value=".others" href="#others">
													<span>Others</span>
												</a>
											</li>
										</ul>
									</div>
									<div class="noo-product-grid products row product-grid noo-grid-4">
										<div class="bread masonry-item noo-product-column col-md-4 col-sm-6 product">
											<div class="noo-product-inner">
												<div class="noo-product-thumbnail">
													<a href="shop-detail.html">
														<img width="600" height="760" src="images/product/product_260x330.jpg" alt="" />
													</a>
													<div class="noo-rating">
														<div class="star-rating">
															<span style="width:0%"></span>
														</div>
													</div>
												</div>
												<div class="noo-product-title">
													<h3><a href="shop-detail.html">French Bread</a></h3>
													<span class="price">
														<span class="amount">&#36;10.00</span>
													</span>
													<div class="noo-product-action">
														<div class="noo-action">
															<a href="ajax/product-quickview.html" class="noo-qucik-view">
																<i class="fa fa-search"></i>
															</a>
															<a href="#" class="button product_type_simple add_to_cart_button"></a>
															<div class="yith-wcwl-add-to-wishlist">
		                                                        <div class="yith-wcwl-add-button">
		                                                            <a href="#" class="add_to_wishlist"></a>
		                                                        </div>
		                                                    </div>
															<div class="clear"></div>
															<a href="shop-detail.html" class="link-detail">
																<i class="fa fa-link"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="bread masonry-item noo-product-column col-md-4 col-sm-6 product">
											<div class="noo-product-inner">
												<div class="noo-product-thumbnail">
													<a href="shop-detail.html">
														<img width="600" height="760" src="images/product/product_260x330.jpg" alt="" />
													</a>
													<div class="noo-rating">
														<div class="star-rating">
															<span style="width:0%"></span>
														</div>
													</div>
												</div>
												<div class="noo-product-title">
													<h3><a href="shop-detail.html">Cookie</a></h3>
													<span class="price">
														<span class="amount">&#36;15.00</span>
													</span>
													<div class="noo-product-action">
														<div class="noo-action">
															<a href="ajax/product-quickview.html" class="noo-qucik-view">
																<i class="fa fa-search"></i>
															</a>
															<a href="#" class="button product_type_simple add_to_cart_button"></a>
															<div class="yith-wcwl-add-to-wishlist">
		                                                        <div class="yith-wcwl-add-button">
		                                                            <a href="#" class="add_to_wishlist"></a>
		                                                        </div>
		                                                    </div>
															<div class="clear"></div>
															<a href="shop-detail.html" class="link-detail">
																<i class="fa fa-link"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="bread masonry-item noo-product-column col-md-4 col-sm-6 product">
											<div class="noo-product-inner">
												<div class="noo-product-thumbnail">
													<a href="shop-detail.html">
														<img width="600" height="760" src="images/product/product_260x330.jpg" alt="" />
													</a>
													<div class="noo-rating">
														<div class="star-rating">
															<span style="width:0%"></span>
														</div>
													</div>
												</div>
												<div class="noo-product-title">
													<h3><a href="shop-detail.html">Brown Bread</a></h3>
													<span class="price">
														<span class="amount">&#36;12.00</span>
													</span>
													<div class="noo-product-action">
														<div class="noo-action">
															<a href="ajax/product-quickview.html" class="noo-qucik-view">
																<i class="fa fa-search"></i>
															</a>
															<a href="#" class="button product_type_simple add_to_cart_button"></a>
															<div class="yith-wcwl-add-to-wishlist">
		                                                        <div class="yith-wcwl-add-button">
		                                                            <a href="#" class="add_to_wishlist"></a>
		                                                        </div>
		                                                    </div>
															<div class="clear"></div>
															<a href="shop-detail.html" class="link-detail">
																<i class="fa fa-link"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="fruit organic-fruits masonry-item noo-product-column col-md-4 col-sm-6 product">
											<div class="noo-product-inner">
												<div class="noo-product-thumbnail">
													<a href="shop-detail.html">
														<img width="600" height="760" src="images/product/product_260x330.jpg" alt="" />
													</a>
													<div class="noo-rating">
														<div class="star-rating">
															<span style="width:0%"></span>
														</div>
													</div>
												</div>
												<div class="noo-product-title">
													<h3><a href="shop-detail.html">Apples</a></h3>
													<span class="price">
														<span class="amount">&#36;3.95</span>
													</span>
													<div class="noo-product-action">
														<div class="noo-action">
															<a href="ajax/product-quickview.html" class="noo-qucik-view">
																<i class="fa fa-search"></i>
															</a>
															<a href="#" class="button product_type_simple add_to_cart_button"></a>
															<div class="yith-wcwl-add-to-wishlist">
		                                                        <div class="yith-wcwl-add-button">
		                                                            <a href="#" class="add_to_wishlist"></a>
		                                                        </div>
		                                                    </div>
															<div class="clear"></div>
															<a href="shop-detail.html" class="link-detail">
																<i class="fa fa-link"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="fruit masonry-item noo-product-column col-md-4 col-sm-6 product">
											<div class="noo-product-inner">
												<div class="noo-product-thumbnail">
													<a href="shop-detail.html">
														<img width="600" height="760" src="images/product/product_260x330.jpg" alt="" />
													</a>
													<div class="noo-rating">
														<div class="star-rating">
															<span style="width:0%"></span>
														</div>
													</div>
												</div>
												<div class="noo-product-title">
													<h3><a href="shop-detail.html">Mangoes</a></h3>
													<span class="price">
														<span class="amount">&#36;1.95</span>
													</span>
													<div class="noo-product-action">
														<div class="noo-action">
															<a href="ajax/product-quickview.html" class="noo-qucik-view">
																<i class="fa fa-search"></i>
															</a>
															<a href="#" class="button product_type_simple add_to_cart_button"></a>
															<div class="yith-wcwl-add-to-wishlist">
		                                                        <div class="yith-wcwl-add-button">
		                                                            <a href="#" class="add_to_wishlist"></a>
		                                                        </div>
		                                                    </div>
															<div class="clear"></div>
															<a href="shop-detail.html" class="link-detail">
																<i class="fa fa-link"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="others vegetable masonry-item noo-product-column col-md-4 col-sm-6 product">
											<div class="noo-product-inner">
												<div class="noo-product-thumbnail">
													<a href="shop-detail.html">
														<img width="600" height="760" src="images/product/product_260x330.jpg" alt="" />
													</a>
													<div class="noo-rating">
														<div class="star-rating">
															<span style="width:0%"></span>
														</div>
													</div>
												</div>
												<div class="noo-product-title">
													<h3><a href="shop-detail.html">Broccoli</a></h3>
													<span class="price">
														<span class="amount">&#36;2.05</span>
													</span>
													<div class="noo-product-action">
														<div class="noo-action">
															<a href="ajax/product-quickview.html" class="noo-qucik-view">
																<i class="fa fa-search"></i>
															</a>
															<a href="#" class="button product_type_simple add_to_cart_button"></a>
															<div class="yith-wcwl-add-to-wishlist">
		                                                        <div class="yith-wcwl-add-button">
		                                                            <a href="#" class="add_to_wishlist"></a>
		                                                        </div>
		                                                    </div>
															<div class="clear"></div>
															<a href="shop-detail.html" class="link-detail">
																<i class="fa fa-link"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="fruit others masonry-item noo-product-column col-md-4 col-sm-6 product">
											<div class="noo-product-inner">
												<div class="noo-product-thumbnail">
													<a href="shop-detail.html">
														<img width="600" height="760" src="images/product/product_260x330.jpg" alt="" />
													</a>
													<div class="noo-rating">
														<div class="star-rating">
															<span style="width:0%"></span>
														</div>
													</div>
												</div>
												<div class="noo-product-title">
													<h3><a href="shop-detail.html">Limes</a></h3>
													<span class="price">
														<span class="amount">&#36;0.75</span>
													</span>
													<div class="noo-product-action">
														<div class="noo-action">
															<a href="ajax/product-quickview.html" class="noo-qucik-view">
																<i class="fa fa-search"></i>
															</a>
															<a href="#" class="button product_type_simple add_to_cart_button"></a>
															<div class="yith-wcwl-add-to-wishlist">
		                                                        <div class="yith-wcwl-add-button">
		                                                            <a href="#" class="add_to_wishlist"></a>
		                                                        </div>
		                                                    </div>
															<div class="clear"></div>
															<a href="shop-detail.html" class="link-detail">
																<i class="fa fa-link"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="fruit masonry-item noo-product-column col-md-4 col-sm-6 product">
											<div class="noo-product-inner">
												<div class="noo-product-thumbnail">
													<a href="shop-detail.html">
														<img width="600" height="760" src="images/product/product_260x330.jpg" alt="" />
													</a>
													<div class="noo-rating">
														<div class="star-rating">
															<span style="width:0%"></span>
														</div>
													</div>
												</div>
												<div class="noo-product-title">
													<h3><a href="shop-detail.html">Passion Fruits</a></h3>
													<span class="price">
														<span class="amount">&#36;3.99</span>
													</span>
													<div class="noo-product-action">
														<div class="noo-action">
															<a href="ajax/product-quickview.html" class="noo-qucik-view">
																<i class="fa fa-search"></i>
															</a>
															<a href="#" class="button product_type_simple add_to_cart_button"></a>
															<div class="yith-wcwl-add-to-wishlist">
		                                                        <div class="yith-wcwl-add-button">
		                                                            <a href="#" class="add_to_wishlist"></a>
		                                                        </div>
		                                                    </div>
															<div class="clear"></div>
															<a href="shop-detail.html" class="link-detail">
																<i class="fa fa-link"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="newsletter">
					<div class="noo-sh-mailchimp">
						<div class="container">
							<div class="row">
								<div class="col-md-5 col-xs-12">
									<h3 class="noo-mail-title">Subscribe to us!</h3>
									<p class="noo-mail-desc">
										Enter Your email address for our mailing list to keep yourself update.
									</p>
								</div>
								<div class="col-md-7 col-xs-12">
									<form>
										<div class="newsletter-form-fields">
											<input type="email" name="EMAIL" placeholder="Email address" required />
											<input type="submit" value="submit"/>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

    <div class="section dark nobottommargin">
      <div class="container clearfix">

        <div class="row payments-info">
          <div class="col-md-6">
            <p class="lead nomargin"><%= t('.free_shipping').html_safe %></p>
          </div>
          <div class="col-md-6">
            <ul class="payment-cards clearfix" style="margin-top: 5px;">

              <li><%= image_tag "ecommerce/img/cards/visa.png", alt: "Visa" %></li>
              <li><%= image_tag "ecommerce/img/cards/mc.png", alt: "MasterCard" %></li>
              <li><%= image_tag "ecommerce/img/cards/diners.png", alt: "Diners" %></li>
              <li><%= image_tag "ecommerce/img/cards/amex.png", alt: "American Express" %></li>
              <li><%= image_tag "ecommerce/img/cards/up.png", alt: "Union Pay" %></li>
              <li><%= image_tag "ecommerce/img/cards/ripley.png", alt: "Ripley" %></li>
              <li><%= image_tag "ecommerce/img/cards/cmr.png", alt: "Banco Falabella" %></li>
              <li><%= image_tag "ecommerce/img/cards/oh.png", alt: "Tarjetas Oh!" %></li>
              <li><%= image_tag "ecommerce/img/cards/cencosud.png", alt: "Cencosud" %></li>

            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

</section><!-- #content end -->
