<div class="main">
	<div class="noo-slider-wrap">
		<ul class="noo-slider-image">
			<% @home_menu_categories.each do |category| %>
				<li>
					<div class="image-style">
						<a href=" <%= category_path(category) %> ">
							<%= image_tag category.image.url, width: 610, height: 520, alt: "" %>
						</a>
					</div>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="noo-simple-product-wrap">
		<ul class="noo-simple-product-slider">
			<li>
				<a href="#">
					<div class="noo-simple-slider-item" data-bg="<%= asset_path('ecommerce/img/slider/slide_363x265.jpg') %>">
						<div class="n-simple-content">
							<h3>Peach</h3>
							<span class="price"><span class="amount">&#36;25.00</span></span>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="noo-simple-slider-item" data-bg="<%= asset_path('ecommerce/img/slider/slide_363x265.jpg') %>">
						<div class="n-simple-content">
							<h3>Fruits</h3>
							<span class="price"><span class="amount">&#36;25.00</span></span>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="noo-simple-slider-item" data-bg="<%= asset_path('ecommerce/img/slider/slide_363x265.jpg') %>">
						<div class="n-simple-content">
							<h3>Chicken eggs</h3>
							<span class="price"><span class="amount">&#36;25.00</span></span>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="noo-simple-slider-item" data-bg="<%= asset_path('ecommerce/img/slider/slide_363x265.jpg') %>">
						<div class="n-simple-content">
							<h3>Banana</h3>
							<span class="price"><span class="amount">&#36;25.00</span></span>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="noo-simple-slider-item" data-bg="<%= asset_path('ecommerce/img/slider/slide_363x265.jpg') %>">
						<div class="n-simple-content">
							<h3>Jackfruit</h3>
							<span class="price"><span class="amount">&#36;99.00</span></span>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="noo-simple-slider-item" data-bg="<%= asset_path('ecommerce/img/slider/slide_363x265.jpg') %>">
						<div class="n-simple-content">
							<h3>Grapes</h3>
							<span class="price"><span class="amount">&#36;22.00</span></span>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="noo-simple-slider-item" data-bg="<%= asset_path('ecommerce/img/slider/slide_363x265.jpg') %>">
						<div class="n-simple-content">
							<h3>Cookies</h3>
							<span class="price"><span class="amount">&#36;99.00</span></span>
						</div>
					</div>
				</a>
			</li>
		</ul>
	</div>
	<div class="noo-height-product pt-8 pb-10">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="noo-product-grid-wrap commerce product-style2">
						<div class="noo-sh-title">
							<%= image_tag "ecommerce/img/icon_p.png", alt: "", width: 40, height: 39 %>
							<h2><%= t('.new_products') %></h2>
							<p> <%= t('.new_products_subtitle') %></p>
						</div>
						<div class="noo-product-filter masonry-filters">
							<ul class="noo-header-filter" data-option-key="filter">
								<li>
									<a data-option-value="*" href="#all" class="selected">
										<span>All products</span>
									</a>
								</li>
								<li>
									<a data-option-value=".fruit" href="#fruit">
										<span>Fruit</span>
									</a>
								</li>
								<li>
									<a data-option-value=".vegetable" href="#vegetable">
										<span>Vegetable</span>
									</a>
								</li>
								<li>
									<a data-option-value=".bread" href="#bread">
										<span>Bread</span>
									</a>
								</li>
								<li>
									<a data-option-value=".others" href="#others">
										<span>Others</span>
									</a>
								</li>
							</ul>
						</div>
						<div class="noo-product-grid products row product-grid noo-grid-4">
							<div class="bread masonry-item noo-product-column col-md-4 col-sm-6 product">
								<div class="noo-product-inner">
									<div class="noo-product-thumbnail">
										<a href="shop-detail.html">
											<%= image_tag "ecommerce/img/product/product_260x330.jpg", width: 600, height: 760, alt: "" %>
										</a>
										<div class="noo-rating">
											<div class="star-rating">
												<span style="width:0%"></span>
											</div>
										</div>
									</div>
									<div class="noo-product-title">
										<h3><a href="shop-detail.html">French Bread</a></h3>
										<span class="price">
											<span class="amount">&#36;10.00</span>
										</span>
										<div class="noo-product-action">
											<div class="noo-action">
												<a href="ajax/product-quickview.html" class="noo-qucik-view">
													<i class="fa fa-search"></i>
												</a>
												<a href="#" class="button product_type_simple add_to_cart_button"></a>
												<div class="yith-wcwl-add-to-wishlist">
                                                      <div class="yith-wcwl-add-button">
                                                          <a href="#" class="add_to_wishlist"></a>
                                                      </div>
                                                  </div>
												<div class="clear"></div>
												<a href="shop-detail.html" class="link-detail">
													<i class="fa fa-link"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="bread masonry-item noo-product-column col-md-4 col-sm-6 product">
								<div class="noo-product-inner">
									<div class="noo-product-thumbnail">
										<a href="shop-detail.html">
											<%= image_tag "ecommerce/img/product/product_260x330.jpg", width: 600, height: 760, alt: "" %>
										</a>
										<div class="noo-rating">
											<div class="star-rating">
												<span style="width:0%"></span>
											</div>
										</div>
									</div>
									<div class="noo-product-title">
										<h3><a href="shop-detail.html">Cookie</a></h3>
										<span class="price">
											<span class="amount">&#36;15.00</span>
										</span>
										<div class="noo-product-action">
											<div class="noo-action">
												<a href="ajax/product-quickview.html" class="noo-qucik-view">
													<i class="fa fa-search"></i>
												</a>
												<a href="#" class="button product_type_simple add_to_cart_button"></a>
												<div class="yith-wcwl-add-to-wishlist">
                                                      <div class="yith-wcwl-add-button">
                                                          <a href="#" class="add_to_wishlist"></a>
                                                      </div>
                                                  </div>
												<div class="clear"></div>
												<a href="shop-detail.html" class="link-detail">
													<i class="fa fa-link"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="bread masonry-item noo-product-column col-md-4 col-sm-6 product">
								<div class="noo-product-inner">
									<div class="noo-product-thumbnail">
										<a href="shop-detail.html">
											<%= image_tag "ecommerce/img/product/product_260x330.jpg", width: 600, height: 760, alt: "" %>
										</a>
										<div class="noo-rating">
											<div class="star-rating">
												<span style="width:0%"></span>
											</div>
										</div>
									</div>
									<div class="noo-product-title">
										<h3><a href="shop-detail.html">Brown Bread</a></h3>
										<span class="price">
											<span class="amount">&#36;12.00</span>
										</span>
										<div class="noo-product-action">
											<div class="noo-action">
												<a href="ajax/product-quickview.html" class="noo-qucik-view">
													<i class="fa fa-search"></i>
												</a>
												<a href="#" class="button product_type_simple add_to_cart_button"></a>
												<div class="yith-wcwl-add-to-wishlist">
                                                      <div class="yith-wcwl-add-button">
                                                          <a href="#" class="add_to_wishlist"></a>
                                                      </div>
                                                  </div>
												<div class="clear"></div>
												<a href="shop-detail.html" class="link-detail">
													<i class="fa fa-link"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="fruit organic-fruits masonry-item noo-product-column col-md-4 col-sm-6 product">
								<div class="noo-product-inner">
									<div class="noo-product-thumbnail">
										<a href="shop-detail.html">
											<%= image_tag "ecommerce/img/product/product_260x330.jpg", width: 600, height: 760, alt: "" %>
										</a>
										<div class="noo-rating">
											<div class="star-rating">
												<span style="width:0%"></span>
											</div>
										</div>
									</div>
									<div class="noo-product-title">
										<h3><a href="shop-detail.html">Apples</a></h3>
										<span class="price">
											<span class="amount">&#36;3.95</span>
										</span>
										<div class="noo-product-action">
											<div class="noo-action">
												<a href="ajax/product-quickview.html" class="noo-qucik-view">
													<i class="fa fa-search"></i>
												</a>
												<a href="#" class="button product_type_simple add_to_cart_button"></a>
												<div class="yith-wcwl-add-to-wishlist">
                                                      <div class="yith-wcwl-add-button">
                                                          <a href="#" class="add_to_wishlist"></a>
                                                      </div>
                                                  </div>
												<div class="clear"></div>
												<a href="shop-detail.html" class="link-detail">
													<i class="fa fa-link"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="fruit masonry-item noo-product-column col-md-4 col-sm-6 product">
								<div class="noo-product-inner">
									<div class="noo-product-thumbnail">
										<a href="shop-detail.html">
											<%= image_tag "ecommerce/img/product/product_260x330.jpg", width: 600, height: 760, alt: "" %>
										</a>
										<div class="noo-rating">
											<div class="star-rating">
												<span style="width:0%"></span>
											</div>
										</div>
									</div>
									<div class="noo-product-title">
										<h3><a href="shop-detail.html">Mangoes</a></h3>
										<span class="price">
											<span class="amount">&#36;1.95</span>
										</span>
										<div class="noo-product-action">
											<div class="noo-action">
												<a href="ajax/product-quickview.html" class="noo-qucik-view">
													<i class="fa fa-search"></i>
												</a>
												<a href="#" class="button product_type_simple add_to_cart_button"></a>
												<div class="yith-wcwl-add-to-wishlist">
                                                      <div class="yith-wcwl-add-button">
                                                          <a href="#" class="add_to_wishlist"></a>
                                                      </div>
                                                  </div>
												<div class="clear"></div>
												<a href="shop-detail.html" class="link-detail">
													<i class="fa fa-link"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="others vegetable masonry-item noo-product-column col-md-4 col-sm-6 product">
								<div class="noo-product-inner">
									<div class="noo-product-thumbnail">
										<a href="shop-detail.html">
											<%= image_tag "ecommerce/img/product/product_260x330.jpg", width: 600, height: 760, alt: "" %>
										</a>
										<div class="noo-rating">
											<div class="star-rating">
												<span style="width:0%"></span>
											</div>
										</div>
									</div>
									<div class="noo-product-title">
										<h3><a href="shop-detail.html">Broccoli</a></h3>
										<span class="price">
											<span class="amount">&#36;2.05</span>
										</span>
										<div class="noo-product-action">
											<div class="noo-action">
												<a href="ajax/product-quickview.html" class="noo-qucik-view">
													<i class="fa fa-search"></i>
												</a>
												<a href="#" class="button product_type_simple add_to_cart_button"></a>
												<div class="yith-wcwl-add-to-wishlist">
                                                      <div class="yith-wcwl-add-button">
                                                          <a href="#" class="add_to_wishlist"></a>
                                                      </div>
                                                  </div>
												<div class="clear"></div>
												<a href="shop-detail.html" class="link-detail">
													<i class="fa fa-link"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="fruit others masonry-item noo-product-column col-md-4 col-sm-6 product">
								<div class="noo-product-inner">
									<div class="noo-product-thumbnail">
										<a href="shop-detail.html">
											<%= image_tag "ecommerce/img/product/product_260x330.jpg", width: 600, height: 760, alt: "" %>
										</a>
										<div class="noo-rating">
											<div class="star-rating">
												<span style="width:0%"></span>
											</div>
										</div>
									</div>
									<div class="noo-product-title">
										<h3><a href="shop-detail.html">Limes</a></h3>
										<span class="price">
											<span class="amount">&#36;0.75</span>
										</span>
										<div class="noo-product-action">
											<div class="noo-action">
												<a href="ajax/product-quickview.html" class="noo-qucik-view">
													<i class="fa fa-search"></i>
												</a>
												<a href="#" class="button product_type_simple add_to_cart_button"></a>
												<div class="yith-wcwl-add-to-wishlist">
                                                      <div class="yith-wcwl-add-button">
                                                          <a href="#" class="add_to_wishlist"></a>
                                                      </div>
                                                  </div>
												<div class="clear"></div>
												<a href="shop-detail.html" class="link-detail">
													<i class="fa fa-link"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="fruit masonry-item noo-product-column col-md-4 col-sm-6 product">
								<div class="noo-product-inner">
									<div class="noo-product-thumbnail">
										<a href="shop-detail.html">
											<%= image_tag "ecommerce/img/product/product_260x330.jpg", width: 600, height: 760, alt: "" %>
										</a>
										<div class="noo-rating">
											<div class="star-rating">
												<span style="width:0%"></span>
											</div>
										</div>
									</div>
									<div class="noo-product-title">
										<h3><a href="shop-detail.html">Passion Fruits</a></h3>
										<span class="price">
											<span class="amount">&#36;3.99</span>
										</span>
										<div class="noo-product-action">
											<div class="noo-action">
												<a href="ajax/product-quickview.html" class="noo-qucik-view">
													<i class="fa fa-search"></i>
												</a>
												<a href="#" class="button product_type_simple add_to_cart_button"></a>
												<div class="yith-wcwl-add-to-wishlist">
                                                      <div class="yith-wcwl-add-button">
                                                          <a href="#" class="add_to_wishlist"></a>
                                                      </div>
                                                  </div>
												<div class="clear"></div>
												<a href="shop-detail.html" class="link-detail">
													<i class="fa fa-link"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="newsletter">
		<div class="noo-sh-mailchimp">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-xs-12">
						<h3 class="noo-mail-title">Subscribe to us!</h3>
						<p class="noo-mail-desc">
							Enter Your email address for our mailing list to keep yourself update.
						</p>
					</div>
					<div class="col-md-7 col-xs-12">
						<form>
							<div class="newsletter-form-fields">
								<input type="email" name="EMAIL" placeholder="Email address" required />
								<input type="submit" value="submit"/>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section dark nobottommargin">
	  <div class="container clearfix">

	    <div class="row payments-info">
	      <div class="col-md-3">
	        <p class="lead nomargin"><%= t('.payment_methods').html_safe %></p>
	      </div>
	      <div class="col-md-9">
	        <ul class="payment-cards clearfix" style="margin-top: 5px;">

	          <li><%= image_tag "ecommerce/img/cards/visa.png", alt: "Visa" %></li>
	          <li><%= image_tag "ecommerce/img/cards/mc.png", alt: "MasterCard" %></li>
	          <li><%= image_tag "ecommerce/img/cards/diners.png", alt: "Diners" %></li>
	          <li><%= image_tag "ecommerce/img/cards/amex.png", alt: "American Express" %></li>
	          <li><%= image_tag "ecommerce/img/cards/up.png", alt: "Union Pay" %></li>
	          <li><%= image_tag "ecommerce/img/cards/ripley.png", alt: "Ripley" %></li>
	          <li><%= image_tag "ecommerce/img/cards/cmr.png", alt: "Banco Falabella" %></li>
	          <li><%= image_tag "ecommerce/img/cards/oh.png", alt: "Tarjetas Oh!" %></li>
	          <li><%= image_tag "ecommerce/img/cards/cencosud.png", alt: "Cencosud" %></li>

	        </ul>
	      </div>
	    </div>
	  </div>
	</div>

</div>
