<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/<%= @fb_compatible_locale_code %>/sdk.js#xfbml=1&version=v2.12&appId=<%= Ecommerce.fb_app_id %>&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="main">
  <div class="commerce single-product noo-shop-main">
    <div class="container">
      <div class="row">
        <div class="noo-main col-md-9">
          <div class="product">
            <div class="single-inner">
              <div class="images">
                <div class="product-simple-image">
                  <a href="<%= @product.image.url %>" data-rel="prettyPhoto">
                    <img width="300" height="381" src="<%= @product.image.url %>" alt="" />
                  </a>
                </div>
              </div>
              <div class="summary entry-summary">
                <h1 class="product_title entry-title"><%= @product.name %></h1>
                <p class="price"><span class="amount"><%= number_to_currency(@product.price_cents / 100) %></span></p>
                <p class="description"><%= @product.description %></p>
                <div class="product_meta">
                  <span class="posted_in">Category: <%= link_to @product.category.name, category_path(@product.category)%></span>
                  <span class="tagged_as">Tags: <a href="#">cucumbers</a>, <a href="#">vegetables</a></span>
                </div>
                <form class="cart">
                  <div class="yith-wcwl-add-to-wishlist" id="devtech_minus">
                    <a href="#" class="add_to_wishlist">-</a>
                  </div>
                  <div class="quantity" id="devtech_quantity">
                    <input type="number" step="1" min="1" name="quantity" value="1" title="Qty" class="input-text qty text no-spinners" id="devtech_quantity_field" size="4"/>
                  </div>
                  <div class="yith-wcwl-add-to-wishlist" id="devtech_plus">
                    <a href="#" class="add_to_wishlist">+</a>
                  </div>
                  <%= button_to "Add to cart", cart_items_path(@product), {class: 'single_add_to_cart_button button'} %>

                </form>
                <div class="yith-wcwl-add-to-wishlist">
                  <div class="yith-wcwl-add-button">
                      <a href="#" class="add_to_wishlist"></a>
                  </div>
                </div>
                <div class="clear"></div>
                <div class="noo-social-share">
                  <span>Share:</span>
                  <a href="#share" class="noo-share" title="Share on Facebook">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="#share" class="noo-share" title="Share on Twitter">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#share" class="noo-share" title="Share on Google+">
                    <i class="fa fa-google-plus"></i>
                  </a>
                  <a href="#share" class="noo-share" title="Share on Pinterest">
                    <i class="fa fa-pinterest"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="commerce-tabs">
              <ul class="nav nav-tabs tabs">
                  <li class="active">
                    <a data-toggle="tab" href="#tab-1">Description</a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="#tab-2">Reviews</a>
                  </li>
                </ul>
              <div class="tab-content">
                <div class="tab-pane fade in active" id="tab-1">
                  <p><%= @product.description %></p>
                </div>
                <div id="tab-2" class="tab-pane fade">
                  <div class="fb-comments" data-href="<%= request.url %>" data-width="100%" data-order-by="reverse_time" data-numposts="5"></div>
                </div>
            </div>
            <div class="related products">
              <h2>Related Products</h2>
              <div class="products row product-grid">
                <div class="masonry-item noo-product-column col-md-4 col-sm-6 product">
                  <div class="noo-product-inner">
                    <div class="noo-product-thumbnail">
                      <a href="shop-detail.html">
                        <img width="600" height="760" src="images/product/product_260x330.jpg" alt="" />
                      </a>
                      <div class="noo-rating">
                        <div class="star-rating">
                          <span style="width:20%"></span>
                        </div>
                      </div>
                    </div>
                    <div class="noo-product-title">
                      <h3><a href="shop-detail.html">Carrots</a></h3>
                      <span class="price"><span class="amount">&#36;1.05</span></span>
                      <div class="noo-product-action">
                        <div class="noo-action">
                          <a href="#" class="button product_type_simple add_to_cart_button">
                            <span>Add to cart</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="masonry-item noo-product-column col-md-4 col-sm-6 product">
                  <div class="noo-product-inner">
                    <div class="noo-product-thumbnail">
                      <a href="shop-detail.html">
                        <img width="600" height="760" src="images/product/product_260x330.jpg" alt="" />
                      </a>
                      <div class="noo-rating">
                        <div class="star-rating">
                          <span style="width:0%"></span>
                        </div>
                      </div>
                    </div>
                    <div class="noo-product-title">
                      <h3><a href="shop-detail.html">Celery</a></h3>
                      <span class="price"><span class="amount">&#36;2.09</span></span>
                      <div class="noo-product-action">
                        <div class="noo-action">
                          <a href="#" class="button product_type_simple add_to_cart_button">
                            <span>Add to cart</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="masonry-item noo-product-column col-md-4 col-sm-6 product">
                  <div class="noo-product-inner">
                    <div class="noo-product-thumbnail">
                      <a href="shop-detail.html">
                        <img width="600" height="760" src="images/product/product_260x330.jpg" alt="" />
                      </a>
                      <div class="noo-rating">
                        <div class="star-rating">
                          <span style="width:0%"></span>
                        </div>
                      </div>
                    </div>
                    <div class="noo-product-title">
                      <h3><a href="shop-detail.html">Onions</a></h3>
                      <span class="price"><span class="amount">&#36;1.70</span></span>
                      <div class="noo-product-action">
                        <div class="noo-action">
                          <a href="#" class="button product_type_simple add_to_cart_button">
                            <span>Add to cart</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="noo-sidebar col-md-3">
          <div class="noo-sidebar-wrap">
            <div class="widget commerce widget_product_search">
              <h3 class="widget-title">Search</h3>
              <form class="commerce-product-search">
                <input type="search" id="commerce-product-search-field" class="search-field" placeholder="Search Products&hellip;" value="" name="s"/>
                <input type="submit" value="Search"/>
              </form>
            </div>
            <div class="widget commerce widget_product_categories">
              <h3 class="widget-title">Categories</h3>
              <ul class="product-categories">
                <li><a href="#">Bread</a></li>
                <li><a href="#">Featured</a></li>
                <li><a href="#">Fruit</a></li>
                <li><a href="#">Fruit Box</a></li>
                <li><a href="#">Fruits</a></li>
                <li><a href="#">Others</a></li>
                <li><a href="#">Package</a></li>
                <li><a href="#">Vegetable</a></li>
                <li><a href="#">Vegetable Box</a></li>
              </ul>
            </div>
            <div class="widget commerce widget_products">
              <h3 class="widget-title">Popular products</h3>
              <ul class="product_list_widget">
                <li>
                  <a href="shop-detail.html">
                    <img width="100" height="100" src="images/product/product_100x100.jpg" alt="" />
                    <span class="product-title">French Bread</span>
                  </a>
                  <span class="amount">&#36;10.00</span>
                </li>
                <li>
                  <a href="shop-detail.html">
                    <img width="100" height="100" src="images/product/product_100x100.jpg" alt="" />
                    <span class="product-title">Cookie</span>
                  </a>
                  <span class="amount">&#36;15.00</span>
                </li>
                <li>
                  <a href="shop-detail.html">
                    <img width="100" height="100" src="images/product/product_100x100.jpg" alt="" />
                    <span class="product-title">Brown Bread</span>
                  </a>
                  <span class="amount">&#36;12.00</span>
                </li>
                <li>
                  <a href="shop-detail.html">
                    <img width="100" height="100" src="images/product/product_100x100.jpg" alt="" />
                    <span class="product-title">Apples</span>
                  </a>
                  <span class="amount">&#36;3.95</span>
                </li>
                <li>
                  <a href="shop-detail.html">
                    <img width="100" height="100" src="images/product/product_100x100.jpg" alt="" />
                    <span class="product-title">Pomegranates</span>
                  </a>
                  <span class="amount">&#36;3.90</span>
                </li>
              </ul>
            </div>
            <div class="widget commerce widget_product_tag_cloud">
              <h3 class="widget-title">Product Tags</h3>
              <div class="tagcloud">
                <a href="#">apple</a>
                <a href="#">bread</a>
                <a href="#">broccoli</a>
                <a href="#">brown bread</a>
                <a href="#">carrot</a>
                <a href="#">celery</a>
                <a href="#">cookie</a>
                <a href="#">cucumbers</a>
                <a href="#">detox juicing</a>
                <a href="#">french bread</a>
                <a href="#">fruits</a>
                <a href="#">green apple</a>
                <a href="#">lemon</a>
                <a href="#">lime</a>
                <a href="#">mango</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="noo-footer-shop-now">
    <div class="container">
      <div class="col-md-7">
        <h4>- Every day fresh -</h4>
        <h3>organic food</h3>
      </div>
      <img src="images/organici-love-me.png" class="noo-image-footer" alt="" />
    </div>
  </div>
</div>

<script>
  $("#devtech_plus").click(function() {
    $("#devtech_quantity_field").val(parseInt($("#devtech_quantity_field").val()) + 1);
  });
  $("#devtech_minus").click(function() {
    if (parseInt($("#devtech_quantity_field").val()) > 1) {
      $("#devtech_quantity_field").val(parseInt($("#devtech_quantity_field").val()) - 1);
    }
  });
</script>
