<%= simple_form_for([:backoffice, @backoffice_payment_method]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: t('.name') %>
    <%= f.input :processor, label: "Name of Credit Card Processor" %>
    <%= f.input :account, label: "Account Id of Payment Processor" %>
    <%= f.input :key, label: "Auth Key for Payment Processor" %>
    <%= f.input :secret, label: "Secret Key for Payment Processor" %>
    <%= f.input :callback_url, label: "Callback Url for Payment Processor" %>
    <%= f.input :success_marks_as_paid, label: "Succesful Processing Will Mark Order as Paid" %>
    <%= f.input :pre_message, label: "Message to show in Payment Message List" %>
    <%= f.input :post_message, label: "Message to show after Payment Method chosen" %>
    <%= f.input :status, collection: Ecommerce::PaymentMethod.statuses.keys %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
