<div class="page-header">
  <%= link_to backoffice_payment_methods_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t('common.back') %>
  <% end %>
  <%= link_to backoffice_payment_method_path(@backoffice_payment_method), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    <%= t('common.show') %>
  <% end %>
  <h1><%= t('.editing_payment_method') %></h1>
</div>

<%= render 'form' %>
