<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/<%= @fb_compatible_locale_code %>/sdk.js#xfbml=1&version=v2.12&appId=<%= Ecommerce.fb_app_id %>&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<main class="product-details-main">
  <section class="product-details">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <%= link_to @product.image.url do %>
            <%= image_tag @product.image.url, class: "img-responsive desktop-500" %>
          <% end %>
        </div>
        <div class="col-md-7">
          <h3><%= @product.name %></h3>
          <% if @product.price == @product.discounted_price %>
            <div class="price d-flex hidden-xs">
              <p class="product-info-price single-30"><%= product_session_price(@product, "current_price") %></p>
            </div>
          <% else %>
            <div class="price d-flex hidden-xs">
              <p class="product-info-price-regular single-30"><%= product_session_price(@product, "price") %></p>
              <p class="product-info-price-discounted single-30"><%= product_session_price(@product, "current_price") %></p>
            </div>
          <% end %>
          <p>
            <%= @product.description.gsub("**","<br>").html_safe if @product.description %>
          </p>
          <p class="hidden-xs">
            <%= t('.categories') %>
            <span>
              <% @product.translated_category_list.each do |cl| %>
              <span>
                <%= link_to cl, products_path(category_id: Ecommerce::Category.find_by("lower(name) = ?", cl.downcase).try(:id)), style: "" %>
              </span>
              <% end %>
            </span>
          </p>
          <% if @product.price == @product.discounted_price %>
            <div class="visible-xs">
              <div class="price d-flex">
                <p class="product-info-price"><%= product_session_price(@product, "current_price") %></p>
              </div>
            </div>
          <% else %>
            <div class="visible-xs">
              <div class="price d-flex">
                <div class="price-inner-wrapper">
                  <p class="product-info-price-regular"><%= product_session_price(@product, "price") %></p>
                  <p class="product-info-price-discounted"><%= product_session_price(@product, "current_price") %></p>
                </div>
              </div>
            </div>
          <% end %>
          <div>
            <p class="out_of_stock"><span class="" id="out_of_stock_text"><%= t('.no_more_stock_available') %></span></p>
          </div>
          <div class="add-to-cart-btn-group max-360">
            <% if @product.in_stock? %>
              <%= simple_form_for @cart_item, remote: true, html: { class: "cart-form" } do |f| %>
                <div class="add-to-cart-btn-container">
                  
                  <div class="yith-wcwl-add-to-wishlist yith-wcwl-add-to-wishlist_index devtech_minus_class container-minus-plus" id="devtech_minus">
                    <a href="#" class="add_to_wishlist devtech_minus_a_class no-click-styles" %>-</a>
                  </div>
                  <div class="quantity container-qty" id="devtech_quantity">
                    <%= f.input :quantity, label: false, input_html: { class: 'input-text qty text no-spinners', id: "devtech_quantity_field", value: "1", size: "4", step: "1", min: "1" } %>
                  </div>

                  <%= button_tag type: 'submit', class: "btn btn-default index_single_add_to_cart_button button container-cart-button single_add_to_cart_button" do %>
                    <%= fa_icon('shopping-cart', style: 'color: white;') %>
                    <%= t('.add_to_cart') %>
                  <% end %>

                  <div class="yith-wcwl-add-to-wishlist yith-wcwl-add-to-wishlist_index devtech_plus_class container-minus-plus" id="devtech_plus">
                    <a href="#" class="add_to_wishlist devtech_plus_a_class no-click-styles" >+</a>
                  </div>

                
                </div>
                  
                  <%= f.hidden_field :product_id, value: @product.id, id: "product_product_id_#{@product.id}" %>
                <% end %>


            <% else %>
              <%= simple_form_for Ecommerce::StockAlert.new, remote: true, html: { class: "stock_alert", id: "stock_alert_#{@product.id}" } do |f| %>
                <%= f.button :submit, t('.alert_me'), class: "index_single_stock_alert_button button" %>
                <%= f.hidden_field :product_id, value: @product.id, id: "product_product_id_#{@product.id}" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="related-products">
    <h3 style="text-transform: uppercase;"><%= t('.related_products') %></h3>
    <div class="container">
      <div class="row related-product-slider">

        <%= render partial: "ecommerce/#{Ecommerce.ecommerce_layout}/product/product", collection: @related_products, as: :item %>

      </div>
    </div>
  </section>
</main>

<script>
  $("#devtech_plus").click(function(e) {
    if ($("#devtech_quantity_field").val() < <%= @product.total_quantity %>) {
      $("#devtech_quantity_field").val(parseInt($("#devtech_quantity_field").val()) + 1);
    } else {
      $("#out_of_stock_text").show();
    }
    e.preventDefault();
  });
  $("#devtech_minus").click(function(e) {
    if (parseInt($("#devtech_quantity_field").val()) > 1) {
      $("#devtech_quantity_field").val(parseInt($("#devtech_quantity_field").val()) - 1);
    }
    $("#out_of_stock_text").hide();
    e.preventDefault();
  });

</script>
