<main>
<!-- ordere status label -->
<section class="recommendation-label">
  <div>
    <h3><%= t('.order') %> # <%= @order.id %></h3>
  </div>
</section>
<section class="order-status">
  <div class="container">
    <div class="order-status-details"> 
      <p class="order-status-label"><%= t('.order_status') %></p>
      <p class="d-flex space-between">
        <%= t('.order_total') %>
        <span>
          <span class="amount" style="display: inline;"><%= @order.amount.currency.symbol %></span>
          <span class="amount" style="display: inline;" id="payment-amount"><%= @order.amount %></span>
        </span>
      </p>
      <p class="d-flex space-between"><%= t('.points_won') %><span><%= PointsTransaction.find_by(tx_type: 'purchase', tx_id: @order.id).try(:points) || 0 %></span></p>
      <p class="d-flex space-between"><%= t('.payment') %><span><%= friendly_payment_stage(@order.payment_status) %></span></p>

      <% if @order.process_comments == "PagoEfectivo" %>

        <p class="d-flex space-between">
          <%= t('.payment_method') %>
          <span>
            PagoEfectivo
          </span>
        </p>

        <% end %>

      <p class="d-flex space-between">
        <%= t('.shipping') %> <span><%= t('.not_yet_shipped') %></span>
      </p>
      <p class="d-flex space-between">
        <% if @order.efact_invoice_url %>
          <%= t('.invoice') %> <span><%= link_to t('.see_invoice'), @order.efact_invoice_url, target: "blank" %></span>
        <% else %>
          <%= t('.invoice') %> <span><%= t('.not_yet_invoiced') %></span>
        <% end %>
      </p>
    </div>

    <% if @order.payment_status == "unpaid" %>

      <% if @order.process_comments == "PagoEfectivo" %>

        <div class="order-status-payment d-flex well" style="flex-direction: column;">
          <p style="font-weight: bold; font-size: 22px; align-self: center;">Instrucciones para pagar con PagoEfectivo</p>
          <p style="font-weight: bold; font-size: 22px; align-self: center;">Fecha límite de pago: <%= Time.at(@order.pagoefectivo_exp_date.to_i).strftime("%d %b %H:%M") %></p>
          <p style="font-weight: bold; font-size: 22px; align-self: center; color: red;">Código CIP: <%= @order.pagoefectivo_cip %></p>
          <p>Realiza tu pago desde:</p>
          <% if @order.pagoefectivo_qr_code.present? %>
            <p style="font-weight: bold; margin-top: 20px;">Desde tu app de pagos utilizando este QR:</p>
            <div style="text-align: center;">
              <%= image_tag @order.pagoefectivo_qr_code, height: 200, width: 200 %>
            </div>
          <% end %>
          <p style="font-weight: bold; margin-top: 20px;">Banca móvil o por Internet:</p>
          <p>1. Ingresa a tu banca desde web o móvil dentro de la fecha límite de pago.</p>
          <p>2. Selecciona pago de servicio, elige PagoEfectivo e ingresa número CIP.</p>
          <p>3. Antes de pagar, verifica que los datos coincidan con los de esta orden de pago.</p>
          <p>4. Realiza el pago de servicio por el monto total.</p>
          <p>5. Conserva el comprobante de pago para cualquier aclaración.</p>
          <%= image_tag "https://expatshop-prod.s3.amazonaws.com/logos_pagoefectivo.png" %>
          <p style="font-weight: bold; margin-top: 20px;">Agentes y Bodegas:</p>
          <p>1. Acércate al agente o agencia autorizada dentro de la fecha límite de pago</p>
          <p>2. Indica a la persona de caja que realizarás un pago de servicio a PagoEfectivo (moneda), indica el código CIP y el importe a pagar.</p>
          <p>3. Antes de pagar, verifica que los datos coincidan con los de esta orden de pago.</p>
          <p>4. Realiza el pago en efectivo por el total a pagar.</p>
          <p>5. Conserva el comprobante de pago para cualquier aclaración.</p>
          <%= image_tag "https://expatshop-prod.s3.amazonaws.com/logos_pagoefectivo_agentes.png" %>
        </div>


      <% else %>

        <form action="">
          <div class="order-status-payment d-flex">
            <input type="radio" name="payment_curency" id="pay_in_dollars" />
            <div class="order-status-payment-details">
              <p class="d-flex space-between">
                <%= t('.pay_in_dollars') %> <span>$ <%= @order.amount %></span>
              </p>
            </div>
          </div>
          <div class="order-status-payment d-flex">
            <input type="radio" name="payment_curency" id="pay_in_soles" />
            <div class="order-status-payment-details">
              <p class="d-flex space-between">
                <%= t('.pay_in_soles') %>
                <span>
                  <span>S/. </span>
                  <span id="payment-amount-in-soles"><%= @order.amount * @exchange_rate %>
                  </span>
                </span>
              </p>
            </div>
          </div>
          <button id="retry-pay-now-button"><%= t('.try_to_pay_now') %></button>
        </form>
      
      <% end %>
    <% end %>


  </div>
</section>
<section class="order-status-order-details cart-page">
  <div class="container-fluid">
    <h3><%= t('.order_details') %></h3>
    <table style="width: 100%;">
      <thead>
        <tr>
          <th><%= t('.product') %></th>
          <th><%= t('.price') %></th>
          <th><%= t('.quantity') %></th>
          <th><%= t('.total') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_items.each do |item| %>
          <tr>
            <th>
              <div class="row">
                <div class="col-md-3 hidden-xs">
                  <%= image_tag item.product.image.thumb_100.url, class:"img-responsive", alt: "" %>
                </div>
                <div class="col-md-8 col-xs-12">
                  <p><%= item.product.name %></p>
                  <span class="hidden-xs"><%= item.product.weight %>g</span>
                </div>
              </div>
            </th>
            <th>
              <div>
                <p><%= number_to_currency((item.price * @exchange_rate), unit: "S/. ") %></p>
                <p><%= number_to_currency((item.price)) %></p>
              </div>
            </th>
            <th>
              <div class="quantity-btn d-flex flex-center">
                <span><%= item.quantity %></span>
              </div>
            </th>
            <th>
              <p><%= number_to_currency((item.line_total(@current_user) * @exchange_rate), unit: "S/. ") %></p>
              <p><%= number_to_currency(item.line_total(@current_user)) %></p>
            </th>
            <th><i class="fa-solid fa-trash-can cursor-pointer"></i></th>
          </tr>

        <% end %>

      </tbody>
    </table>

    <%= button_to "", orders_path, class: "main-btn order-status-order-details-button", method: :get do %>
      <%= fa_icon 'shopping-cart' %>
      <%= t('.my_orders') %>
    <% end %>
  </div>
</section>
</main>

<!-- Incluyendo .js de Culqi Checkout-->
<!-- <script src="https://checkout.culqi.com/v2"></script> -->
<!--<script src="https://checkout.culqi.com/js/v3"></script> -->
<script src="https://3ds.culqi.com"></script>
<script src="https://checkout.culqi.com/js/v4"></script>

<script>
  Culqi3DS.publicKey = "<%= Culqi.public_key %>";
</script>

<script>

Culqi.publicKey = "<%= Culqi.public_key %>";
var culqi_payment_amount = $('#pay_in_soles').prop('checked') ? (Number($('#payment-amount-in-soles').html()) * 100).toFixed(2) : ($('#payment-amount').html() * 100).toFixed(2)

Culqi.settings({
  title: '<%= t('ecommerce.processor.culqi.payment_popup_title', site_name: Ecommerce.site_name) %>',
  currency: ($('#pay_in_soles').prop('checked')) ? "PEN" : "USD",
  description: '<%= "#{t('ecommerce.processor.culqi.order_label')}: #{@order.id}" %>',
  amount: Number(culqi_payment_amount),
  order: '<%= @order.id %>'
});

$('#retry-pay-now-button').on('click', function(e) {
  // Abre el formulario con las opciones de Culqi.settings
  var culqi_payment_amount = $('#pay_in_soles').prop('checked') ? (Number($('#payment-amount-in-soles').html()) * 100).toFixed(2) : ($('#payment-amount').html() * 100).toFixed(2)

  Culqi.settings({
    title: '<%= t('ecommerce.processor.culqi.payment_popup_title', site_name: Ecommerce.site_name) %>',
    currency: ($('#pay_in_soles').prop('checked')) ? "PEN" : "USD",
    description: '<%= "#{t('ecommerce.processor.culqi.order_label')}: #{@order.id}" %>',
    amount: Number(culqi_payment_amount)
  });

  Culqi3DS.settings = {
    charge: {
        totalAmount: Number(culqi_payment_amount),
        returnUrl: "<%= ENV["ROLLBAR_ENV"] == 'production' ? 'https://expatshop.pe/store/checkout' : 'http://localhost:3000/store/checkout' %>",
    },
    card: {
      email: "<%= @current_user_email %>",
    },
  };

  Culqi.options({
              lang: "auto",
              installments: false, // Habilitar o deshabilitar el campo de cuotas
              paymentMethods: {
                tarjeta: true,
                yape: true, 
                bancaMovil: true,
                agente: true,
                billetera: true,
                cuotealo: true,
              },
              style: {
                logo: 'https://s3.amazonaws.com/devtechperu-expatshop-dev/static/images/expatshop_logo_circular_280x280.png'
              },
            });


  Culqi.open();
  e.preventDefault();

});

window.culqi = async function () {

  if(Culqi.token) { // ¡Token creado exitosamente!
      // Get the token ID:
      Culqi.close();
      var token = Culqi.token;
      window.token = token;
      var culqi_payment_amount = $('#pay_in_soles').prop('checked') ? (Number($('#payment-amount-in-soles').html()) * 100).toFixed(2) : ($('#payment-amount').html() * 100).toFixed(2)

      Culqi3DS.settings = {
        charge: {
            totalAmount: Number(culqi_payment_amount),
            returnUrl: "<%= ENV["ROLLBAR_ENV"] == 'production' ? 'https://expatshop.pe/store/checkout' : 'http://localhost:3000/store/checkout' %>",
          },
          card: {
            email: "<%= @current_user_email %>",
          },
      };

      const deviceFingerPrintId = await Culqi3DS.generateDevice();
      window.deviceFingerPrintId = deviceFingerPrintId

      if (deviceFingerPrintId) {
        // console.log('Fingerpint Id Generated', deviceFingerPrintId)
      } else {
        console.log('Error generating deviceFingerPrintId')
      }


      $.post(
        "checkout/pay_order_culqi_checkout",
        {
        culqi_token: token,
        amount: Number(culqi_payment_amount),
        culqi_payment_amount: Number(culqi_payment_amount),
        currency: ($('#pay_in_soles').prop('checked')) ? "PEN" : "USD",
        order_id: '<%= "#{@order.id}" if @order %>',
        device_finger_print_id: deviceFingerPrintId
        },
        function(data) {
          // console.log('data response from checkout/pay_order_culqi_checkout: ', data)
          if (data.result && data.result == "3ds_required") {
            Culqi3DS.initAuthentication(token.id);

          } else {
            Culqi3DS.reset();
            window.deviceFingerPrintId = null
            window.token = null
          }
          
        }
     );
     //alert('Se ha creado un token:' + token);

  } else { // ¡Hubo algún problema!
      // Mostramos JSON de objeto error en consola
      console.log(Culqi.error);
      // alert(Culqi.error.mensaje);
  }
};
</script>

<script>
  window.addEventListener("message", function(event) {
    
    const response = event.data;

    if (response.loading) {
      // Show custom loading
      // console.log("Loading..."); // Replace this with your actual loading logic
    } else {
      // Hide custom loading
      // console.log("Loading done."); // Replace this with your actual logic to stop loading indication
    }

    if (response.parameters3DS) {
      // 3DS authentication completed successfully
      // console.log("3DS Auth Success:", response.parameters3DS);

      var culqi_payment_amount = $('#pay_in_soles').prop('checked') ? (Number($('#payment-amount-in-soles').html()) * 100).toFixed(2) : ($('#payment-amount').html() * 100).toFixed(2)

      $.post(
        "checkout/pay_order_culqi_checkout_3ds_step",
        {
        culqi_token: window.token,
        amount: Number(culqi_payment_amount),
        culqi_payment_amount: culqi_payment_amount,
        currency: ($('#pay_in_soles').prop('checked')) ? "PEN" : "USD",
        device_finger_print_id: window.deviceFingerPrintId,
        authentication_3DS: response.parameters3DS,
        order_id: "<%= @order.id %>"
        },
        function(data) {
          // console.log('data response from checkout/pay_order_culqi_checkout_3ds_step: ', data)
        }
      );
    }

    if (response.error) {
      // There was an error with the 3DS authentication
      console.log("3DS Auth Error:", response.error);
      window.location.replace("<%= orders_path %>?error=payment");
    }
  }, false);
</script>
