<%= simple_form_for([:backoffice, @backoffice_user]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, label: t('.first_name')  %>
    <%= f.input :last_name, label: t('.last_name')  %>
    <%= f.input :email, label: t('.email') %>
    <%= f.input :avatar, label: t('.avatar') %>
    <%= f.input :role, collection: User.roles.keys, label: t('.role') %>
    <%= f.input :pricelist_id, collection: Ecommerce::Pricelist.active, label: t('.price_list') %>
    <%= f.input :phone, label: t('.phone') %>
    <%= f.input :username, label: t('.user_name') %>
    <%= f.input :doc_id, label: t('.document') %>
    <%= f.input :email_suppressed, as: :boolean, label: t('Email Suppressed') %>
    <%= f.input :suppression_reason, collection: User.suppression_reasons.keys, label: t('Suppression Reason') %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('.update_user'), class: "btn btn-primary" %>
  </div>
<% end %>
