<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Date / Time</th>
        <th>User</th>
        <th>Points</th>
        <th>Tx Type</th>
        <th>Tx Id</th>
        <th>Status</th>
        <th>Void</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @points_transactions) do |tx| %>
        <td><%= friendly_formatted_date(tx.created_at) %></td>
        <td><%= tx.try(:user).try(:name) %></td>
        <td style="color: <%= tx.points < 0 ? 'red' : 'black' %>;"><%= tx.points %></td>
        <td><%= tx.tx_type %></td>
        <td><%= tx.tx_id %></td>
        <td><%= tx.status %></td>
        <% if tx.active? && (tx.purchase? || tx.customer_service?) %>
          <td><%= link_to "<i class='material-icons'>block</i>".html_safe, backoffice_void_points_transaction_path(tx) %></td>
        <% else %>
          <td></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
