<div class="page-header">
  <%= link_to backoffice_users_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_backoffice_user_path(@backoffice_user), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show User</h1>
</div>

<dl class="dl-horizontal">
  <dt>Id:</dt>
  <dd><%= @backoffice_user.id %></dd>

  <dt>Name:</dt>
  <dd><%= @backoffice_user.name %></dd>

  <dt>Email:</dt>
  <dd><%= @backoffice_user.email %></dd>

  <dt>Phone:</dt>
  <dd><%= @backoffice_user.username %></dd>

  <dt>Document:</dt>
  <dd><%= @backoffice_user.doc_id %></dd>

  <dt>Role:</dt>
  <dd><%= @backoffice_user.role %></dd>

  <dt>Pricelist:</dt>
  <dd><%= @backoffice_user.pricelist.try(:name) %></dd>

</dl>

<h3 style='margin-top: 50px;'>User Adresses</h3>
<%= render "ecommerce/backoffice/addresses/index" %>
