  <section class="noo-page-heading eff">
    <div class="container">
      <div class="noo-heading-content">
        <h1 class="page-title eff">Checkout</h1>
        <div class="noo-page-breadcrumb eff">
          <a href="./" class="home">ExpatShop Perú</a>/<span>Checkout</span>
        </div>
      </div>
    </div>
  </section>
  <div class="main">
    <div class="commerce commerce-page commerce-checkout">
      <div class="container">
        <div class="row">
          <div class="noo-main col-md-8">
            <div class="customer-details">
              <div class="commerce-address-fields">
                <h3><%= t('.shipping_address') %></h3>
                <% if @checkout_addresses.count > 0 %>
                  <div class="form-row form-row">
                    <label>
                      <h4><%= t('.pick_address') %></h4>
                    </label>
                  </div>
                  <%= render "ecommerce/#{Ecommerce.ecommerce_layout}/checkout/pick_address_form" %>
                <% end %>
                <div class="form-row form-row">
                  <label>
                    <h4><%= t('.create_a_new_address') %></h4>
                  </label>
                </div>
                <%= render "ecommerce/#{Ecommerce.ecommerce_layout}/checkout/new_address_form" %>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="order-review-wrap">
              <h3><%= t('.your_order') %></h3>
              <div class="commerce-checkout-review-order">
                <table class="shop_table commerce-checkout-review-order-table">
                  <thead>
                    <tr>
                      <th class="product-name"><%= t('.product') %></th>
                      <th class="product-total"><%= t('.total') %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @cart.cart_items.each do |item| %>
                      <tr class="cart_item">
                        <td class="product-name">
                          <%= item.product.name %>
                          <strong class="product-quantity">× <%= item.quantity %></strong>
                        </td>
                        <td class="product-total">
                          <span class="amount"><%= session_price(item.line_total) %></span>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                  <tfoot>
                    <tr class="cart-subtotal">
                      <th><%= t('.subtotal') %></th>
                      <td><strong><span class="amount curr-sym" style="display: inline;"><%= session_currency_symbol %></span><span class="amount" style="display: inline;" id="subtotal"><%= @cart_subtotal %></span></strong></td>
                    </tr>
                    <tr class="cart-subtotal">
                      <th><%= t('.shipping') %></th>
                      <td><span class="amount curr-sym" style="display: inline;"><%= session_currency_symbol %></span><span class="amount" style="display: inline;" id="shipping-amount">0.00</span></td>
                    </tr>
                    <tr class="order-total">
                      <th><%= t('.total') %></th>
                      <td><strong><span class="amount curr-sym" style="display: inline;"><%= session_currency_symbol %></span><span class="amount" style="display: inline;" id="payment-amount"><%= @cart_subtotal %></span></strong></td>
                    </tr>
                  </tfoot>
                </table>
                <div class="commerce-checkout-payment">
                  <ul class="payment_methods">

                    <li class="wc_payment_method payment_method_card">
                      <%= check_box_tag("want_factura", "0", @info_factura_available, class: "factura_checkbox") %>

                      <label for="want_factura">
                        <%= t('.i_need_a_factura') %>
                      </label>
                      <div class="payment_box payment_method_cheque">
                        <% if @info_factura_available %>
                          <p><%= "RUC: #{@factura_vat}" %></p>
                          <p><%= "Razón Social: #{@factura_razon_social}" %></p>
                          <p><%= "#{t('.address')}: #{@factura_address}, #{@factura_city}" %></p>
                        <% else %>
                          <p><%= link_to t('.click_here_to_setup_factura_info'), main_app.edit_user_registration_path %></p>
                        <% end %>
                      </div>

                    </li>
                  </ul>
                </div>

                <div class="commerce-checkout-payment">
                  <ul class="payment_methods">

                    <% if @payment_credit_card_culqi %>

                    <li class="wc_payment_method payment_method_card">
                      <input id="payment_method_card" type="radio" checked="checked" class="input-radio" name="payment_method" value="card" />
                      <label for="payment_method_card">
                        <%= t('.credit_debit_card') %>
                      </label>
                      <label for="payment_method_card">
                        <img src="https://s3.amazonaws.com/devtechperu-expatshop-dev/static/images/cards_row1.png" alt="Credit Card Images">
                        <img src="https://s3.amazonaws.com/devtechperu-expatshop-dev/static/images/cards_row2.png" alt="Credit Card Images">
                      </label>
                    </li>

                    <% end %>

                    <% if @payment_bank_deposit %>

                    <li>
                      <input id="payment_method_bank" type="radio" class="input-radio" name="payment_method" value="manual" checked="checked" />
                      <label for="payment_method_bank">
                        <%= t('.bank_deposit') %>
                      </label>
                      <div class="payment_box payment_method_cheque">
                        <p><%= @payment_bank_deposit.pre_message %></p>
                      </div>
                    </li>

                    <% end %>

                    <% if @payment_manual %>

                    <li>
                      <input id="payment_method_manual" type="radio" class="input-radio" name="payment_method" value="manual" checked="checked" />
                      <label for="payment_method_manual">
                        <%= t('.manual_payment') %>
                      </label>
                      <div class="payment_box payment_method_cheque">
                        <p><%= @payment_manual.pre_message %></p>
                      </div>
                    </li>

                    <% end %>

                  </ul>
                </div>
                <button class="button mt-5" id ="pay-now-button"><%= t('.place_order') %></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


<!-- Incluyendo .js de Culqi Checkout-->
<script src="https://checkout.culqi.com/v2"></script>

<!-- Configurando el checkout-->
<script>

  var payment_amount = ($('#payment-amount').html() * 100).toFixed(2);
  var shipping_calculated_flag = false

  // calculate and update shipping html tag when shipping address is created
  $("#save-address-button").click(function() {
    calculate_shipping($("#address_street").val(), $("#address_district").val());
  });
  // calculate and update shipping html tag when shipping address is picked
  $('#address_id').on('change', function() {
    if ( this.value ) {
      calculate_shipping($("#address_street").val(), $("#address_district").val());
    } else {
      var my_zero = 0
      $("#shipping-amount").html(my_zero.toFixed(2))
      shipping_calculated_flag = false
    }
  })

  function calculate_shipping(street, district) {
    $.ajax({
      url: "calculate_shipping",
      dataType: "json",
      method: "POST",
      data: { address: street, district: district },
      success: function(data){
         if (data.currency == "pen") { cur_sym = "S/. " } else { cur_sym = "$ " }
         $("#shipping-amount").html(data.amount.toFixed(2))
         recalculate_checkout_totals();
         shipping_calculated_flag = true
      }
    });
  }

  function recalculate_checkout_totals() {
    Culqi.publicKey = "<%= Culqi.public_key %>";
    var total_amount = (Number($("#shipping-amount").html()) + Number($("#subtotal").html())).toFixed(2);

    $('#payment-amount').html(total_amount)
    payment_amount = (Number($('#payment-amount').html()) * 100).toFixed(2);

    Culqi.settings({
      title: '<%= t('ecommerce.processor.culqi.payment_popup_title') %>',
      currency: '<%= session[:currency].upcase %>',
      description: '<%= "#{t('ecommerce.processor.culqi.order_label')} # #{@cart.id}" %>',
      amount: payment_amount
    });
  }

  $('#pay-now-button').on('click', function(e) {
    // Abre el formulario con las opciones de Culqi.settings
    if (shipping_calculated_flag) {
      if ($('input[name=payment_method]:checked').val() == "card") {
        Culqi.open();
        e.preventDefault();
      }
      else if ($('input[name=payment_method]:checked').val() == "manual") {
        manual_payment();
        e.preventDefault();
      }
    }
    else {
      // place error message here
      alert("<%= t('.you_must_pick_or_save_an_address') %>");
    }
  });

  function culqi() {

    if(Culqi.token) { // ¡Token creado exitosamente!
        // Get the token ID:
        var token = Culqi.token;
        var picked_shipping_address_id = $('#address_id').val();
        var shipping_amount = ($('#shipping-amount').html() * 100).toFixed(2);
        var payment_amount = ($('#payment-amount').html() * 100).toFixed(2);
        //var payment_amount = $('#payment_amount').html() * 100;
        $.post(
          "checkout/pay_order_culqi_checkout",
          {
          culqi_token: token,
          amount: payment_amount,
          shipping_amount: shipping_amount,
          picked_shipping_address_id: picked_shipping_address_id,
          cart_id: '<%= "#{@cart.id}" if @cart %>',
          want_factura: $('#want_factura').is(":checked")
          },
          function(data) {
          }
       );
       //alert('Se ha creado un token:' + token);

    }else{ // ¡Hubo algún problema!
        // Mostramos JSON de objeto error en consola
        console.log(Culqi.error);
        alert(Culqi.error.mensaje);
    }
  };

  function manual_payment() {
    var picked_shipping_address_id = $('#address_id').val();
    var shipping_amount = ($('#shipping-amount').html() * 100).toFixed(2);
    var payment_amount = ($('#payment-amount').html() * 100).toFixed(2);



    //var payment_amount = $('#payment_amount').html() * 100;
    $.post(
      "checkout/pay_order_manual",
      {
      amount: payment_amount,
      shipping_amount: shipping_amount,
      picked_shipping_address_id: picked_shipping_address_id,
      cart_id: '<%= "#{@cart.id}" if @cart %>',
      want_factura: $('#want_factura').is(":checked")
      },
      function(data) {
      }
   );

  }

</script>
