<!-- Header
============================================= -->
<header id="header" class="full-header no-sticky clearfix">

  <div id="header-wrap">

    <div class="container clearfix">

      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <!-- Logo
      ============================================= -->
      <div id="logo">
        <a href="<%= main_app.root_path %>" class="standard-logo"><%= image_tag Ecommerce.header_logo, alt: "Store Logo" %></a>
        <a href="<%= main_app.root_path %>" class="retina-logo"><%= image_tag Ecommerce.header_logo, alt: "Store Logo" %></a>
      </div><!-- #logo end -->

      <!-- Primary Navigation
      ============================================= -->
      <nav id="primary-menu" class="style-ecommerce">

        <ul>
          <li class=""><%= link_to t('.home_menu'), main_app.root_path %></li>

          <% @primary_menu_categories.each do |menu_item| %>
            <li class=""><%= link_to menu_item.name, products_path(category_id: menu_item.id) %>
              <% unless Ecommerce::Category.where(parent_id: menu_item.id, status: "active").blank? %>
                <ul>
                  <% Ecommerce::Category.where(parent_id: menu_item.id, status: "active").each do |sub_menu_item| %>
                    <li><a href="index-corporate.html"><div><%= sub_menu_item.name %></div></a></li>
                  <% end %>
                </ul>
              <% end %>
            </li>
          <% end %>

          <li><a href="#"><div><%= t('.blog_menu') %></div></a></li>
          <li><a href="#"><div><%= t('.contact_us_menu') %></div></a></li>

        </ul>

        <!-- Top Search
        ============================================= -->
        <div id="top-search">
          <a href="#" id="top-search-trigger"><i class="icon-line2-magnifier"></i><i class="icon-line-cross"></i></a>
          <form action="search.html" method="get">
            <input type="text" name="q" class="form-control" value="" placeholder="<%= t('.search_string') %>">
          </form>
        </div><!-- #top-search end -->

        <!-- Top Cart
        ============================================= -->
        <div id="top-cart">
          <a href="#" id="top-cart-trigger"><i class="icon-line2-handbag"></i><span>5</span></a>
          <div class="top-cart-content">
            <div class="top-cart-title">
              <h4>Shopping Cart</h4>
            </div>
            <div class="top-cart-items">
              <div class="top-cart-item clearfix">
                <div class="top-cart-item-image">
                  <a href="#"><%= image_tag "ecommerce/img/featured/1.jpg", alt: "Blue Shoulder Bag" %></a>
                </div>
                <div class="top-cart-item-desc">
                  <a href="#" class="t400">Blue Shoulder Bag</a>
                  <span class="top-cart-item-price">$19.99</span>
                  <span class="top-cart-item-quantity">x 2</span>
                </div>
              </div>
              <div class="top-cart-item clearfix">
                <div class="top-cart-item-image">
                  <a href="#" class="t400"><%= image_tag "ecommerce/img/featured/6.jpg", alt: "Leather Bag" %></a>
                </div>
                <div class="top-cart-item-desc">
                  <a href="#" class="t400">Leather Bag</a>
                  <span class="top-cart-item-price">$24.99</span>
                  <span class="top-cart-item-quantity">x 3</span>
                </div>
              </div>
            </div>
            <div class="top-cart-action clearfix">
              <span class="fleft top-checkout-price t600 font-secondary" style="color: #333;">$114.95</span>
              <button class="button button-dark button-circle button-small nomargin fright">View Cart</button>
            </div>
          </div>
        </div><!-- #top-cart end -->

        <!-- Top Account
        ============================================= -->

        <% if current_user %>
        <div id="top-account">
          <a href="#" id="top-account-trigger"><i class="icon-line2-user" style="font-size: 20px;"></i><%= " #{current_user.name}" %></a>
          <div class="top-account-content">
            <a href="<%= main_app.edit_user_registration_path %>">
            <div class="top-account-title">
              <h4><%= t('.my_account') %></h4>
            </div>
            </a>

            <% if current_user.admin? %>
            <a href="<%= backoffice_dashboard_path %>">
              <div class="top-account-title">
                <h4 style="color: red;"><%= t('.backoffice') %></h4>
              </div>
            </a>
            <% end %>
            <div class="top-account-action clearfix">
              <%= link_to "<i class='material-icons' style='vertical-align: middle;'>power_settings_new</i>  #{t('.log_out')}".html_safe, main_app.destroy_user_session_path, :method => :delete, :class => "button button-dark button-circle button-small nomargin" %>

            </div>
          </div>
        </div>

        <% else %>
          <div id="top-account" style="padding: 30px 30px;">
            <%= link_to "", main_app.new_user_registration_path, class: "icon-line2-user", style: "font-size: 20px;" %>
          </div>
        <% end %>
        <!-- #top-account end -->

      </nav><!-- #primary-menu end -->

    </div>
  </div>

</header><!-- #header end -->
