<!-- Page Title
=============================================-->
<section id="page-title">

  <div class="container clearfix">
    <h1>Category</h1>
    <span><%= @category.name %></span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Shop</li>
    </ol>
  </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <!-- Shop
      ============================================= -->
      <div id="shop" class="shop product-3 clearfix">

        <% @products.each do |item| %>
        <div class="product clearfix">
          <div class="product-image image_height_360">
            <a href="<%= product_path(item) %>"><%= image_tag item.image.medium_400.url, alt: "#{item.name} Image" %></a>
            <a href="<%= product_path(item) %>"><%= image_tag "https://s3.amazonaws.com/devtechperu-expatshop-dev/uploads/ecommerce/product/image/2/medium_400_rice.jpeg", alt: "#{item.name} Image", height: 360, width: 360 %></a>
            <!-- <a href="#"><img src= <%= image_url("ecommerce/img/shop/dress/1.jpg" %> alt="Checked Short Dress"></a>
            <a href="#"><img src= <%= image_url("ecommerce/img/shop/dress/1-1.jpg" %> alt="Checked Short Dress"></a> -->
            <% if item.discounted? %>
              <div class="sale-flash">Sale</div>
            <% end %>
            <div class="product-overlay">
              <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
              <a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
            </div>
          </div>
          <div class="product-desc center">
            <div class="product-title"><h3><a href="#"><%= item.name %></a></h3></div>
            <% if item.discounted? %>
              <div class="product-price"><del><%= number_to_currency(item.price_cents / 100) %></del> <ins><%= number_to_currency(item.discounted_price_cents / 100) %></ins></div>
            <% else %>
              <div class="product-price"><%= number_to_currency(item.price_cents / 100) %></div>
            <% end %>
            <div class="product-rating">
              <i class="icon-star3"></i>
              <i class="icon-star3"></i>
              <i class="icon-star3"></i>
              <i class="icon-star3"></i>
              <i class="icon-star-half-full"></i>
            </div>
          </div>
        </div>
        <% end %>

        <% @products.each do |item| %>
        <div class="product clearfix">
          <div class="product-image image_height_360">
            <a href="<%= product_path(item) %>"><%= image_tag item.image.medium_400.url, alt: "#{item.name} Image" %></a>
            <!-- <a href="#"><img src= <%= image_url("ecommerce/img/shop/pants/1-1.jpg" %> alt="Slim Fit Chinos"></a>
            <a href="#"><img src= <%= image_url("ecommerce/img/shop/pants/1.jpg" %> alt="Slim Fit Chinos"></a> -->
            <div class="product-overlay">
              <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
              <a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
            </div>
          </div>
          <div class="product-desc center">
            <div class="product-title"><h3><a href="#"><%= item.name %></a></h3></div>
            <div class="product-price"><%= number_to_currency(item.price_cents / 100) %></div>
            <div class="product-rating">
              <i class="icon-star3"></i>
              <i class="icon-star3"></i>
              <i class="icon-star3"></i>
              <i class="icon-star-half-full"></i>
              <i class="icon-star-empty"></i>
            </div>
          </div>
        </div>
        <% end %>

        <% @products.each do |item| %>
        <div class="product clearfix">
          <div class="product-image image_height_360">
            <div class="fslider" data-arrows="false">
              <div class="flexslider">
                <div class="slider-wrap">
                  <div class="slide"><a href="<%= product_path(item) %>"><%= image_tag item.image.medium_400.url, alt: "#{item.name} Image" %></a></div>
                  <div class="slide"><a href="<%= product_path(item) %>"><%= image_tag item.image.medium_400.url, alt: "#{item.name} Image" %></a></div>
                  <div class="slide"><a href="<%= product_path(item) %>"><%= image_tag item.image.medium_400.url, alt: "#{item.name} Image" %></a></div>
                  <!-- <div class="slide"><a href="#"><img src= <%= image_url("ecommerce/img/shop/shoes/1.jpg" %> alt="Dark Brown Boots"></a></div>
                  <div class="slide"><a href="#"><img src= <%= image_url("ecommerce/img/shop/shoes/1-1.jpg" %> alt="Dark Brown Boots"></a></div>
                  <div class="slide"><a href="#"><img src= <%= image_url("ecommerce/img/shop/shoes/1-2.jpg" %> alt="Dark Brown Boots"></a></div> -->
                </div>
              </div>
            </div>
            <div class="product-overlay">
              <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
              <a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
            </div>
          </div>
          <div class="product-desc center">
            <div class="product-title"><h3><a href="#"><%= item.name %></a></h3></div>
            <div class="product-price"><%= number_to_currency(item.price_cents / 100) %></div>
            <div class="product-rating">
              <i class="icon-star3"></i>
              <i class="icon-star3"></i>
              <i class="icon-star3"></i>
              <i class="icon-star-empty"></i>
              <i class="icon-star-empty"></i>
            </div>
          </div>
        </div>
        <% end %>

      </div><!-- #shop end -->

    </div>

  </div>

</section><!-- #content end -->
