<% content_for :head do %>
<% nofollow %>
<% noindex %>
<%= stylesheet_link_tag    'ecommerce/backoffice', media: 'all' %>
<%= csrf_meta_tag %>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<!-- AQUI VAN LOS CSS Y JS SOLO DE BACKOFFICE -->

<% end %>

<!-- AQUI VA EL BODY SOLO DE BACKOFFICE -->

<!-- BEGIN HEADER -->

<%= render 'ecommerce/backoffice/header' %>

<!-- END HEADER -->

<!-- BEGIN CONTENT -->
  <div class="page-container row-fluid">

    <%= render "ecommerce/backoffice/sidebar" %>

    <!-- BEGIN PAGE CONTAINER-->
    <div class="page-content">

      <div class="content">

        <%= render 'ecommerce/application/flashes' %>
        <%= render 'ecommerce/application/spinner' %>

        <%= yield %>

      </div>
    </div>

  </div>
  <!-- END CONTENT -->
  <% # Javascript at the bottom for fast page loading %>
<%= javascript_include_tag 'ecommerce/backoffice' %>

<script type="text/javascript">
$(document).ready(function(){
  $('.show-spinner').click(function() {
      $('.spinner').show();
  });
});
</script>

<script>
//disable change number with scroll on all number fields
$(function(){
  $(':input[type=number]').on('mousewheel',function(e){ $(this).blur(); });
});
</script>

<script type="text/javascript">
//tags = <%= raw @users_array %>
$(document).ready(function(){

  /* Activating Best In Place */
  jQuery(".best_in_place").best_in_place();

  users_tags = jQuery.parseJSON(<%=raw @users_array.to_json.inspect %>);
  products_tags = jQuery.parseJSON(<%=raw @products_array.to_json.inspect %>);
  orders_tags = jQuery.parseJSON(<%=raw @orders_array.to_json.inspect %>);
  $( ".search_users" ).autocomplete({
    autoFocus: true,
    minLength: 0,
    source: users_tags,
    select: function (e, ui) {
          window.location.href = ("/<%= Ecommerce.engine_alias_endpoint %>" + "/backoffice/users/" + ui.item.id);
      },
  });
  $( ".search_products" ).autocomplete({
    autoFocus: false,
    minLength: 1,
    source: products_tags,
    select: function (e, ui) {
          window.location.href = ("/<%= Ecommerce.engine_alias_endpoint %>" + "/backoffice/products/" + ui.item.id);
      },
  });
  $( ".search_orders" ).autocomplete({
    autoFocus: false,
    minLength: 1,
    source: orders_tags,
    select: function (e, ui) {
          window.location.href = ("/<%= Ecommerce.engine_alias_endpoint %>" + "/backoffice/orders/" + ui.item.id);
      },
  });
});
</script>

<% parent_layout "ecommerce/base" %>
