<% content_for :head do %>
  <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic,400italic,700italic,900italic' type='text/css' media='all'/>
  <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Pacifico:100,300,400,700,900,300italic,400italic,700italic,900italic' type='text/css' media='all'/>
  <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Anonymous+Pro:' type='text/css' media='all'/>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:700" type="text/css" media="all"/>
  <%= stylesheet_link_tag "ecommerce/banchero", media: "all" %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
<% end %>

<!-- Document Wrapper
============================================= -->
<div class="site">

  <%= render 'ecommerce/application/flashes' %>
  <%= render 'ecommerce/application/spinner' %>

  <%= render 'ecommerce/banchero/store/header' %>

  <%= yield %>

  <%= render 'ecommerce/banchero/store/footer' %>

</div>

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-line-arrow-up"></div>


<%= javascript_include_tag "ecommerce/banchero" %>

<% parent_layout "ecommerce/base" %>

<script>

$(document).ready(function(){
  if ($( "#flash" ).length > 0 )
  {
    console.log("flash is present")
    var flash_text = $('#flash .alert').text().split(/\r?\n/).pop()
    console.log(flash_text)
    Swal({
        type: 'info',
        title: '',
        text: flash_text
      });
  }
});

// When the user scrolls the page, execute myFunction
window.onscroll = function() {
  fixOrganiciHeader();
  showFloatingButtons();
};

// Get the header
var header = document.getElementById("organici-fixed-header");

//Get the floating button elements
var floatingbuttondiv = document.getElementById("floating-buttons-div");
var headerwrapper = document.getElementById("navbar-wrapper");
var nav1 = document.getElementById("nav1");
var nav2 = document.getElementById("nav2");

// Get the offset position of the navbar
var sticky = header.offsetTop;

// Add the organici-sticky-header class to the header when you reach its scroll position. Remove "organici-sticky-header" when you leave the scroll position
function fixOrganiciHeader() {
  if (window.pageYOffset > sticky) {
    header.classList.add("organici-sticky-header");
    nav1.classList.add("desktop-sticky-header");
    nav1.classList.remove("header_margin_6");
  } else {
    header.classList.remove("organici-sticky-header");
    nav1.classList.remove("desktop-sticky-header");
  }
}

function showFloatingButtons() {
  if (window.pageYOffset > (sticky + 0)) {
    $('#floating-buttons-div').show();
    headerwrapper.classList.add("navbar-wrapper-with-buttons");
    //nav1.classList.add("header_margin_6");
    // nav2.classList.add("header_margin_6");
  } else {
    $('#floating-buttons-div').hide();
    headerwrapper.classList.remove("navbar-wrapper-with-buttons");
    nav1.classList.remove("header_margin_6");
    // nav2.classList.remove("header_margin_6");
  }
}


</script>
