  <head>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= render 'application/javascripts' %>

     <%= yield(:head) %>

  </head>

  <body class="<%= body_css_class %>">
    BASE LAYOUT PRESENT

    <%= yield %>

  </body>
</html>
