  <head>
    <meta name="google" content="notranslate" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag :cocoon %>
    <%= render 'application/javascripts' %>


     <%= yield(:head) %>

  </head>

  <body class="<%= body_css_class %>">
    <%= render "spinner" %>

    <%= yield %>

    <%= render 'debug_info' %>

  </body>
</html>

<script>

var $loading = $('.spinner').hide();
   //Attach the event handler to any element
   $(document)
     .ajaxStart(function () {
        //ajax request went so show the loading image
         $loading.show();
     })
   .ajaxStop(function () {
       //got response so hide the loading image
        $loading.hide();
    });

</script>
<script>
    $(document).ready(function(){
    $(".dvt_dropdown").hover(            
        function() {
            $('.dvt_dropdown-menu', this).not('.in .dvt_dropdown-menu').stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dvt_dropdown-menu', this).not('.in .dvt_dropdown-menu').stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
})
</script>