  <head>
    <meta name="google" content="notranslate" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <%= display_meta_tags site: Ecommerce.site_name || "Set Store Title in Ecommerce Constants" %>
    <%= stylesheet_link_tag    'ecommerce/application', media: 'all' %>
    <%= javascript_include_tag 'ecommerce/application' %>
    <%= csrf_meta_tags %>



     <%= yield(:head) %>

  </head>

  <body class="<%= body_css_class %>">
    <%= render "spinner" %>

    <%= yield %>

    <%= render 'debug_info' %>

  </body>
</html>

<script>

var $loading = $('.spinner').hide();
   //Attach the event handler to any element
   $(document)
     .ajaxStart(function () {
        //ajax request went so show the loading image
         $loading.show();
     })
   .ajaxStop(function () {
       //got response so hide the loading image
        $loading.hide();
    });

</script>
<script>
    $(document).ready(function(){
    $(".dvt_dropdown").hover(
        function() {
            $('.dvt_dropdown-menu', this).not('.in .dvt_dropdown-menu').stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');
        },
        function() {
            $('.dvt_dropdown-menu', this).not('.in .dvt_dropdown-menu').stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');
        }
    );

    $("#en-lang").click(function(e) {
      var url = window.location.pathname + window.location.search
      if (url.indexOf('?') == -1) {
        window.location.href = url + "?lang=en-PE"
      } else {
        window.location.href = url + "&lang=en-PE"
      }
    });

    $("#es-lang").click(function(e) {
      var url = window.location.pathname + window.location.search
      if (url.indexOf('?') == -1) {
        window.location.href = url + "?lang=es-PE"
      } else {
        window.location.href = url + "&lang=es-PE"
      }
    });

    $("#usd-currency").click(function(e) {
      window.location.href = window.location.pathname + window.location.search + "&currency=usd"
    });

    $("#pen-currency").click(function(e) {
      window.location.href = window.location.pathname + window.location.search + "&currency=pen"
    });

})
</script>

<script>
    window.setTimeout(function() {
        $("#js_now_flash").slideUp(500, function() {
            $(this).remove();
        });
    }, 8000);
</script>
