<% content_for :head do %>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    "ecommerce/canvas_shop", media: "all" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
<% end %>


<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

  <%= render 'ecommerce/application/flashes' %>
  <%= render 'ecommerce/application/spinner' %>

  <%= render 'ecommerce/canvas_shop/store/top_bar' %>
  <%= render 'ecommerce/canvas_shop/store/header' %>

  <%= yield %>

  <%= render 'ecommerce/canvas_shop/store/footer' %>

</div>


<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>
<%= javascript_include_tag "ecommerce/canvas_shop" %>
<% parent_layout "ecommerce/base" %>
