<% content_for :head do %>
  <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Montserrat:wght@600&display=swap"
      rel="stylesheet"
    />
  <%= stylesheet_link_tag "ecommerce/expatshop", media: "all" %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
<% end %>

<!-- Document Wrapper
============================================= -->
<div class="site">

  <%= render 'ecommerce/application/flashes' %>
  <%= render 'ecommerce/application/spinner' %>

  <%= render 'ecommerce/expatshop/store/header' %>

  <% if Rails.env == "development" %>
    <%= render 'ecommerce/expatshop/store/debugging_data' %>
  <% end %>

  <%= yield %>

  <%= render 'ecommerce/expatshop/store/footer' %>

  <%= render 'ecommerce/expatshop/store/whatsapp_button' %>

</div>

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-line-arrow-up"></div>


<%= javascript_include_tag "ecommerce/expatshop" %>

<% parent_layout "ecommerce/base" %>

<script>

$(document).ready(function(){
  if ($( "#flash" ).length > 0 )
  {
    // console.log("flash is present")
    var flash_text = $('#flash .alert').text().split(/\r?\n/).pop()
    // console.log(flash_text)
    Swal({
        type: 'info',
        title: '',
        text: flash_text
      });
  }
});

// When the user scrolls the page, execute myFunction
window.onscroll = function() {
  // fixOrganiciHeader();
  // showFloatingButtons();
};

// Get the header
var header = document.getElementById("expatshop-fixed-header");

//Get the floating button elements
var floatingbuttondiv = document.getElementById("floating-buttons-div");
var headerwrapper = document.getElementById("navbar-wrapper");
var nav1 = document.getElementById("nav1");
var nav2 = document.getElementById("nav2");

// Get the offset position of the navbar
// var sticky = header.offsetTop;

// Add the expatshop-sticky-header class to the header when you reach its scroll position. Remove "expatshop-sticky-header" when you leave the scroll position
function fixOrganiciHeader() {
  if (window.pageYOffset > sticky) {
    header.classList.add("expatshop-sticky-header");
    nav1.classList.add("desktop-sticky-header");
    nav1.classList.remove("header_margin_6");
  } else {
    header.classList.remove("expatshop-sticky-header");
    nav1.classList.remove("desktop-sticky-header");
  }
}

function showFloatingButtons() {
  if (window.pageYOffset > (sticky + 0)) {
    $('#floating-buttons-div').show();
    headerwrapper.classList.add("navbar-wrapper-with-buttons");
    //nav1.classList.add("header_margin_6");
    // nav2.classList.add("header_margin_6");
  } else {
    $('#floating-buttons-div').hide();
    headerwrapper.classList.remove("navbar-wrapper-with-buttons");
    nav1.classList.remove("header_margin_6");
    // nav2.classList.remove("header_margin_6");
  }
}


</script>
