<% content_for :head do %>
  <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic,400italic,700italic,900italic' type='text/css' media='all'/>
  <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Pacifico:100,300,400,700,900,300italic,400italic,700italic,900italic' type='text/css' media='all'/>
  <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Anonymous+Pro:' type='text/css' media='all'/>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:700" type="text/css" media="all"/>
  <%= stylesheet_link_tag "ecommerce/natural_power", media: "all" %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
<% end %>

<!-- Document Wrapper
============================================= -->
<div class="site">

  <%= render 'ecommerce/application/flashes' %>
  <%= render 'ecommerce/application/spinner' %>

  <%= render 'ecommerce/natural_power/store/header' %>

  <%= yield %>

  <%= render 'ecommerce/natural_power/store/footer' %>

</div>

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-line-arrow-up"></div>


<%= javascript_include_tag "ecommerce/natural_power" %>

<% parent_layout "ecommerce/base" %>

<script>

// When the user scrolls the page, execute myFunction
window.onscroll = function() {fixOrganiciHeader()};

// Get the header
var header = document.getElementById("organici-fixed-header");

// Get the offset position of the navbar
var sticky = header.offsetTop;

// Add the oganici-sticky-header class to the header when you reach its scroll position. Remove "oganici-sticky-header" when you leave the scroll position
function fixOrganiciHeader() {
  if (window.pageYOffset > sticky) {
    header.classList.add("oganici-sticky-header");
  } else {
    header.classList.remove("oganici-sticky-header");
  }
}

</script>
