<% content_for :head do %>
  <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic,400italic,700italic,900italic' type='text/css' media='all'/>
  <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Pacifico:100,300,400,700,900,300italic,400italic,700italic,900italic' type='text/css' media='all'/>
  <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Anonymous+Pro:' type='text/css' media='all'/>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:700" type="text/css" media="all"/>
  <%= stylesheet_link_tag "ecommerce/organici", media: "all" %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
<% end %>

<!-- Document Wrapper
============================================= -->
<div class="site">

  <%= render 'ecommerce/application/flashes' %>
  <%= render 'ecommerce/application/spinner' %>

  <%= render 'ecommerce/organici/store/header' %>

  <%= yield %>

  <%= render 'ecommerce/organici/store/footer' %>

</div>

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-line-arrow-up"></div>


<%= javascript_include_tag "ecommerce/organici" %>

<% parent_layout "ecommerce/base" %>
