<% content_for :head do %>
  <title>Organici Ecommerce</title>
  <%= stylesheet_link_tag    "ecommerce/organici", media: "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
<% end %>

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

  <%= render 'ecommerce/application/flashes' %>
  <%= render 'ecommerce/application/spinner' %>

  <%= render 'ecommerce/store//organici/top_bar' %>
  <%= render 'ecommerce/store/organici/header' %>

  <%= yield %>

  <%= render 'ecommerce/store/organici/footer' %>

</div>

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-line-arrow-up"></div>


<%= javascript_include_tag "ecommerce/organici" %>

<% parent_layout "ecommerce/base" %>
