<%= simple_form_for([:backoffice, @backoffice_product_sku]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :product, :label_method => lambda { |product| "#{product.name}" }  %>
    <%= f.input :sku %>
    <%= f.input :price_cents %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
