<div class="page-header">
  <%= link_to new_backoffice_product_sku_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Product sku
  <% end %>
  <h1>Listing backoffice_product_skus</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Product</th>
        <th>Sku</th>
        <th>Price cents</th>
        <th>Status</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Destroy</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @backoffice_product_skus) do |backoffice_product_sku| %>
            <td><%= backoffice_product_sku.product.name %></td>
            <td><%= backoffice_product_sku.sku %></td>
            <td><%= backoffice_product_sku.price_cents %></td>
            <td><%= backoffice_product_sku.status %></td>
            <td><%= link_to "<i class='material-icons'>visibility</i>".html_safe, backoffice_product_sku_path(backoffice_product_sku) %></td>
        <td><%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_backoffice_product_sku_path(backoffice_product_sku) %></td>
        <td><%= link_to "<i class='material-icons'>delete</i>".html_safe, backoffice_product_sku_path(backoffice_product_sku), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
