<div class="page-header">
  <%= link_to new_cart_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Cart
  <% end %>
  <h1>Listing carts</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>User</th>
            <th>Status</th>
            <th>Show</th>
        <th>Edit</th>
        <th>Destroy</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @carts) do |cart| %>
            <td><%= cart.user_id %></td>
            <td><%= cart.status %></td>
            <td><%= link_to "<i class='material-icons'>visibility</i>".html_safe, cart_path(cart) %></td>
        <td><%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_cart_path(cart) %></td>
        <td><%= link_to "<i class='material-icons'>delete</i>".html_safe, cart_path(cart), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
