<!-- Top Bar
============================================= -->
<div id="top-bar" class="hidden-xs">

  <div class="container clearfix">

    <div class="col_half nobottommargin">

      <p class="nobottommargin"><strong><%= t('.call') %>:</strong> <%= Ecommerce.phone_number %> | <strong><%= t('.email') %>:</strong> <%= Ecommerce.sales_email %></p>

    </div>

    <div class="col_half col_last fright nobottommargin">

      <!-- Top Links
      ============================================= -->
      <div class="top-links">
        <ul>
          <li><a href="#">PEN</a>
            <ul>
              <li><a href="#">USD</a></li>
              <li><a href="#">EUR</a></li>
            </ul>
          </li>
          <li><a href="#">ES</a>
            <ul>
              <li><a href="#"><img src= <%= image_url("ecommerce/img/icons/flags/french.png") %> alt="English"> EN</a></li>
            </ul>
          </li>

          <% if current_user %>
          <%= link_to "<i class='fa fa-user'></i>#{current_user.name}<span class='caret'></span>".html_safe, main_app.destroy_user_session_path, method: :delete %>
          </a>
          <% else %>
          <a href="<%= main_app.new_user_session_path %>" class=""><i class='fa fa-user'></i><%= t('.log_in') %><span class="caret"></span></a>
          <% end %>

          <!--<li><a href="#">Inicia Sesión</a>
            <div class="top-link-section">
              <form id="top-login" role="form">
                <div class="input-group" id="top-login-username">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input type="email" class="form-control" placeholder="Email address" required="">
                </div>
                <div class="input-group" id="top-login-password">
                  <span class="input-group-addon"><i class="icon-key"></i></span>
                  <input type="password" class="form-control" placeholder="Password" required="">
                </div>
                <label class="checkbox">
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
                <button class="btn btn-danger btn-block" type="submit">Sign in</button>
              </form>
            </div>
          </li>-->
        </ul>
      </div><!-- .top-links end -->

    </div>

  </div>

</div><!-- #top-bar end -->
