<%= simple_form_for([:backoffice, @backoffice_product]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :category, :label_method => lambda { |category| "#{category.name}" }  %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price_cents %>
    <%= f.input :stockable %>

    <%= f.label "Main Product Image" %>
    <div class="form-group">
      <% if f.object.image? %>
        <%= image_tag f.object.image, id: "img_actual", class: "img-thumbnail", :height => "200", :width => "200" %>
      <% end %>
      <img alt="your image" class="img-thumbnail hidden" height="200" id="img_prev" src="#" width="200"/>
      <br/>
      <span class="btn btn-default btn-file">
        <%= f.file_field :image, id: "file-image-upload" %>
      </span>
      <%= f.hidden_field :image_cache %>
    </div>

    <%= f.simple_fields_for :product_skus do |h| %>
      <%= h.input :sku %>
      <%= h.input :price_cents %>
      <%= h.input :status %>
    <% end %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>

<script>

  document.addEventListener("DOMContentLoaded", function(event) {
  $(function() {
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#file-image-upload").change(function(){
      $('#img_prev').removeClass('hidden');
      $('#img_actual').addClass('hidden');
      readURL(this);
    });
  });
  });


</script>
