<%= simple_form_for([:backoffice, @backoffice_product]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :category, as: :tags, :value_method => lambda { |category| "#{category.name}" }, :label_method => lambda { |category| "#{category.name}" }, label: t('.categories') %>
    <%= f.association :brand, :label_method => lambda { |brand| "#{brand.name}" }, label: t('.brand') %>
    <%= f.association :supplier, :label_method => lambda { |supplier| "#{supplier.name}" }, label: t('.supplier')  %>
    <%= f.input :status, collection: Ecommerce::Product.statuses.keys, label: t('.status') %>
    <%= f.input :name, label: t('.name') %>
    <%= f.association :coupons, :value_method => lambda { |coupon| "#{coupon.id}" }, :label_method => lambda { |coupon| "#{coupon.coupon_code}" }, label: t('.any_coupons') %>
    <%= f.input :cross_sell_default, label: 'Cross Selling Default' %>
    <%= f.association :cross_sell_products, :value_method => lambda { |product| "#{product.id}" }, :label_method => lambda { |product| "#{product.name}" }, label: 'Cross Sell Products' %>
    <%= f.input :short_description, label: t('.short_description') %>
    <%= f.input :description, label: t('.long_description') %>
    <%= f.input :price_cents, :input_html => { :id => 'price-cents' }, label: t('.price') %>
    <%= f.input :discounted_price_cents, :input_html => { :id => 'discounted-price-cents' }, label: t('.discounted_price') %>
    <%= f.input :weight, label: t('.item_weight') %>
    <h4>Taxes</h4>
    <div class="well">

      <div class="row">
        <div class="col-lg-3">
          <%= f.input :tax_1_check, as: :boolean, label: t('.tax_taxable', tax: @tax1) if @tax1 %>
          <%= f.input :tax_1_amount, label: t('.tax_amount', tax: @tax1) if @tax1 %>
        </div>
        <div class="col-lg-3">
          <%= f.input :tax_2_check, as: :boolean, label: t('.tax_taxable', tax: @tax2) if @tax2 %>
          <%= f.input :tax_2_amount, label: t('.tax_amount', tax: @tax2) if @tax2 %>
        </div>
        <div class="col-lg-3">
          <%= f.input :tax_3_check, as: :boolean, label: t('.tax_taxable', tax: @tax3) if @tax3 %>
          <%= f.input :tax_3_amount, label: t('.tax_amount', tax: @tax3) if @tax3 %>
        </div>
      </div>
    </div>

    <%= f.input :stockable, label: t('.stockable') %>
    <%= f.input :total_quantity, label: t('.quantity') %>

    <%= f.input :show_callout, as: :boolean, label: "Show Callout Element" %>
    <%= f.input :callout_label_en, label: "Callout Label English" %>
    <%= f.input :callout_label_es, label: "Callout Label Spanish" %>
    <%= f.input :callout_discount, label: "Callout Discount" %>

    <%= f.input :home_featured, label: t('.home_featured') %>

    <%= f.label t('.main_product_image') %>
    <div class="form-group">
      <% if f.object.image? %>
        <%= image_tag f.object.image.url, id: "img_actual", class: "img-thumbnail", :height => "200", :width => "200" %>
      <% end %>
      <img alt="your image" class="img-thumbnail hidden" height="200" id="img_prev" src="#" width="200"/>
      <br/>
      <span class="btn btn-default btn-file">
        <%= f.file_field :image, id: "file-image-upload" %>
      </span>
      <%= f.hidden_field :image_cache %>
    </div>

    <h2><%= t('.translations') %></h2>
    <% Globalize.with_locale(:"es-PE") do %>
      <%= f.input :name_es_pe, label: t('.name_in_spanish') %>
      <%= f.input :short_description_es_pe, label: t('.short_description_in_spanish') %>
      <%= f.input :description_es_pe, label: t('.long_description_in_spanish') %>
    <% end %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, t('common.save'), class: "btn btn-primary" %>
  </div>
<% end %>

<script>

  $(document).ready(function(){

   {
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#file-image-upload").change(function(){
      $('#img_prev').removeClass('hidden');
      $('#img_actual').addClass('hidden');
      readURL(this);
    });

    $("#price-cents").change(function(){
      $('#discounted-price-cents').val($('#price-cents').val());
    });

    $('select.form-control.tags').select2({
      tags: true
    });

    $('#product_coupon_ids').select2({ });

    $('select.form-control.tags').val(JSON.parse(<%=raw @backoffice_product.category_list.to_json.inspect %>));
    $('select.form-control.tags').trigger('change'); // Notify any JS components that the value changed

    $('#product_cross_sell_product_ids').select2({ });

  };
  });


</script>
