<div class="page-header">
  <%= link_to backoffice_products_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_backoffice_product_path(@backoffice_product), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show backoffice_product</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @backoffice_product.name %></dd>

  <dt>Category:</dt>
  <dd><%= @backoffice_product.category.name %></dd>

  <dt>Description:</dt>
  <dd><%= @backoffice_product.description %></dd>

  <dt>Price:</dt>
  <dd><%= @backoffice_product.price_cents %></dd>

  <dt>Controlar Stock?:</dt>
  <dd><%= @backoffice_product.stockable %></dd>

  <dt>Image:</dt>
  <dd><%= image_tag @backoffice_product.image_url(:medium_400) %></dd>

</dl>
