<%= simple_form_for([:backoffice_address, @backoffice_address]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user, :label_method => lambda { |user| "#{user.name}" } %>
    <%= f.input :name %>
    <%= f.input :street %>
    <%= f.input :street2 %>
    <%= f.input :state %>
    <%= f.input :city %>
    <%= f.input :address_type %>
    <%= f.input :shipping_or_billing %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
