<%= simple_form_for([:backoffice, @backoffice_address]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user, :label_method => lambda { |user| "#{user.name}" } %>
    <%= f.input :name, collection: ["Home", "Doorman", "Office", "Warehouse", "Other"], label: t('.type'), prompt: t('.select_type_of_address') %>
    <%= f.input :street %>
    <%= f.input :state %>
    <%= f.input :city %>
    <%= f.input :shipping_or_billing, collection: ["shipping", "billing"] %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
