<footer class="wrap-footer footer-2 colophon wigetized">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 item-footer-four">
				<div class="widget widget_about">
					<div class="noo_about_widget">
						<a href="#">
							<%= image_tag Ecommerce.footer_logo, alt: "Store Logo", height: 100 %>
						</a>
						<p>
							<%= t('.slogan') %>
						</p>
					</div>
				</div>
				<div class="widget widget_noo_social">
					<div class="noo_social">
						<div class="social-all">
							<a href="https://www.facebook.com/ExpatshopPeru" class="fa fa-facebook"></a>
							<a href="https://www.instagram.com/expatshopperu/" class="fa fa-instagram"></a>
						</div>
					</div>
				</div>
				<div class="widget widget_text">
					<div class="textwidget">
						<div class="copyright">
							Copyright 2018 ExpatShop Perú<br/>
							<%= t('.developed_with_love').gsub('_love_icon','<i class="fa fa-heart-o"></i>').html_safe %>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 item-footer-four">
				<div class="widget widget_text">
					<h4 class="widget-title"><%= t('.contact') %></h4>
					<div class="textwidget">
						<h5><%= t('.address') %></h5>
						<p>Av. Santo Toribio 173 - Via Central 125</p>
						<p>Torre Real Ocho, Piso 16, San Isidro</p>
						<p>Lima 33, Perú</p>
						<h5><%= t('.email') %></h5>
						<p>
							<a href="mailto:support@expatshop.pe">
								support@expatshop.pe
							</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-8 item-footer-four">
				<div class="widget widget_flickr">
					<h4 class="widget-title">Join us in Instagram</h4>
					<!-- LightWidget WIDGET <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/96210565fa8254a09b9d599afe642905.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>-->

					<!-- InstaWidget -->
					<a href="https://instawidget.net/v/user/expatshopperu" id="link-622d1673734ac6120f7accb6f654a66822b1a4c5e9548287abcacecba3bf8f2a">@expatshopperu</a>
					<script src="https://instawidget.net/js/instawidget.js?u=622d1673734ac6120f7accb6f654a66822b1a4c5e9548287abcacecba3bf8f2a&width=300px"></script>

				</div>
			</div>
			<div class="col-md-2 col-sm-4 item-footer-four">
					<div class="widget widget_text">
						<h4 class="widget-title"><%= t('.links') %></h4>
						<div class="textwidget">
					<ul>
						<li>
							<h5><%= t('.terms_and_conditions') %></h5>

						</li>
						<li>
							<h5><%= t('.privacy_policy') %> </h5>
						</li>
						<li>
							<h5><%= t('.social_responsibility') %> </h5>
						</li>
						<li>
							<h5><%= t('.press') %> </h5>
						</li>
						<li>
							<div class="widget widget_about">
								<div class="noo_about_widget">
									<a href="#">
										<%= image_tag "https://s3.amazonaws.com/devtechperu-expatshop-dev/static/images/home/libro_de_reclamaciones.jpg", alt: "Store Logo", height: 50, style: "margin-top: 30px;" %>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
				</div>
				<!--<div class="widget widget_noo_happyhours">
					<h4 class="widget-title">Happy Hours</h4>
					<ul class="noo-happyhours">
						<li>
							<div>Enjoy discount baked goods. </div>
							<div>06:00 am - 08:00 pm daily </div>
						</li>
					</ul>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>-->
			</div>
		</div>
	</div>
</footer>
