<header class="noo-header header-3 inner-relative">
				<div class="navbar-wrapper">
					<div class="navbar navbar-default">
						<div class="container">
							<div class="menu-position">
								<div class="navbar-header pull-left">
									<div class="noo_menu_canvas">
										<div class="btn-search noo-search">
											<i class="fa fa-search"></i>
										</div>
										<div data-target=".nav-collapse" class="btn-navbar">
											<span></span>
											<span></span>
											<span></span>
										</div>
									</div>
									<a href="<%= root_path %>" class="navbar-brand">
									<% if browser.device.mobile? %>
											<%= image_tag Ecommerce.header_logo, alt: "Store Logo", class: "noo-logo-img noo-logo-normal", style: "margin-top: -18px; width: 88%;" %>
									<% else %>
											<%= image_tag Ecommerce.header_landing_logo, style: "margin-top: -22px;", alt: "Store Logo", class: "noo-logo-img noo-logo-normal", width: 140 %>
									<% end %>
									</a>
								</div>

								<nav class="pull-left noo-main-menu">
									<ul class="nav-collapse navbar-nav">
										<li class="current-menu-item">
											<a href="<%= Ecommerce::Engine.routes.url_helpers.root_path %>">Home</a>
										</li>

										<!-- <li><a href="our-story.html">Our Story</a></li> -->
										<!-- <li class="menu-item-has-children">
											<a href="<%= Blog::Engine.routes.url_helpers.root_path %>">Blog</a>
											<ul class="sub-menu">
												<% Blog::Post.where(post_published: true).each do |post| %>
													<li><a href="<%= Blog::Engine.routes.url_helpers.blog_path(post.id) %>"><%= post.title %></a></li>
												<% end %>
												<li><a href="<%= Blog::Engine.routes.url_helpers.root_path %>">See All Blog Articles</a></li>
											</ul>
										</li>-->
										<li><a href="contact.html">Contact</a></li>

										<% if !@hide_header_ecommerce_items && current_user && current_user.admin? %>
											<li><%= link_to "Backoffice", Ecommerce::Engine.routes.url_helpers.backoffice_dashboard_path, style: "color: red;" %></li>
										<% end %>

										<% if current_user && ["admin", "blogger"].include?(current_user.role) && controller_name == "blog" %>
											<li><%= link_to "Manage Blog Posts", Blog::Engine.routes.url_helpers.posts_path, style: "color: red;" %></li>
										<% end %>

									</ul>
									</nav>
									<!-- menu secundario -->

									<nav class="pull-right noo-main-menu devtech-right-menu-custom">

										<!--<a href="#" class="button-expand-option"><i class="fa fa-ellipsis-v"></i></a>-->

										<ul class="nav-collapse navbar-nav">
											<li class="menu-item-has-children">
												<% if current_user %>
												<%= link_to "<i class='fa fa-user'></i> #{current_user.name}<span class='caret'></span>".html_safe, main_app.destroy_user_session_path, method: :delete %>
												<ul class="sub-menu">
													<li><%= link_to "My Orders", Ecommerce::Engine.routes.url_helpers.orders_path %></li>
													<li><%= link_to "My Account", main_app.edit_user_registration_path %></li>
													<li><%= link_to "Sign Out", main_app.destroy_user_session_path, method: :delete %></li>
												</ul>
												<% else %>
												<a href="<%= main_app.new_user_registration_path %>" class=""><i class='fa fa-user'></i> My Account<span class="caret"></span></a>
												<% end %>
											</li>


											<li class="menu-item fly-right">
												<% if @wishlist && @wishlist.id %>
												<a class="cart-button" href="<%= Ecommerce::Engine.routes.url_helpers.wishlist_path(@wishlist.id) %>">
													<i class="fa fa-heart-o"></i><%= " #{t('.wishlist')}" %>
												</a>
												<% end %>
											</li>

											<li class="menu-item noo-menu-item-cart minicart" id="cart-line">
												<%= render "ecommerce/#{Ecommerce.ecommerce_layout}/store/cart", locals: {cart: @cart} %>
											</li>


											<li class="menu-item fly-right">
												<a id="noo-search" class="search-button noo-search" href="#">
													<i class="fa fa-search"></i><%= " #{t('.search')}" %>
												</a>
											</li>
										</ul>

									<!-- fin menu secundario  -->


								</nav>
							</div>

							<!-- menu product -->
							<% unless @hide_header_ecommerce_items %>
							<div class="container-fluid dvt_back">
								<div class="col-md-12 dvt_allp hidden-xs .hidden-sm">

									<ul class="bt_allp" style="margin-top: 7px; margin-bottom: 9px;">

										<li style="color:#398cd8; padding-right:20px; border-right:1px solid #cccccc;"><a href="<%= Ecommerce::Engine.routes.url_helpers.products_path %>">All Products</a></li>
										<% @primary_menu_categories.each do |category| %>
											<li><%= link_to category.name, Ecommerce::Engine.routes.url_helpers.products_path(category_id: category.id), class: "active header-menu-no-wrap" %></li>
										<% end %>
						            </ul>
								</div>
							<% end %>

							<!-- final menu product -->


						</div>
					</div>
				</div>

				<!-- TODO Search should have alternate functionality if header is being shown from blog or ecommerce -->
				<div class="search-header5">
					<div class="remove-form"></div>
					<div class="container">
						<form class="form-horizontal">
							<label class="note-search">Type and Press Enter to Search</label>
							<input type="search" name="search" class="form-control" value="" placeholder="Search..." autocomplete="off">
							<input type="submit" value="Search">
						</form>
					</div>
				</div>
			</header>
