<div class="main">
	<div class="container-fluid">

			<div class="row" >
		<% if browser.device.mobile? %>
			<!--slide -->
				<div class="col-md-10 col-sm-12">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
						</ol>

						<!-- Wrapper for slides -->

						<div class="carousel-inner">
							<% if Ecommerce::Slider.where(slider_view: 'Mobile').order(:slider_order).first %>
							<div class="item active">
								<div class="tp-caption dvt_frase" style=""><%= Ecommerce::Slider.where(slider_view: 'Mobile').order(:slider_order).first.slider_text %></div>
								<div class="dvt_slide_video"><img src="https://s3.amazonaws.com/devtechperu-expatshop-dev/static/images/home/Sliders/LiveDearestIndianskimmer-small.gif" width="100" height="80"></div>
								<img src="<%= Ecommerce::Slider.where(slider_view: 'Mobile').order(:slider_order).first.slider_image.url %>">
							</div>
							<% end %>

							<% if Ecommerce::Slider.where(slider_view: 'Mobile').order(:slider_order).second %>
							<div class="item">
								<div class="tp-caption dvt_frase" style=""><%= Ecommerce::Slider.where(slider_view: 'Mobile').order(:slider_order).second.slider_text %></div>
								<img src="<%= Ecommerce::Slider.where(slider_view: 'Mobile').order(:slider_order).second.slider_image.url %>">
							</div>
							<% end %>

							<% if Ecommerce::Slider.where(slider_view: 'Mobile').order(:slider_order).third %>
							<div class="item">
								<div class="tp-caption dvt_frase" style=""><%= Ecommerce::Slider.where(slider_view: 'Mobile').order(:slider_order).third.slider_text %></div>
								<img src="<%= Ecommerce::Slider.where(slider_view: 'Mobile').order(:slider_order).third.slider_image.url %>">
							</div>
							<% end %>

							<% if Ecommerce::Slider.where(slider_view: 'Mobile').order(:slider_order).fourth %>
							<div class="item">
								<div class="tp-caption dvt_frase" style=""><%= Ecommerce::Slider.where(slider_view: 'Mobile').order(:slider_order).fourth.slider_text %></div>
								<img src="<%= Ecommerce::Slider.where(slider_view: 'Mobile').order(:slider_order).fourth.slider_image.url %>">
							</div>
							<% end %>

							<% if Ecommerce::Slider.where(slider_view: 'Mobile').order(:slider_order).fifth %>
							<div class="item">
								<div class="tp-caption dvt_frase" style=""><%= Ecommerce::Slider.where(slider_view: 'Mobile').order(:slider_order).fifth.slider_text %></div>
								<img src="<%= Ecommerce::Slider.where(slider_view: 'Mobile').order(:slider_order).fifth.slider_image.url %>">
							</div>
							<% end %>

						<!-- Left and right controls -->
						<a class="left carousel-control" href="#myCarousel" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#myCarousel" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
				</div>
			<!--fin slide -->
		<% end %>
		<!--menu izquierda -->

				<div class="col-lg-2 col-md-2 dvt_houses" >
			<ul class="dvt_houses_lista " >
				<li>

				</li>
				<li>
				<% @secondary_menu_categories.each do |category| %>
					<div class="dvt_houses_contenedor hidden-xs hidden-sm" >
						<a href=" <%= products_path(category_id: category.id) %> ">
							<%= image_tag category.image.url, width: 187, height: 49, alt: "", class: "dvt_houses_img" %>
							<span class="dvt_houses_titulos" style="text-align:center;"><%= category.image_popular_homepage_overlay_text %></span>
						</a>
					</div>
				<% end %>

			</li>
			</ul>

		</div>
		<!--fin menu izquierda -->
		<% unless browser.device.mobile? %>
			<!--slide -->
					<div class="col-md-10 col-sm-12"  >
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
					</ol>

					<!-- Wrapper for slides -->

					<div class="carousel-inner">

						<% if Ecommerce::Slider.where(slider_view: 'Desktop').order(:slider_order).first %>
						<div class="item active">
							<div class="tp-caption dvt_frase" style=""><%= Ecommerce::Slider.where(slider_view: 'Desktop').order(:slider_order).first.slider_text %></div>
							<img src="<%= Ecommerce::Slider.where(slider_view: 'Desktop').order(:slider_order).first.slider_image.url %>">
						</div>
						<% end %>

						<% if Ecommerce::Slider.where(slider_view: 'Desktop').order(:slider_order).second %>
						<div class="item">
							<div class="tp-caption dvt_frase" style=""><%= Ecommerce::Slider.where(slider_view: 'Desktop').order(:slider_order).second.slider_text %></div>
							<img src="<%= Ecommerce::Slider.where(slider_view: 'Desktop').order(:slider_order).second.slider_image.url %>">
						</div>
						<% end %>

						<% if Ecommerce::Slider.where(slider_view: 'Desktop').order(:slider_order).third %>
						<div class="item">
							<div class="tp-caption dvt_frase" style=""><%= Ecommerce::Slider.where(slider_view: 'Desktop').order(:slider_order).third.slider_text %></div>
							<img src="<%= Ecommerce::Slider.where(slider_view: 'Desktop').order(:slider_order).third.slider_image.url %>">
						</div>
						<% end %>

						<% if Ecommerce::Slider.where(slider_view: 'Desktop').order(:slider_order).fourth %>
						<div class="item">
							<div class="tp-caption dvt_frase" style=""><%= Ecommerce::Slider.where(slider_view: 'Desktop').order(:slider_order).fourth.slider_text %></div>
							<img src="<%= Ecommerce::Slider.where(slider_view: 'Desktop').order(:slider_order).fourth.slider_image.url %>">
						</div>
						<% end %>

						<% if Ecommerce::Slider.where(slider_view: 'Desktop').order(:slider_order).fifth %>
						<div class="item">
							<div class="tp-caption dvt_frase" style=""><%= Ecommerce::Slider.where(slider_view: 'Desktop').order(:slider_order).fifth.slider_text %></div>
							<img src="<%= Ecommerce::Slider.where(slider_view: 'Desktop').order(:slider_order).fifth.slider_image.url %>">
						</div>
						<% end %>

					<!-- Left and right controls -->
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
			</div>
			<!--fin slide -->
		<% end %>

			</div>

			<div class="col-sm-2 hidden-lg hidden-md"></div>
			<div class="col-sm-8 hidden-lg hidden-md">
			    <ul class="botones_lista " style="margin-top:30px;">
			        <li>
						<div class="botones_contenedor_p" style="margin: auto;">
							<a href=" /store/houses_m ">
								<span class="dvt_houses_titulos" style="text-align:center;">By Country</span>
							</a>
			            </div>
			            <div class="linea">1</div>
					</li>

			        <li>
						<div class="botones_contenedor" style="margin: auto;">
							<a href=" /store/sub_categories_m?parent_category=47 ">
								<span class="dvt_houses_titulos" style="text-align:center;">New Products</span>
							</a>
						</div>
					</li>


			        <li>
			        <div class="botones_contenedor" style="margin: auto;">
			            <a href=" /store/sub_categories_m?parent_category=39 ">
			                <span class="dvt_houses_titulos" style="text-align:center;">Eco-Cleaning Products</span>
			            </a>
			        </div>
			        </li>


			        <li>
			        <div class="botones_contenedor" style="margin: auto;">
			            <a href=" /store/sub_categories_m?parent_category=30 ">
			                <span class="dvt_houses_titulos" style="text-align:center;">Alcohol</span>
			            </a>
			        </div>
			        </li>


			        <li>
			        <div class="botones_contenedor" style="margin: auto;">
			            <a href=" /store/sub_categories_m?parent_category=32 ">
			                <span class="dvt_houses_titulos" style="text-align:center;">Food &amp; Beverages</span>
			            </a>
			        </div>
			        </li>


			        <li>
			        <div class="botones_contenedor" style="margin: auto;">
			            <a href=" /store/sub_categories_m?parent_category=14 ">
			                <span class="dvt_houses_titulos" style="text-align:center;">Household</span>
			            </a>
			        </div>
			        </li>


			        <li>
			        <div class="botones_contenedor" style="margin: auto;">
			            <a href=" /store/sub_categories_m?parent_category=26 ">
			                <span class="dvt_houses_titulos" style="text-align:center;">Ayurvedic Products</span>
			            </a>
			        </div>
			        </li>


			        <li>
			        <div class="botones_contenedor" style="margin: auto;">
			            <a href=" /store/sub_categories_m?parent_category=20 ">
			                <span class="dvt_houses_titulos" style="text-align:center;">Body Care</span>
			            </a>
			        </div>
			        </li>


			        <li>
			        <div class="botones_contenedor" style="margin: auto;">
			            <a href=" /store/sub_categories_m?parent_category=45 ">
			                <span class="dvt_houses_titulos" style="text-align:center;">Gift Options </span>
			            </a>
			        </div>
			        </li>
				</ul>
			</div>
			<div class="col-sm-2 hidden-lg hidden-md"></div>

				<!--<div class="noo-height-product pt-8 pb-10">
				<div class="container main-featured-products">
					<div class="row">
						<div class="col-sm-12">
							<div class="noo-product-grid-wrap commerce product-style2">
								<div class="noo-sh-title">
									<%= image_tag "ecommerce/img/icon_p_azul.png", alt: "", width: 40, height: 39 %>
									<h2><%= t('.new_products') %></h2>
									<p> <%= t('.new_products_subtitle') %></p>
								</div>
								<div class="noo-product-filter masonry-filters">
									<ul class="noo-header-filter">
										<li>
											<a href="<%= Ecommerce::Engine.routes.url_helpers.products_path %>" class="selected">
												<span><%= t('.all_products') %></span>
											</a>
										</li>
										<% @primary_menu_categories.each do |category| %>
											<li>
												<%= link_to category.name, Ecommerce::Engine.routes.url_helpers.products_path(category_id: category.id) %>
											</li>
										<% end %>
									</ul>
								</div>
								<div class="noo-product-grid products row product-grid noo-grid-4">
									<%= render partial: "ecommerce/#{Ecommerce.ecommerce_layout}/product/product", collection: @featured_homepage_products, as: :item %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>-->

<!--
	<div class="newsletter">
		<div class="noo-sh-mailchimp">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-xs-12">
						<h3 class="noo-mail-title"><%= t('.subscribe_to_us') %></h3>
						<p class="noo-mail-desc">
							<%= t('.subscribe_to_us_text') %>
						</p>
					</div>
					<div class="col-md-7 col-xs-12">
						<form>
							<div class="newsletter-form-fields">
								<input type="email" name="EMAIL" placeholder="<%= t('.email') %>" required />
								<input type="submit" value="<%= t('.submit') %>"/>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
-->


	</div>

	  <div class="container clearfix">

	    <div class="row payments-info">
	      <div class="col-md-12">
	        <h4 class="lead nomargin text-center"><%= t('.payment_methods').html_safe %></h4>
	      </div>
	      <div class="col-md-12">
	        <ul class="payment-cards">

	          <li><%= image_tag "ecommerce/img/cards/visa.png", alt: "Visa" %></li>
	          <li><%= image_tag "ecommerce/img/cards/mc.png", alt: "MasterCard" %></li>
	          <li><%= image_tag "ecommerce/img/cards/diners.png", alt: "Diners" %></li>
	          <li><%= image_tag "ecommerce/img/cards/amex.png", alt: "American Express" %></li>
	          <li><%= image_tag "ecommerce/img/cards/up.png", alt: "Union Pay" %></li>
	          <li><%= image_tag "ecommerce/img/cards/ripley.png", alt: "Ripley" %></li>
	          <li><%= image_tag "ecommerce/img/cards/cmr.png", alt: "Banco Falabella" %></li>
	          <li><%= image_tag "ecommerce/img/cards/oh.png", alt: "Tarjetas Oh!" %></li>
	          <li><%= image_tag "ecommerce/img/cards/cencosud.png", alt: "Cencosud" %></li>

	        </ul>
	      </div>
	    </div>
	  </div>
</div>
