<!-- Content
============================================= -->
<section id="content">

	<div class="content-wrap" style= "margin-top: 50px; margin-bottom: 200px;">

		<div class="container clearfix">

			<div class="row clearfix">
				<div class="col-md-8">

					<h3>Make a Wish!</h3>
					<h4 style = "margin-bottom: 50px;">Let us know which product, from all over the world, you would like us to carry</h4>

					<div class="">

						<div class="contact-form-result"></div>


							<%= simple_form_for @wishlist_message, :url => wishlist_message_path, :method => :post, html: { class: "nobottommargin"} do |f| %>

							<div class="form-process"></div>

							<% unless current_user %>

								<div class="col_one_third">
									<label for="template-contactform-name">Your Name <small>*</small></label>
									<%= f.input :name, label: false, input_html: { class: 'sm-form-control required' } %>
								</div>

								<div class="col_one_third">
									<label for="template-contactform-name">Your Email <small>*</small></label>
									<%= f.input :email, label: false, input_html: { class: 'sm-form-control required' } %>
								</div>

								<div class="col_one_third">
									<label for="template-contactform-name">Your Phone <small>*</small></label>
									<%= f.input :phone, label: false, input_html: { class: 'sm-form-control required' } %>
								</div>

							<% end %>

							<div class="col_one_third">
								<label for="template-contactform-message">Product Name <small>*</small></label>
								<%= f.input :product_name, label: false, as: :text, input_html: { class: 'sm-form-control required' } %>
							</div>

							<div class="col_one_third">
								<label for="template-contactform-message">Product Brand <small></small></label>
								<%= f.input :brand, label: false, as: :text, input_html: { class: 'sm-form-control' } %>
							</div>

							<div class="col_full">
								<label for="template-contactform-message">Color, Size, Flavor? <small></small></label>
								<%= f.input :attributes, label: false, as: :text, input_html: { class: 'sm-form-control', rows: 6, cols: 30 } %>
							</div>

							<div class="col_one_third">
								<label for="template-contactform-message">Wished Product Country of Origin <small></small></label>
								<%= f.input :country, label: false, as: :text, input_html: { class: 'sm-form-control' } %>
							</div>

							<div class="col_full" style="margin-bottom: 40px;">
								<label for="template-contactform-message">Any additional thoughts about this product <small></small></label>
								<%= f.input :comment, label: false, as: :text, input_html: { class: 'sm-form-control', rows: 6, cols: 30 } %>
								<small>(*) Required Fields</small>
							</div>

							<div class="col_full">
								<%= f.button :submit, "Send Message", class: "button button-3d nomargin contact-button btn btn-primary", id: "contact-form" %>
							</div>

						<% end %>
					</div>

				</div>

			</div>

		</div>

	</div>

</section><!-- #content end -->

<script>

document.addEventListener("DOMContentLoaded", function(event) {
// Gets a reference to the form element, assuming
// it contains the id attribute "signup-form".
var form = document.getElementById('new_contact');

// Adds a listener for the "submit" event.
form.addEventListener('submit', function(event) {
  // Prevents the browser from submitting the form
  // and thus unloading the current page.
  event.preventDefault();

  // Creates a timeout to call `submitForm` after one second.
  setTimeout(submitForm, 1000);

  // Keeps track of whether or not the form has been submitted.
  // This prevents the form from being submitted twice in cases
  // where `hitCallback` fires normally.
  var formSubmitted = false;

  function submitForm() {
    if (!formSubmitted) {
      formSubmitted = true;
      form.submit();
    }
  }

  // Sends the event to Google Analytics and
  // resubmits the form once the hit is done.
  ga('send', 'event', 'Contact Form', 'submit', {
    hitCallback: submitForm
  });
});

});
</script>
