<%= simple_form_for(@address, remote: true) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name, collection: ["Home", "Doorman", "Office", "Warehouse", "Other"], label: t('.type'), prompt: "Select Type of Address" %>
    <%= f.input :street, label: "Street" %>
    <%= f.input :district, collection: @districts, prompt: "Select District", label: "District" %>
    <%= f.input :city, as: :hidden, input_html: {value: "Lima"}, label: "City"  %>
    <%= f.input :state, as: :hidden, input_html: {value: "Lima"}, label: "State" %>
    <%= f.input :country, as: :hidden, input_html: {value: "Peru"}, label: "Peru" %>
    <%= f.input :shipping_or_billing, as: :hidden, input_html: {value: "shipping"} %>
    <!-- <%= f.input :phone, label: "Phone Number" %>
    <%= f.input :authorized_person, label: "Person Authorized to Receive Order" %> -->
  </div>

  <div class="form-actions", style="margin-bottom: 30px;">
    <%= f.button :submit, "Save Address", class: "button mt-1", id: "save-address-button", style: "" %>
    <span class="hide-ok-label" id="submit-address-ok">Address has been saved!</span>
  </div>

  <div style="font-weight: bold;">Location on Map</div>
  <div id="map_partial">
    <%= render :partial => "ecommerce/addresses/google_map" %>
  </div>

  <div style="display: none;">
    <%= f.label :raw_address, 'Raw Address' %>
    <%= f.text_field :raw_address, class: "form-control" %>

    <%= f.label :latitude %>
    <%= f.text_field :latitude, class: "form-control" %>
    <%= f.label :longitude %>
    <%= f.text_field :longitude, class: "form-control" %>
  </div>

<% end %>

<script>
  $("#address_street, #address_district").on("change", function(){
       $.ajax({
          url: '<%= "addresses/update_map" %>',
          type: 'PATCH',
          dataType: 'script',
          data: $.param({
            address: {
              street: $("#address_street").val(),
              district: $("#address_district").val()
            }
          }),
          success:function(data){
              //console.log('success');
          },
          error:function(data){
              //console.log('error');
          }
      });
  });
</script>
