<div class="HeaderLogo">
  <%= image_tag "https://s3.amazonaws.com/devtechperu-expatshop-dev/static/images/expatshop_logo_circular_180x180.png", style: "position: absolute; width: 120px; height: 120px; top: 0px;" %>
</div>
<div style="margin-top: 140px">
  <p>Estimado cliente <%= @user.name %><br></p>
  <p>Hay items en su carrito de compras. Esperamos que pueda completar su transacción pronto. Si tiene algún incoveniente contáctenos al 989080023</p>
  <p>
<p> <%= t('.thank_you') %></p>
<p> <%= t('.thank_you_2') %></p>
<p><%= t('.farewell_1') %></p>
<p><%= t('.farewell_2') %></p>
</div>
