<div class="HeaderLogo">
  <%= image_tag "https://s3.amazonaws.com/v1-devtechperu-expatshop-dev/static/images/expatshop_logo_circular_180x180.png", style: "position: absolute; width: 120px; height: 120px; top: 0px;" %>
</div>
<div style="margin-top: 140px">
<p> Hola <%= @user.name %><br></p>
<p> Gracias por tu reciente pedido en Expatshop.pe!<br></p>
<p>Como muestra de nuestro aprecio hacia usted, nuestro cliente, adjuntamos un cup칩n que podr치 usar en su pr칩ximo pedido:</p>
<p>
<h2> <%= @coupon.coupon_code %> </h2>
  <p>
  Este cup칩n puede ser usado para <%= @coupon_description_es %>
  </p>
<p> <%= t('.thank_you') %></p>
<p> <%= t('.thank_you_2') %></p>
<p><%= t('.farewell_1') %></p>
<p><%= t('.farewell_2') %></p>
<%= image_tag @campaign.image.large.url if @campaign.image %>
</div>
