<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1><%= "Categoría: #{@category.try(:name)}" if @category.try(:name) %></h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Inicio</a></li>
      <li class="breadcrumb-item"><a href="#">Tienda</a></li>
      <li class="breadcrumb-item active" aria-current="page">Categoría</li>
    </ol>
  </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">


      <div id="shop" class="shop clearfix">

        <% @products.each do |item| %>

        <div class="product clearfix">
          <div class="product-image">
            <a href="<%= product_path(item) %>"><%= image_tag item.image.url, height: 470, alt: "" %></a>
            <a href="<%= product_path(item) %>"><%= image_tag item.image.url, height: 470, alt: "" %></a>
            <!--<div class="sale-flash">50% Off*</div>-->
            <div class="product-overlay">
              <%= link_to "<i class='icon-shopping-cart'></i><span>#{t('.add_to_cart')}".html_safe, cart_items_path(cart_item: {quantity: 1, product_id: item.id}), :method => :post, class: "add-to-cart" %>
              <a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span><%= t('.quick_view') %></span></a>
            </div>
          </div>
          <div class="product-desc">
            <div class="product-title"><h3><%= link_to item.name, product_path(item) %></h3></div>
            <div class="product-price"><!--<del>--><%= number_to_currency(item.price_cents / 100) %><!-- </del><ins>$12.49</ins>--></div>
            <div class="product-rating">
              <i class="icon-star3"></i>
              <i class="icon-star3"></i>
              <i class="icon-star3"></i>
              <i class="icon-star3"></i>
              <i class="icon-star-half-full"></i>
            </div>
          </div>
        </div>

        <% end %>

      </div>





    </div>
  </div>
</section>
