<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/<%= @fb_compatible_locale_code %>/sdk.js#xfbml=1&version=v2.12&appId=<%= Ecommerce.fb_app_id %>&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1><%= @product.name %></h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Inicio</a></li>
      <li class="breadcrumb-item"><a href="#">Tienda</a></li>
      <li class="breadcrumb-item active" aria-current="page">Ver Producto</li>
    </ol>
  </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="single-product">

        <div class="product">

          <div class="col_two_fifth">

            <!-- Product Single - Gallery
            ============================================= -->
            <div class="product-image">
              <div class="fslider" data-pagi="false" data-arrows="false" data-thumbs="true">
                <div class="flexslider">
                  <div class="slider-wrap" data-lightbox="gallery">
                    <div class="slide" data-thumb="<%= @product.image.url %>"><a href="<%= @product.image.url %>" title="<%= @product.name %>" data-lightbox="gallery-item"><img src="<%= @product.image.url %>" ></a></div>
                    <div class="slide" data-thumb="<%= @product.image.url %>"><a href="<%= @product.image.url %>" title="<%= @product.name %>" data-lightbox="gallery-item"><img src="<%= @product.image.url %>" ></a></div>
                    <div class="slide" data-thumb="<%= @product.image.url %>"><a href="<%= @product.image.url %>" title="<%= @product.name %>" data-lightbox="gallery-item"><img src="<%= @product.image.url %>" ></a></div>
                  </div>
                </div>
              </div>
              <!-- <div class="sale-flash">Sale!</div> -->
            </div><!-- Product Single - Gallery End -->

          </div>

          <div class="col_two_fifth product-desc">

            <!-- Product Single - Price
            ============================================= -->
            <div class="product-price"><!--<del>--><%= number_to_currency(@product.price_cents / 100) %><!-- </del> <ins>$24.99</ins> --></div><!-- Product Single - Price End -->

            <!-- Product Single - Rating
            ============================================= -->
            <div class="product-rating">
              <i class="icon-star3"></i>
              <i class="icon-star3"></i>
              <i class="icon-star3"></i>
              <i class="icon-star-half-full"></i>
              <i class="icon-star-empty"></i>
            </div><!-- Product Single - Rating End -->

            <div class="clear"></div>
            <div class="line"></div>

            <%= simple_form_for @cart_item, html: { class: "cart nobottommargin clearfix" } do |f| %>
            <div class="input-group vcenter">
              <span class="input-group-btn plus-minus-btn" id="devtech_minus">
                <a href="#" class="btn btn-default btn-number">-</a>
              </span>

                <%= f.input :quantity, label: false, input_html: { class: 'input-number no-spinners', id:"devtech_quantity_field", value: "1", size: "4", step: "1", min: "1" } %>

              <span class="input-group-btn" id="devtech_plus">
                <a href="#" class="btn btn-default btn-number">+</a>
              </span>
            </div>
            <%= f.hidden_field :product_id, value: @product.id %>
            <%= f.button :submit, t('.add_to_cart'), class: "single_add_to_cart_button add-to-cart button nomargin" %>

            <% end %>

            <div class="clear"></div>
            <div class="line"></div>

            <!-- Product Single - Quantity & Cart Button
            ============================================= -->
            <!--<form class="cart nobottommargin clearfix" method="post" enctype='multipart/form-data'>
              <div class="quantity clearfix">
                <input type="button" value="-" class="minus">
                <input type="text" step="1" min="1"  name="quantity" value="1" title="Qty" class="qty" size="4" />
                <input type="button" value="+" class="plus">
              </div>
              <button type="submit" class="add-to-cart button nomargin"><%= t('.add_to_cart') %></button>
            </form>--><!-- Product Single - Quantity & Cart Button End -->
            <!--
            <div class="clear"></div>
            <div class="line"></div>
            -->

            <!-- Product Single - Short Description
            ============================================= -->
            <p><%= @product.short_description %></p>
            <!--
            <ul class="iconlist">
              <li><i class="icon-caret-right"></i> Dynamic Color Options</li>
              <li><i class="icon-caret-right"></i> Lots of Size Options</li>
              <li><i class="icon-caret-right"></i> 30-Day Return Policy</li>
            </ul>--><!-- Product Single - Short Description End -->

            <!-- Product Single - Meta
            ============================================= -->
            <div class="card product-meta">
              <div class="card-body">
                <span itemprop="productID" class="sku_wrapper">SKU: <span class="sku">8465415</span></span></br>

                <span class="posted_in">Category:</span>

                <% @product.category_list.each do |cl| %>
                <span><%= link_to cl, products_path(category_id: Ecommerce::Category.find_by(name: cl).id), style: "margin-left: 10px;" %></span>
                <% end %>
              <!--
                <span class="tagged_as">Tags: <a href="#" rel="tag">Pink</a>, <a href="#" rel="tag">Short</a>, <a href="#" rel="tag">Dress</a>, <a href="#" rel="tag">Printed</a>.</span>
              -->
              </div>
            </div><!-- Product Single - Meta End -->

            <!-- Product Single - Share
            ============================================= -->
            <div class="si-share noborder clearfix">
              <span>Share:</span>
              <div>
                <a href="#" class="social-icon si-borderless si-facebook">
                  <i class="icon-facebook"></i>
                  <i class="icon-facebook"></i>
                </a>
                <a href="#" class="social-icon si-borderless si-twitter">
                  <i class="icon-twitter"></i>
                  <i class="icon-twitter"></i>
                </a>
                <a href="#" class="social-icon si-borderless si-pinterest">
                  <i class="icon-pinterest"></i>
                  <i class="icon-pinterest"></i>
                </a>
                <a href="#" class="social-icon si-borderless si-email3">
                  <i class="icon-email3"></i>
                  <i class="icon-email3"></i>
                </a>
              </div>
            </div><!-- Product Single - Share End -->

          </div>

          <div class="col_one_fifth col_last">

            <a href="#" title="Brand Logo" class="d-none d-md-block"><img class="image_fade" src="<%= @product.brand.try(:logo).try(:medium_200).try(:url) %>" alt="Brand Logo"></a>

            <div class="divider divider-center"><i class="icon-circle-blank"></i></div>

            <div class="feature-box fbox-plain fbox-dark fbox-small">
              <div class="fbox-icon">
                <i class="icon-thumbs-up2"></i>
              </div>
              <h3>100% Originales</h3>
              <p class="notopmargin">Garantizamos la calidad de nuestros productos.</p>
            </div>

            <div class="feature-box fbox-plain fbox-dark fbox-small">
              <div class="fbox-icon">
                <i class="icon-credit-cards"></i>
              </div>
              <h3>Medios de Pago</h3>
              <p class="notopmargin">Aceptamos todas las tarjetas de crédito y débito y depósitos bancarios.</p>
            </div>

            <div class="feature-box fbox-plain fbox-dark fbox-small">
              <div class="fbox-icon">
                <i class="icon-truck2"></i>
              </div>
              <h3>Envío Gratis</h3>
              <p class="notopmargin">Envío gratis en Lima y capitales de provincia para pedidos superiores a S/100.</p>
            </div>

            <div class="feature-box fbox-plain fbox-dark fbox-small">
              <div class="fbox-icon">
                <i class="icon-undo"></i>
              </div>
              <h3>Devoluciones</h3>
              <p class="notopmargin">Podrás devolver tu producto en caso no sea el que estás buscando.</p>
            </div>

          </div>

          <div class="col_full nobottommargin">

            <div class="tabs clearfix nobottommargin" id="tab-1">

              <ul class="tab-nav clearfix">
                <li><a href="#tabs-1"><i class="icon-align-justify2"></i><span class="d-none d-md-block"> <%= t('.description') %></span></a></li>
                <li><a href="#tabs-2"><i class="icon-info-sign"></i><span class="d-none d-md-block"> <%= t('.additional_information') %></span></a></li>
                <li><a href="#tabs-3"><i class="icon-star3"></i><span class="d-none d-md-block"> <%= t('.reviews') %></span></a></li>
              </ul>

              <div class="tab-container">

                <div class="tab-content clearfix" id="tabs-1">
                  <p><%= @product.description %></p>
                </div>
                <div class="tab-content clearfix" id="tabs-2">

                  <table class="table table-striped table-bordered">
                    <tbody>
                      <tr>
                        <td>Size</td>
                        <td>Small, Medium &amp; Large</td>
                      </tr>
                      <tr>
                        <td>Color</td>
                        <td>Pink &amp; White</td>
                      </tr>
                      <tr>
                        <td>Waist</td>
                        <td>26 cm</td>
                      </tr>
                      <tr>
                        <td>Length</td>
                        <td>40 cm</td>
                      </tr>
                      <tr>
                        <td>Chest</td>
                        <td>33 inches</td>
                      </tr>
                      <tr>
                        <td>Fabric</td>
                        <td>Cotton, Silk &amp; Synthetic</td>
                      </tr>
                      <tr>
                        <td>Warranty</td>
                        <td>3 Months</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
                <div class="tab-content clearfix" id="tabs-3">
                  <div id="reviews" class="clearfix">
                    <div class="fb-comments" data-href="<%= request.url %>" data-width="100%" data-order-by="reverse_time" data-numposts="5"></div>
                  </div>
                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

      <div class="clear"></div><div class="line"></div>

      <!--

      <div class="col_full nobottommargin">

        <h4>Related Products</h4>

        <div id="oc-product" class="owl-carousel product-carousel carousel-widget" data-margin="30" data-pagi="false" data-autoplay="5000" data-items-xs="1" data-items-md="2" data-items-lg="3" data-items-xl="4">

          <div class="oc-item">
            <div class="product iproduct clearfix">
              <div class="product-image">
                <a href="#"><img src="images/shop/dress/1.jpg" alt="Checked Short Dress"></a>
                <a href="#"><img src="images/shop/dress/1-1.jpg" alt="Checked Short Dress"></a>
                <div class="sale-flash">50% Off*</div>
                <div class="product-overlay">
                  <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
                  <a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
                </div>
              </div>
              <div class="product-desc center">
                <div class="product-title"><h3><a href="#">Checked Short Dress</a></h3></div>
                <div class="product-price"><del>$24.99</del> <ins>$12.49</ins></div>
                <div class="product-rating">
                  <i class="icon-star3"></i>
                  <i class="icon-star3"></i>
                  <i class="icon-star3"></i>
                  <i class="icon-star3"></i>
                  <i class="icon-star-half-full"></i>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    -->

    </div>


  </div>

</section><!-- #content end -->

<script>
  $("#devtech_plus").click(function(e) {
    e.preventDefault();
    $("#devtech_quantity_field").val(parseInt($("#devtech_quantity_field").val()) + 1);
  });
  $("#devtech_minus").click(function(e) {
    e.preventDefault();
    if (parseInt($("#devtech_quantity_field").val()) > 1) {
      $("#devtech_quantity_field").val(parseInt($("#devtech_quantity_field").val()) - 1);
    }
  });

</script>
