<%= simple_form_for([:backoffice, @pricelist]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: t('.name')  %>
    <%= f.input :status, label: t('.status'), collection: Ecommerce::Pricelist.statuses.keys %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('.create_pricelist'), class: "btn btn-primary" %>
  </div>
<% end %>
