<section class="noo-page-heading eff">
  <div class="container">
    <div class="noo-heading-content">
      <h1 class="page-title eff"><%= t('.title') %></h1>
      <div class="noo-page-breadcrumb eff">
        <a href="./" class="home">ExpatShop</a>/<span><%= t('.my_points') %></span>
      </div>
    </div>
  </div>
</section>
<div class="main">
  <div class="commerce commerce-account noo-shop-main">
<div class="container">
  <div class="row" style="margin-top: 50px;">
  <h2><%= t('.my_points') %></h2>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th><%= t('.date') %></th>
        <th><%= t('.points') %></th>
        <th><%= t('.tx_type') %></th>
        <th><%= t('.tx_id') %></th>
        <th><%= t('.show') %></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @points_transactions) do |tx| %>
        <td><%= tx.created_at.localtime.strftime("%d-%b-%y") %></td>
        <td><%= tx.points %></td>
        <td><%= tx.tx_type %></td>
        <td><%= tx.tx_id %></td>
        <% if tx.tx_id %>
          <td><%= link_to "<i class='fa fa-eye'></i>".html_safe, order_path(tx.tx_id) %></td>
        <% else %>
          <td></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</div>
</div>
</div>
</div>
