<div class="container-fluid">
	<div class="row">
		<div class="col-md-5 well">
			<h3>
				<%= t('.latest_orders') %>
			</h3>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>
							<%= t('.date_time') %>
						</th>
            <th>
							<%= t('.client') %>
						</th>
						<th>
							<%= t('.district') %>
						</th>
						<th>
							<%= t('.amount') %>
						</th>
					</tr>
				</thead>
				<tbody>
          <% @last_orders.each do |order| %>
          <tr class="clickable-row" onclick="location.href='<%= backoffice_order_path(order) %>';" style="cursor: pointer;">
						<td>
							<%= friendly_date(order.created_at) %>
						</td>
						<td>
							<%= order.user.name  %>
						</td>
						<td>
							<%= order.try(:shipping_address).try(:district)  %>
						</td>
            <td>
							$ <%= order.amount %>
						</td>
					</tr>
          <% end %>
				</tbody>
			</table>
		</div>
		<div class="col-md-5 well">
			<h3>
				<%= t('.latest_users') %>
			</h3>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>
							<%= t('.name') %>
						</th>
						<th>
							<%= t('.mobile') %>
						</th>
						<th>
							<%= t('.district') %>
						</th>
						<th>
							<%= t('.orders') %>
						</th>
            <th>
							<%= t('.order') %>
						</th>
            <th>
							<%= t('.address') %>
						</th>
					</tr>
				</thead>
				<tbody>
          <% @last_users.each do |user| %>
					<tr onclick="location.href='<%= backoffice_user_path(user) %>';" style="cursor: pointer;">
						<td>
							<%= user.name  %>
						</td>
            <td>
							<%= user.username  %>
						</td>
						<td>
							<%= user.try(:addresses).try(:first).try(:district) %>
						</td>
						<td>
							<%= user.try(:orders).try(:count)  %>
						</td>
						<td style=" padding-top: 2px !important; padding-bottom: 2px !important;">
							<%= link_to "+", new_backoffice_order_path(user_id: user.id), :class => 'btn btn-primary', style: "padding-top: 0px; padding-bottom: 0px;" %>
						</td>
            <td style=" padding-top: 2px !important; padding-bottom: 2px !important;">
							<%= link_to "+", new_backoffice_address_path(user_id: user.id), :class => 'btn btn-primary', style: "padding-top: 0px; padding-bottom: 0px;" %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="col-md-2 well">
			<button type="button" class="btn btn-primary btn-lg" style="width: 180px; margin-bottom: 10px;" onclick="location.href='<%= backoffice_orders_path %>';">
				<%= t('.all_orders') %>
			</button>
			<button type="button" class="btn btn-primary btn-lg" style="width: 180px;" onclick="location.href='<%= backoffice_users_path %>';">
				<%= t('.all_users') %>
			</button>
		</div>
	</div>
	<div class="row">

	</div>
	<h3><%= t('.export_data') %></h3>
	<div class="row">
		<div class="col-md-2 well">
			<button type="button" class="btn btn-primary btn-lg" style="width: 180px; margin-bottom: 10px;" onclick="location.href='<%= backoffice_export_products_path %>';">
				<%= t('.products') %>
			</button>
			<button type="button" class="btn btn-primary btn-lg" style="width: 180px; margin-bottom: 10px;" onclick="location.href='<%= backoffice_export_users_path %>';">
				<%= t('.users') %>
			</button>
			<button type="button" class="btn btn-primary btn-lg" style="width: 180px;" onclick="location.href='<%= backoffice_export_points_path %>';">
				Points
			</button>
		</div>
	</div>

</div>
