<main>
<!-- cart label -->
<section class="recommendation-label">
  <div>
    <h3>CHECKOUT</h3>
  </div>
</section>
<!-- cart -->
<section class="checkout">
  <div class="container-fluid">
    <div class="row checkout-row">
      <div class="col-md-6">
        <h3><%= t('.shipping_address') %></h3>
        <div class="have-address">
          <p><%= t('.pick_address') %></p>

          <%= render "ecommerce/#{Ecommerce.ecommerce_layout}/checkout/pick_address_form" %>
        </div>
        <div class="direction-btn">
          <button id="new-address-button" class="checkout-address-button"><%= t('.new_address') %></button>
          <button id="delete-address-button" class="checkout-address-button"><%= t('.delete_address') %></button>
        </div>

        <div id="new-address-container" style="display: none;">
          <%= render "ecommerce/#{Ecommerce.ecommerce_layout}/checkout/new_address_form" %>
        </div>
      </div>


      <div class="col-md-6">
        <p class="hidden-xs"><%= t('.your_order') %></p>
        <div class="mini-cart">
          <p class="visible-xs"><%= t('.your_order') %></p>
          <div class="mini-cart-title d-flex space-between">
            <p><%= t('.products') %></p>
            <p>TOTAL</p>
          </div>
          <div class="mini-car-items-container">
            <% @cart.cart_items.each do |item| %>
              <div class="mini-cart-items d-flex space-between">
                <div class="mini-cart-item width-80">
                  <p><%= item.product.name %> <span> (x<%= item.quantity %>) </span></p>
                  <% if item.product.weight == 0 %>
                    <p></p>
                  <% else %>
                    <p class="checkout-weight-p"><%= item.product.weight %>g</p>
                  <% end %>
                </div>
                <p class="cart-price-p"><%= session_price(item.line_total(@current_user)) %></p>
              </div>
            <% end %>
          </div>

          <div class="d-flex space-between checkout-p-text checkout-p-text-bottom-border checkout-p-text-mobile">
            <%= t('.subtotal_dollars') %>
            <div>
              <span style="display: inline;">
                <%= session_currency_symbol %>
              </span>
              <span id="subtotal" style="display: inline;">
                <%= @cart_subtotal %>
              </span>
            </div>
          </div>

          <div class="d-flex space-between checkout-p-text checkout-p-text-bottom-border checkout-p-text-mobile">
            <%= t('.shipping') %>
            <span id="free-shipping-text" class="amount" style="color: red; font-size: 24px; display: none;"><%= t('.free_shipping') %></span>
            <div>
              <span style="display: inline;">
                <%= session_currency_symbol %>
              </span>
              <span id="shipping-amount" style="display: inline;">
                0.00
              </span>
            </div>
          </div>

          <div class="d-flex space-between checkout-p-text checkout-p-text-bottom-border checkout-p-text-mobile <%= (@combo_total_discount_usd && @combo_total_discount_usd > 0) ? '' : 'combo-subtotal-hidden' %>  >" id="combo-discount-subtotal-id">
            <%= t('.combo_discount_line') %>
            <div>
              <span style="display: inline;">
                <%= session_currency_symbol %>
              </span>
              <span id="combo-discount-amount" style="display: inline;">
                -<%= @combo_total_discount_usd ? sprintf('%.2f', @combo_total_discount_usd) : 0.00 %>
              </span>
            </div>
          </div>

          <div class="d-flex space-between checkout-p-text checkout-p-text-bottom-border coupon-subtotal-hidden checkout-p-text-mobile" id="coupon-subtotal-id">
            <%= t('.coupon_line') %>
            <div>
              <span style="display: inline;">
                <%= session_currency_symbol %>
              </span>
              <span id="coupon-amount" style="display: inline;">
                0.00
              </span>
            </div>
          </div>

          <div class="d-flex space-between checkout-p-text checkout-p-text-bottom-border checkout-p-text-mobile">
            <%= t('.total_dollars') %>
            <div>
              <span style="display: inline;">
                <%= session_currency_symbol %>
              </span>
              <span id="payment-amount" style="display: inline;">
                <%= @cart_subtotal_after_discount %>
              </span>
            </div>
          </div>

          <% if current_user.try(:points) > 0 %>

            <div class="d-flex space-between" style="margin-top: 20px;">
              <div class="checkout-pay-in-points-p">
                <%= check_box_tag("pay_in_points", "0", false, class: "pay_in_points_checkbox") %>
                <label for="pay_in_points" style="font-size: 18px; margin-left: 20px; margin-bottom: 0px;">
                <%= t('.pay_in_points') %>
                
                <label style="font-size: 18px; color: #333">( <span id="points-amount"><%= current_user.try(:points) %></span> pts )</label>
              </label>
              </div>

            </div>

          <% end %>

        </div>

        <div class="pay-in-soles d-flex space-between checkout-p-text-mobile" style="padding-bottom: 30px;">
          <div class="checkout-pay-in-soles-p d-flex" style="align-items: center;">
            <%= check_box_tag("pay_in_soles", "0", false, class: "pay_in_soles_checkbox") %>
            <%= t('.pay_in_soles') %>
          </div>
          <div>
            <div class="checkout-pay-in-soles-p">
              <span>S/.</span>
              <span id="payment-amount-in-soles">
                <%= @cart_subtotal_after_discount * @exchange_rate %>
              </span>
            </div>
          </div>
        </div>

         <% if @dni_required %>
          <div class="commerce-checkout-payment">
            <ul class="payment_methods">

              <li class="wc_payment_method payment_method_card" style="margin-left: 10px;">
                <p class="over-700-text"> <%= t('.text_over_700') %> </p>

                <div class="payment_box payment_method_cheque">

                    <label style="font-size: 20px; margin-right: 20px;" for="dni_required">
                      <%= t('.docs_over_700') %>
                    </label>
                    <input type="text" name="dni_required" id="dni-required" value="<%= @current_doc_id %>" />

                </div>

              </li>
            </ul>
          </div>
        <% end %>

        <% if @coupons_active %>
          <% unless @always_on_coupon %>

            <div class="coupon checkout-p-text-mobile">
              <p><%= fa_icon "tags" %><%= t('.enter_coupon_1') %></p>
              <form action="">
                <label for="coupon-code"><%= t('.enter_coupon_2') %></label>
                <input type="text" name="" id="coupon-code" style="text-transform: uppercase;" />
                <button class="coupon-apply"><%= t('.apply_coupon') %></button>
                <label id="coupon-error" style="font-size: 16px; color: red; margin-left: 10px;"></label>
              </form>
            </div>

          <% end %>  
        <% end %>

         <div class="pay-in-soles d-flex space-between checkout-p-text-mobile" style="padding-bottom: 20px;">
          <div class="checkout-receipt-div">
            <div class="checkout-receipt-div-inner">
              <%= check_box_tag("pay_in_soles", "0", false, class: "factura_checkbox", id: "factura-checkbox") %>
              <%= t('.i_need_a_factura') %>
            </div>
            <div style="margin-left: 30px;">
              <% if @info_factura_available %>
                <p><%= "RUC: #{@factura_vat}" %></p>
                <p><%= "Razón Social: #{@factura_razon_social}" %></p>
                <p><%= "#{t('.address')}: #{@factura_address}, #{@factura_city}" %></p>
              <% else %>
                <%= button_to t('.click_here_to_setup_factura_info'), main_app.edit_user_registration_path(origin: "checkout"), method: :get, class: "checkout-receipt-button" %>
                
              <% end %>
            </div>
          </div>
        </div>

        <form id="radio_form">
          <div class="payment">
            <p style="margin-bottom: 25px;"><%= t('.select_payment') %></p>

              <div class="payment-method">
                <input type="radio" name="payment_method" value="card" id="payment_method_card" />
                <label for="credit"><%= t('.credit_debit_card') %></label>
                <div class="payment-img">
                  <%= image_tag "ecommerce/img/expatshop/credit_card_icons.png", class: "img-responsive" %>
                </div>

              </div>

              <div class="payment-method">
                <input type="radio" name="payment_method" value="yape" id="payment_method_card" />
                <label for="credit"><%= t('.yape') %></label>
                <div class="payment-img" style="width: 120px;">
                  <%= image_tag "ecommerce/img/expatshop/yape.png", class: "img-responsive yape-img" %>
                </div>
              </div>

              <div class="payment-method">
                <input type="radio" name="payment_method" value="mobile_banking" id="payment_method_card" />
                <label for="credit"><%= t('.mobile_banking') %></label>
                <div class="payment-img">
                  <%= image_tag "ecommerce/img/expatshop/bancos.png", class: "img-responsive" %>
                </div>
                <div class="payment-img" style="width: 161px; margin: 15 0 0 20;">
                  <%= image_tag "ecommerce/img/expatshop/via_pagoefectivo.png", class: "img-responsive" %>
                </div>
              </div>

        
              <div class="internal-process d-flex">
                <input type="radio" name="payment_method" id="payment_method_manual" value="manual" />
                <div>
                  <p><%= t('.manual_payment') %></p>
                  <p><%= @payment_manual.pre_message %></p>
                </div>
              </div>

            <div class="instructions">
              <p><%= t('.delivery_instructions') %></p>
              <textarea name="" id="" rows="6"></textarea>
            </div>
            <div class="receive-sms d-flex">
              <input type="checkbox" name="" checked id="accept_marketing" />
              <p>
                <%= t('.accept_marketing') %>
              </p>
            </div>
          </div>
          <button id ="pay-now-button" onclick="return gtag_report_conversion()"><%= t('.place_order') %></button>
        </form>
      </div>
    </div>
  </div>
</section>
</main>

<!-- Incluyendo .js de Culqi Checkout-->
<!--<script src="https://checkout.culqi.com/v2"></script> -->
<!--<script src="https://checkout.culqi.com/js/v3"></script> -->
<script src="https://3ds.culqi.com"></script>

<script src="https://checkout.culqi.com/js/v4"></script>

<script>
  Culqi3DS.publicKey = "<%= Culqi.public_key %>";
</script>

<script>

$( document ).ready(function() {

  Culqi3DS.reset();

  var applied_coupon = '';
  <% if @always_on_coupon %>
    var applied_coupon = "<%= @always_on_coupon.coupon_code %>";
    // calculate coupon and recalculate_checkout_totals
    calculate_coupon(applied_coupon);
  <% else %>
    var applied_coupon = '';
  <% end %>


  $('#accept_marketing').change(function(event) {
    if (!this.checked) {
      $('#accept_marketing').prop('checked', true);
      event.preventDefault();
    }
  });


  $('#new-address-button').click(function(){
    $('#new-address-container').show();
    // $(this).parent.hide();
  });

    $('#delete-address-button').click(function(){
      window.location.href = "<%= Ecommerce::Engine.routes.url_helpers.addresses_path %>";
    
  });

  $('#radio_form').change(function() {
    selected_value = $("input[name = 'payment_method']:checked").val();
    if (selected_value === 'yape') {
      console.log('clicked yape');
      $('#pay_in_soles').prop('checked', true);
      recalculate_checkout_totals();
    }
    })

  if (<%= !@not_in_stock_array.blank? %>) {
    Swal({
        type: 'error',
        title: '<%= session[:locale] == 'es-PE' ? 'Algunos de los productos de su carrito no están disponibles' : 'Some of the products in your cart are not available' %>',
        text: "<%= session[:locale] == 'es-PE' ? @not_in_stock_alert_es : @not_in_stock_alert_en %>"
      });
  }

  var address_option_length = $('#address_id > option').length;
  $("#address_id").get(0).selectedIndex = address_option_length - 1;
  if ($("#address_id option:selected").text().split(',')[2]) {
    var district_from_dropdown = $("#address_id option:selected").text().split(',').pop().trim();
    calculate_shipping($("#address_street").val(), district_from_dropdown, 'save_address');
  }

});



</script>

<script>

  var payment_amount = ($('#payment-amount').html() * 100).toFixed(2);
  var culqi_payment_amount = Number(($('#payment-amount').html() * 100).toFixed(2));
  var shipping_calculated_flag = false
  var exchange_rate = <%= @exchange_rate %>
  var info_factura_blank = <%= @info_factura_available.blank? %>
  var address_saved_flag = false
  var culqi_order_id = ''
  var applied_coupon = ''

  // calculate and update shipping html tag when shipping address is created
  $("#save-address-button").click(function() {
    calculate_shipping($("#address_street").val(), $("#address_district").val(), 'save_address');
  });
  // calculate coupon and recalculate_checkout_totals
  $(".coupon-apply").click(function() {
    calculate_coupon( $("#coupon-code").val() );
    event.preventDefault();
  });
  // calculate and update shipping html tag when shipping address is picked
  $('#address_id').on('change', function() {
    if ( this.value ) {
      var district_from_dropdown = $("#address_id option:selected").text().split(',').pop().trim();
      calculate_shipping($("#address_street").val(), district_from_dropdown, 'save_address');
    } else {
      var my_zero = 0
      $("#shipping-amount").html(my_zero.toFixed(2))
      $("#free-shipping-text").hide()
      shipping_calculated_flag = false
    }
  })
  // recalculate totals (basically for culqi) when pay_in_soles checkbox changes
  $('#pay_in_soles').on('change', function() {
    recalculate_checkout_totals();
  })

  // recalculate totals (basically for culqi) when pay_in_points checkbox changes
  $('#pay_in_points').on('change', function() {
    recalculate_checkout_totals();
  })

  function extract_address_and_district() {
    var address_and_district = $('#address_id').val().split('|');
    var address = address_and_district[0];
    var district = address_and_district[1];
    return [address, district]
  }

  function calculate_shipping(street, district, origin) {
    $.ajax({
      url: "calculate_shipping",
      dataType: "json",
      method: "POST",
      data: { address: street, district: district },
      success: function(data){
        if (data.currency == "pen") { cur_sym = "S/. " } else { cur_sym = "$ " }
        $("#shipping-amount").html(data.amount.toFixed(2))
        //$("#free-shipping-text").show()
        recalculate_checkout_totals();
        shipping_calculated_flag = true
        if (origin == 'save_address') {
          address_saved_flag = true
        }
      }
    });
  }

  function calculate_coupon(coupon_code) {
    $.ajax({
      url: "calculate_coupon",
      dataType: "json",
      method: "POST",
      data: { coupon_code: coupon_code.toUpperCase(), cart_id: "<%= @cart.id %>" },
      success: function(data){
        if (data.result == "ok") {
          $("#coupon-amount").html(Number(data.discount).toFixed(2));
          $("#coupon-subtotal-id").removeClass('coupon-subtotal-hidden');
          $("#coupon-error").html("");
          applied_coupon = coupon_code
          if (data.free_shipping == true) {
            $("#shipping-amount").html(0)
            $("#free-shipping-text").hide()
          } else {
            if ($("#address_id option:selected").text().split(',')[2]) {
              var district_from_dropdown = $("#address_id option:selected").text().split(',').pop().trim();
              calculate_shipping($("#address_street").val(), district_from_dropdown, 'coupon');
            }
          }
          recalculate_checkout_totals();
        }
        else {
          $("#coupon-error").html(data.error_message);
        }
      }
    });
  }

  function recalculate_checkout_totals() {
    Culqi.publicKey = "<%= Culqi.public_key %>";
    // console.log('Culqi.publicKey: ',Culqi.publicKey)
    Culqi.orderKey = "<%= Culqi.secret_key %>";

    var total_amount = (
      Number($("#coupon-amount").html()) +
      Number($("#shipping-amount").html()) +
      Number($("#subtotal").html()) +
      Number($("#combo-discount-amount").html())
    ).toFixed(2);

    $('#payment-amount').html(total_amount)
    $('#payment-amount-in-soles').html((total_amount * exchange_rate).toFixed(2));
    payment_amount = (Number($('#payment-amount').html()) * 100).toFixed(2);
    culqi_payment_amount = ($('#pay_in_soles').prop('checked')) ? (Number($('#payment-amount-in-soles').html()) * 100).toFixed(2) : (Number($('#payment-amount').html()) * 100).toFixed(2);

    var points_to_redeem = ($('#pay_in_points').is(':checked')) ? (Number($("#points-amount").html()) >= payment_amount ? payment_amount : Number($("#points-amount").html())) : 0

    if (points_to_redeem > 0) {
      total_amount = (Number(total_amount) - (points_to_redeem / 100)).toFixed(2)
      $('#payment-amount').html(total_amount)
      $('#payment-amount-in-soles').html((total_amount * exchange_rate).toFixed(2));
      payment_amount = (Number($('#payment-amount').html()) * 100).toFixed(2);
      culqi_payment_amount = ($('#pay_in_soles').prop('checked')) ? (Number($('#payment-amount-in-soles').html()) * 100).toFixed(2) : (Number($('#payment-amount').html()) * 100).toFixed(2);
    }

    // console.log('recalculate_checkout_totals')


  }

  $('#pay-now-button').on('click', function(e) {
    $.ajax({
      url: "checkout/check_stock_cart_js_from_checkout",
      dataType: "json",
      success: function(data) {
        if (data.in_stock) {
          process_payment(e)
        } else {
          window.location.replace("<%= checkout_path %>");
        }
      }
    });
   });


  function process_payment(e) {
    var errors_present = false
    // Abre el formulario con las opciones de Culqi.settings
    if (!$('input[name=payment_method]:checked').val()) {
      errors_present = true ;
      Swal({
          type: 'error',
          title: '<%= t('.order_not_placed') %>',
          text: "<%= t('.you_must_select_payment_method') %>"
        });
    }

    var payment_amount = ($('#payment-amount').html() * 100).toFixed(2);
    if ((payment_amount * exchange_rate) >= 700 && !$('#factura-checkbox').is(':checked') && typeof $('#dni-required').val() != "undefined" && !$.isNumeric( $('#dni-required').val() ) ) {
      errors_present = true ;
      Swal({
          type: 'error',
          title: '<%= t('.order_not_placed') %>',
          text: "<%= t('.you_must_enter_doc') %>"
        });
      }
    if (typeof $('#dni-required').val() != "undefined" && !$('#factura-checkbox').is(':checked') && $('#dni-required').val().length > 12) {
      errors_present = true ;
      Swal({
          type: 'error',
          title: '<%= t('.order_not_placed') %>',
          text: "<%= t('.you_must_enter_doc') %>"
        });
      }
    if (!address_saved_flag && !$('#address_id').val()) {
      errors_present = true ;
      Swal({
          type: 'error',
          title: '<%= t('.order_not_placed') %>',
          text: "<%= t('.you_must_pick_or_save_an_address') %>"
        });
      }
    if ($('#factura-checkbox').is(':checked') && info_factura_blank) {
      errors_present = true ;
      Swal({
          type: 'error',
          title: '<%= t('.order_not_placed') %>',
          text: "<%= t('.you_must_enter_factura_info') %>"
        });
      }

    if (!($('#accept_marketing').is(':checked'))) {
      errors_present = true ;
      Swal({
          type: 'error',
          title: '<%= t('.order_not_placed') %>',
          text: "<%= t('.you_must_check_marketing') %>"
        });
      }

    if (!errors_present) {
      if (($('input[name=payment_method]:checked').val() == "card") || ($('input[name=payment_method]:checked').val() == "yape") || ($('input[name=payment_method]:checked').val() == "mobile_banking")) {

        var myDate = new Date().getTime()/1000;
        var futureDate = myDate + ( 72 * 60 * 60 );

        data_to_send = {
              title: '<%= t('ecommerce.processor.culqi.payment_popup_title', site_name: Ecommerce.site_name) %>',
              amount: Number(culqi_payment_amount),
              currency_code: ($('#pay_in_soles').prop('checked')) ? "PEN" : "USD",
              description: '<%= "#{t('ecommerce.processor.culqi.order_label')}: #{@cart.id}" %>',
              order_number: <%= session[:cart_id] %> + '-cart-' + (Math.floor(Math.random() * 10000)).toString(),
              expiration_date: futureDate,
              confirm: false,
              client_details: {
                 first_name: '<%= @current_user_first_name %>',
                 last_name: '<%= @current_user_last_name %>',
                 email: '<%= @current_user_email %>',
                 phone_number: '<%= @current_user_phone %>'
               },
              }

        $.ajax({
          url: "https://api.culqi.com/v2/orders",
          dataType: "json",
          method: "POST",
          headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                    'authorization': 'Bearer ' + Culqi.orderKey
          },
          data: JSON.stringify(data_to_send),
          success: function(data){
            console.log(data.id, '<= Culqi Order Id');
            culqi_order_id = data.id
            Culqi.settings({
              title: '<%= t('ecommerce.processor.culqi.payment_popup_title', site_name: Ecommerce.site_name) %>',
              amount: Number(culqi_payment_amount),
              currency: ($('#pay_in_soles').prop('checked')) ? "PEN" : "USD",
              description: '<%= "#{t('ecommerce.processor.culqi.order_label')}: #{@cart.id}" %>',
              order: data.id
            });

            Culqi3DS.settings = {
              charge: {
                  totalAmount: Number(culqi_payment_amount),
                  returnUrl: "<%= ENV["ROLLBAR_ENV"] == 'production' ? 'https://expatshop.pe/store/checkout' : 'http://localhost:3000/store/checkout' %>",
                },
                card: {
                  email: "<%= @current_user_email %>",
                },
            };

            Culqi.options({
              lang: "auto",
              installments: false, // Habilitar o deshabilitar el campo de cuotas
              paymentMethods: {
                tarjeta: $('input[name=payment_method]:checked').val() === 'card',
                yape: $('input[name=payment_method]:checked').val() === 'yape', 
                bancaMovil: $('input[name=payment_method]:checked').val() === 'mobile_banking',
                agente: $('input[name=payment_method]:checked').val() === 'mobile_banking',
                billetera: $('input[name=payment_method]:checked').val() === 'mobile_banking',
                // cuotealo: true,
              },
              style: {
                logo: 'https://s3.amazonaws.com/devtechperu-expatshop-dev/static/images/expatshop_logo_circular_280x280.png'
              },
              appearance: {
                menuType: 'sliderTop'
              }
            });

            Culqi.open();
            e.preventDefault();
          }
        });

      /*
      Culqi.settings({
        title: '<%= t('ecommerce.processor.culqi.payment_popup_title') %>',
        amount: Number(culqi_payment_amount),
        currency: ($('#pay_in_soles').attr('checked')) ? "PEN" : "USD",
        description: '<%= "#{t('ecommerce.processor.culqi.order_label')}: #{@cart.id}" %>'
        // order: data.id
      });
      console.log('Culqi.publicKey: ',Culqi.publicKey)
      Culqi.open();
      e.preventDefault();
*/

      }
      else if ($('input[name=payment_method]:checked').val() == "manual") {
        manual_payment();
        e.preventDefault();
      }
    }
  };

  window.culqi = async function () {

    // console.log('function Culqi just ran')

    if(Culqi.token) { // ¡Token creado exitosamente!
        // Get the token ID:
        // console.log('token created!');
        Culqi.close();
        var token = Culqi.token;
        window.token = token
        var picked_shipping_address_id = $('#address_id').val();
        var shipping_amount = ($('#shipping-amount').html() * 100).toFixed(2);
        var culqi_payment_amount = Number(($('#pay_in_soles').prop('checked')) ? ($('#payment-amount-in-soles').html() * 100).toFixed(2) : ($('#payment-amount').html() * 100).toFixed(2));
        // var discount_amount = (Number($('#coupon-amount').html() * 100).toFixed(2)) + (Number($('#combo-discount-amount').html() * 100).toFixed(2));

        var discount_amount = Number($('#coupon-amount').html()) * 100 + Number($('#combo-discount-amount').html()) * 100;
        discount_amount = discount_amount.toFixed(2);

        //var payment_amount = $('#payment_amount').html() * 100;
        var points_to_redeem = ($('#pay_in_points').is(':checked')) ? (Number($("#points-amount").html()) >= payment_amount ? payment_amount : Number($("#points-amount").html())) : 0

        Culqi3DS.settings = {
          charge: {
              totalAmount: Number(culqi_payment_amount),
              returnUrl: "<%= ENV["ROLLBAR_ENV"] == 'production' ? 'https://expatshop.pe/store/checkout' : 'http://localhost:3000/store/checkout' %>",
            },
            card: {
              email: "<%= @current_user_email %>",
            },
        };

        const deviceFingerPrintId = await Culqi3DS.generateDevice();
        window.deviceFingerPrintId = deviceFingerPrintId

        if (deviceFingerPrintId) {
            // console.log('Fingerpint Id Generated', deviceFingerPrintId)
        } else {
            console.log('Error generating deviceFingerPrintId')
        }

        $.post(
          "checkout/pay_order_culqi_checkout",
          {
          culqi_token: token,
          amount: payment_amount,
          culqi_payment_amount: culqi_payment_amount,
          shipping_amount: shipping_amount,
          picked_shipping_address_id: picked_shipping_address_id,
          cart_id: '<%= "#{@cart.id}" if @cart %>',
          want_factura: $('#factura-checkbox').is(":checked"),
          required_doc: $('#dni-required').val(),
          delivery_instructions: $('#delivery-instructions').val(),
          applied_coupon: applied_coupon,
          discount_amount: discount_amount,
          points_redeemed_amount: points_to_redeem,
          currency: ($('#pay_in_soles').prop('checked')) ? "PEN" : "USD",
          device_finger_print_id: deviceFingerPrintId
          },
          function(data) {
            // console.log('data response from checkout/pay_order_culqi_checkout: ', data)
            if (data.result && data.result == "3ds_required") {
              Culqi3DS.initAuthentication(token.id);

            } else {
              Culqi3DS.reset();
              window.deviceFingerPrintId = null
              window.token = null
            }
            
          }
       );
       //alert('Se ha creado un token:' + token);

    }else{ // ¡Hubo algún problema!
      // Here is Pagoefectivo
      // console.log('token NOT created! Pagoefectivo?');
      // console.log(Culqi.orderKey);
        // Mostramos JSON de objeto error en consola
        if (Culqi.orderKey !== null && Culqi.orderKey !== '')
        {
          if (Culqi.order) {
            // async payment successfull (got ID via event webhook?)
            var picked_shipping_address_id = $('#address_id').val();
            var shipping_amount = ($('#shipping-amount').html() * 100).toFixed(2);
            var culqi_payment_amount = Number(($('#pay_in_soles').prop('checked')) ? ($('#payment-amount-in-soles').html() * 100).toFixed(2) : ($('#payment-amount').html() * 100).toFixed(2));
            // var discount_amount = ($('#coupon-amount').html() * 100).toFixed(2) + ($('#combo-discount-amount').html() * 100).toFixed(2);

            var discount_amount = Number($('#coupon-amount').html()) * 100 + Number($('#combo-discount-amount').html()) * 100;
            discount_amount = discount_amount.toFixed(2);


            var points_to_redeem = ($('#pay_in_points').is(':checked')) ? (Number($("#points-amount").html()) >= payment_amount ? payment_amount : Number($("#points-amount").html())) : 0
            // console.log('Order exists but no Token = Pagoefectivo');
            // console.log(Culqi.order)
            $.post(
              "checkout/pay_order_pagoefectivo_checkout",
              {
              culqi_order_id: culqi_order_id,
              amount: payment_amount,
              culqi_payment_amount: culqi_payment_amount,
              shipping_amount: shipping_amount,
              picked_shipping_address_id: picked_shipping_address_id,
              cart_id: '<%= "#{@cart.id}" if @cart %>',
              want_factura: $('#factura-checkbox').is(":checked"),
              required_doc: $('#dni-required').val(),
              delivery_instructions: $('#delivery-instructions').val(),
              applied_coupon: applied_coupon,
              discount_amount: discount_amount,
              points_redeemed_amount: points_to_redeem,
              currency: ($('#pay_in_soles').prop('checked')) ? "PEN" : "USD",
              pagoefectivo_payment_code: Culqi.order.payment_code,
              pagoefectivo_exp_date: Culqi.order.expiration_date,
              pagoefectivo_qr_code: Culqi.order.qr
              },
              function(data) {
              })
          } else {
            console.log('order key is null');
            console.log('Checkout closed by user without choosing payment option');
            //Swal({
            //    type: 'error',
            //    title: '<%= t('.token_not_returned') %>',
            //    text: Culqi.error
            //  });

          }
        }

        console.log(Culqi.error);

    }
  };

  function manual_payment() {
    var picked_shipping_address_id = $('#address_id').val();

    var shipping_amount = ($('#shipping-amount').html() * 100).toFixed(2);
    var payment_amount = ($('#payment-amount').html() * 100).toFixed(2);
    // var discount_amount = ($('#coupon-amount').html() * 100).toFixed(2) + ($('#combo-discount-amount').html() * 100).toFixed(2);

    var discount_amount = Number($('#coupon-amount').html()) * 100 + Number($('#combo-discount-amount').html()) * 100;
    discount_amount = discount_amount.toFixed(2);

    var points_to_redeem = ($('#pay_in_points').is(':checked')) ? (Number($("#points-amount").html()) >= payment_amount ? payment_amount : Number($("#points-amount").html())) : 0

    //var payment_amount = $('#payment_amount').html() * 100;
    $.post(
      "checkout/pay_order_manual",
      {
      amount: payment_amount,
      shipping_amount: shipping_amount,
      picked_shipping_address_id: picked_shipping_address_id,
      cart_id: '<%= "#{@cart.id}" if @cart %>',
      want_factura: $('#factura-checkbox').is(":checked"),
      required_doc: $('#dni-required').val(),
      delivery_instructions: $('#delivery-instructions').val(),
      applied_coupon: applied_coupon,
      discount_amount: discount_amount,
      points_redeemed_amount: points_to_redeem
      },
      function(data) {
      }
   );

  }

</script>

<!-- Event snippet for Purchase conversion page In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
  function gtag_report_conversion(url) { var callback = function () { if (typeof(url) != 'undefined') { window.location = url; } }; gtag('event', 'conversion', { 'send_to': 'AW-670036400/O8dpCK38rPYBELDjv78C', 'transaction_id': '<%= "#{@cart.id}" if @cart %>', 'value': payment_amount, 'currency': ($('#pay_in_soles').prop('checked')) ? "PEN" : "USD", 'event_callback': callback }); return false; }
</script>

<script>
  window.addEventListener("message", function(event) {
    if (event.origin === window.location.origin) {
      const response = event.data;

      if (response.loading) {
        // Show custom loading
        // console.log("Loading..."); // Replace this with your actual loading logic
      } else {
        // Hide custom loading
        // console.log("Loading done."); // Replace this with your actual logic to stop loading indication
      }

      if (response.parameters3DS) {
        // 3DS authentication completed successfully
        // console.log("3DS Auth Success:", response.parameters3DS);
        $.post(
          "checkout/pay_order_culqi_checkout_3ds_step",
          {
          culqi_token: window.token,
          amount: ($('#payment-amount').html() * 100).toFixed(2),
          culqi_payment_amount: Number(($('#pay_in_soles').prop('checked')) ? ($('#payment-amount-in-soles').html() * 100).toFixed(2) : ($('#payment-amount').html() * 100).toFixed(2)),
          shipping_amount: ($('#shipping-amount').html() * 100).toFixed(2),
          picked_shipping_address_id: $('#address_id').val(),
          cart_id: '<%= "#{@cart.id}" if @cart %>',
          want_factura: $('#factura-checkbox').is(":checked"),
          required_doc: $('#dni-required').val(),
          delivery_instructions: $('#delivery-instructions').val(),
          applied_coupon: applied_coupon,
          discount_amount: (Number($('#coupon-amount').html()) * 100 + Number($('#combo-discount-amount').html()) * 100).toFixed(2),
          points_redeemed_amount: ($('#pay_in_points').is(':checked')) ? (Number($("#points-amount").html()) >= payment_amount ? payment_amount : Number($("#points-amount").html())) : 0,
          currency: ($('#pay_in_soles').prop('checked')) ? "PEN" : "USD",
          device_finger_print_id: window.deviceFingerPrintId,
          authentication_3DS: response.parameters3DS
          },
          function(data) {
            // console.log('data response from checkout/pay_order_culqi_checkout_3ds_step: ', data)
          }
        );
      }

      if (response.error) {
        // There was an error with the 3DS authentication
        console.log("3DS Auth Error:", response.error);
        window.location.replace("<%= orders_path %>?error=payment");
      }
    }
  }, false);
</script>
