<div class="page-header">
  <%= link_to :back, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Back
  <% end %>
  <h1>List of Payments</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Customer</th>
        <th>Order</th>
        <th><%= t('.name') %></th>
        <th>Amount</th>
        <th>Payment Request</th>
        <th>Processor</th>
        <th>Processor Transaction Id</th>
        <th>Processor Token</th>
        <th>Comment</th>
        <th><%= t('.status') %></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @backoffice_payments) do |payment| %>
        <td><%= payment.date.localtime.strftime("%d-%b-%y - %H:%M") %></td>
        <td><%= payment.try(:user).try(:name) %></td>
        <td><%= payment.order_id %></td>
        <td><%= payment.payment_method.name %></td>
        <td><%= number_to_currency(payment.amount) %></td>
        <td><%= payment.payment_request_id %></td>
        <td><%= payment.payment_method.try(:processor) %></td>
        <td><%= payment.processor_transaction_id %></td>
        <td><%= payment.processor_token %></td>
        <td><%= payment.comment %></td>
        <td><%= payment.status %></td>
      <% end %>
    </tbody>
  </table>
</div>
