<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1><%= t('.cart') %></h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#"><%= t('.home') %></a></li>
      <li class="breadcrumb-item"><a href="#"><%= t('.shop') %></a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= t('.cart') %></li>
    </ol>
  </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="table-responsive">
        <table class="table cart">
          <thead>
            <tr>
              <th class="cart-product-remove">&nbsp;</th>
              <th class="cart-product-thumbnail">&nbsp;</th>
              <th class="cart-product-name"><%= t('.product') %></th>
              <th class="cart-product-price"><%= t('.unit_price') %></th>
              <th class="cart-product-quantity"><%= t('.quantity') %></th>
              <th class="cart-product-subtotal"><%= t('.total') %></th>
            </tr>
          </thead>
          <tbody>
            <% if @cart.cart_items.count == 0 %>
              <tr class="cart_item">
                <td class="cart-product-remove">

                </td>

                <td class="cart-product-thumbnail">
                  <h4> <%= t('.no_items_in_cart') %></h4>
                </td>

                <td class="cart-product-name">

                </td>

                <td class="cart-product-price">

                </td>

                <td class="cart-product-quantity">
                  <div class="quantity clearfix">
                    <input type="button" value="-" class="minus">
                    <input type="text" name="quantity" value="" class="qty" />
                    <input type="button" value="+" class="plus">
                  </div>
                </td>

                <td class="cart-product-subtotal">

                </td>
              </tr>
            <% else %>
              <% @cart.cart_items.each do |item| %>
              <tr class="cart_item">
                <td class="cart-product-remove">
                  <%= link_to "".html_safe, cart_item_path(item.id), method: :delete, class: "icon-trash2" %>
                  <!-- <a href="#" class="remove" title="<%= t('.remove') %>"><i class="icon-trash2"></i></a> -->
                </td>

                <td class="cart-product-thumbnail">
                  <a href="<%= product_path(item.product) %>">
                    <%= image_tag item.product.image.thumb_100.url, width: 64, height: 64, alt: "" %>
                  </a>
                </td>

                <td class="cart-product-name">
                  <%= link_to item.product.name, product_path(item.product) %>
                </td>

                <td class="cart-product-price">
                  <span class="amount"><%= number_to_currency(item.product.current_price) %></span>
                </td>

                <td class="cart-product-quantity">
                  <div class="quantity clearfix">
                    <input type="button" value="-" class="minus">
                    <input type="text" name="quantity" value="<%= item.quantity %>" class="qty" />
                    <input type="button" value="+" class="plus">
                  </div>
                </td>

                <td class="cart-product-subtotal">
                  <span class="amount"><%= number_to_currency(item.line_total) %></span>
                </td>
              </tr>
              <% end %>
            <% end %>

            <tr class="cart_item">
              <td colspan="6">
                <div class="row clearfix">
                  <div class="col-lg-4 col-4 nopadding">
                    <div class="row">
                      <%= link_to t('.continue_shopping'), root_path, class: "button continue-shopping notopmargin" %>
                    </div>
                  </div>
                  <div class="col-lg-8 col-8 nopadding">
                    <a href="#" class="button button-3d nomargin fright"><%= t('.update_cart') %></a>
                    <%= link_to t('.proceed_to_checkout'), checkout_path, class: "button button-3d notopmargin fright" %>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>

        </table>
      </div>

      <div class="row clearfix">
        <div class="col-lg-8 clearfix">

        </div>

        <div class="col-lg-4 clearfix">
          <h4><%= t('.cart_totals') %></h4>

          <div class="table-responsive">
            <table class="table cart">
              <tbody>
                <tr class="cart_item">
                  <td class="cart-product-name">
                    <strong><%= t('.total_num_of_items') %></strong>
                  </td>

                  <td class="cart-product-name">
                    <span class="amount" id="qty-subtotal-amount"><%= @cart_qty_subtotal %></span>
                  </td>
                </tr>

                <tr class="cart_item">
                  <td class="cart-product-name wide-cart-product-name">
                    <strong><%= t('.cart_subtotal') %></strong>
                  </td>

                  <td class="cart-product-name wide-cart-product-name">
                    <span class="amount" id="subtotal-amount"><%= number_to_currency(@cart_subtotal) %></span>
                  </td>
                </tr>
                <tr class="cart_item">
                  <td class="cart-product-name wide-cart-product-name">
                    <strong><%= t('.shipping') %></strong>
                  </td>

                  <td class="cart-product-name wide-cart-product-name">
                    <span class="amount"><%= t('.shipping_costs_will_be_calculated') %></span>
                  </td>
                </tr>
                <tr class="cart_item">
                  <td class="cart-product-name wide-cart-product-name">
                    <strong><%= t('.total') %></strong>
                  </td>

                  <td class="cart-product-name wide-cart-product-name">
                    <span class="amount color lead" id="total-amount"><strong><%= number_to_currency(@cart_subtotal) %></strong></span>
                  </td>
                </tr>

              </tbody>

            </table>
            <%= link_to t('.proceed_to_checkout'), checkout_path, class: "button button-3d notopmargin fright" %>
          </div>
        </div>
      </div>

    </div>

  </div>

</section><!-- #content end -->
