<%= simple_form_for([:backoffice, @campaign]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: t('.name') %>
    <div id="campaign-coupon-id-div" class="<%= @campaign.campaign_type != "product_drip_email" ? '' : 'drip-hidden' %>" id="drip-fields-div">
      <%= f.input :coupon_id, as: :select2, label: t('.coupon_id'), collection: Ecommerce::Coupon.active.where(dynamic: false).order(:coupon_code), label_method: lambda { |obj| obj.coupon_code} %>
    </div>
    <%= f.input :campaign_type, label: t('.campaign_type'), collection: Ecommerce::Campaign.campaign_types.keys %>
    <%= f.input :status, label: t('.status'), collection: Ecommerce::Campaign.statuses.keys %>
    <%= f.input :email_subject, label: t('.email_subject') %>
    <%= f.input :email_subject_es, label: t('.email_subject_es') %>
    <%= f.input :email_coupon_description, label: t('.email_coupon_description') %>
    <%= f.input :email_coupon_description_es, label: t('.email_coupon_description_es') %>

    <h3 style="margin-top: 30px;">Email Images</h3>
    <p class="text-muted">Add one or more images. Each is rendered vertically in the email; if a URL is set, both the button above and the image itself link to that URL.</p>
    <div id="campaign_images">
      <%= f.simple_fields_for :campaign_images do |ci| %>
        <%= render 'campaign_image_fields', f: ci %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Add Image', f, :campaign_images, class: 'btn btn-primary', style: "margin-bottom: 15px;" %>
      </div>
    </div>

    <div class="well <%= @campaign.campaign_type == "product_drip_email" ? '' : 'drip-hidden' %>" id="drip-fields-div">
      <%= f.input :drip_product_id, as: :select2, collection: Ecommerce::Product.all.order(:permalink), label: "Drip Product", label_method: :permalink %>
      <%= f.input :drip_base_coupon_id, as: :select2, collection: Ecommerce::Coupon.active.where(dynamic: false).order(:coupon_code), label: "Drip Base Coupon", label_method: :coupon_code %>
      <%= f.input :drip_days_after, label: "Sent Days After Purchase" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('.submit'), class: "btn btn-primary" %>
  </div>
<% end %>

<script>
  $(document).ready(function(){
    $("#campaign_campaign_type").change(function(){
      if($(this).val() == "product_drip_email"){
        $("#drip-fields-div").removeClass("drip-hidden");
        $("#campaign-coupon-id-div").addClass("drip-hidden");
      }else{
        $("#drip-fields-div").addClass("drip-hidden");
        $("#campaign-coupon-id-div").removeClass("drip-hidden");
      }
    });

    $("#campaign_drip_product_id, #campaign_drip_base_coupon_id, #campaign_coupon_id").select2({
      width: '100%',
    });
  });
</script>
