<%= simple_form_for([:backoffice, @campaign]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: t('.name') %>
    <div id="campaign-coupon-id-div" class="<%= @campaign.campaign_type != "product_drip_email" ? '' : 'drip-hidden' %>" id="drip-fields-div">
      <%= f.input :coupon_id, as: :select2, label: t('.coupon_id'), collection: Ecommerce::Coupon.active.where(dynamic: false).order(:coupon_code), label_method: lambda { |obj| obj.coupon_code} %>
    </div>
    <%= f.input :campaign_type, label: t('.campaign_type'), collection: Ecommerce::Campaign.campaign_types.keys %>
    <%= f.input :status, label: t('.status'), collection: Ecommerce::Campaign.statuses.keys %>
    <%= f.input :email_subject, label: t('.email_subject') %>
    <%= f.input :email_subject_es, label: t('.email_subject_es') %>
    <%= f.input :email_coupon_description, label: t('.email_coupon_description') %>
    <%= f.input :email_coupon_description_es, label: t('.email_coupon_description_es') %>
    <%= f.input :link, label: t('.link') %>
    <%= f.label t('.main_product_image') %>
    <div class="form-group">
      <% if f.object.image? %>
        <%= image_tag f.object.image.url, id: "img_actual", class: "img-thumbnail", :height => "200", :width => "200" %>
      <% end %>
      <img alt="your image" class="img-thumbnail hidden" height="200" id="img_prev" src="#" width="200"/>
      <br/>
      <span class="btn btn-default btn-file">
        <%= f.file_field :image, id: "file-image-upload", label: "Email Body Image" %>
      </span>
      <%= f.hidden_field :image_cache %>
    </div>
    <div class="well <%= @campaign.campaign_type == "product_drip_email" ? '' : 'drip-hidden' %>" id="drip-fields-div">
      <%= f.input :drip_product_id, as: :select2, collection: Ecommerce::Product.all.order(:permalink), label: "Drip Product", label_method: :permalink %>
      <%= f.input :drip_base_coupon_id, as: :select2, collection: Ecommerce::Coupon.active.where(dynamic: false).order(:coupon_code), label: "Drip Base Coupon", label_method: :coupon_code %>
      <%= f.input :drip_days_after, label: "Sent Days After Purchase" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('.submit'), class: "btn btn-primary" %>
  </div>
<% end %>

<script>

  $(document).ready(function(){

    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#file-image-upload").change(function(){
      $('#img_prev').removeClass('hidden');
      $('#img_actual').addClass('hidden');
      readURL(this);
    });

    $("#campaign_campaign_type").change(function(){
      console.log('dropdown changed', $(this).val());
      if($(this).val() == "product_drip_email"){
        $("#drip-fields-div").removeClass("drip-hidden");
        $("#campaign-coupon-id-div").addClass("drip-hidden");
      }else{
        $("#drip-fields-div").addClass("drip-hidden");
        $("#campaign-coupon-id-div").removeClass("drip-hidden");
      }
    });

    $("#campaign_drip_product_id, #campaign_drip_base_coupon_id, #campaign_coupon_id").select2({
      width: '100%',
    });

  });


</script>
