<div class="page-header">
  <%= link_to new_backoffice_campaign_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Campaign
  <% end %>
  <h1>Listing Campaigns</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Campaign Name</th>
        <th>Coupon</th>
        <th>Campaign Type</th>
        <th>Status</th>
        <th>Send</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Destroy</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @campaigns) do |campaign| %>
        <td><%= campaign.name %></td>
        <td><%= campaign.coupon.coupon_code %></td>
        <td><%= campaign.campaign_type %></td>
        <td><%= campaign.status %></td>
        <% if campaign.bulk_email? && campaign.active? %>
          <td><%= link_to "<i class='material-icons'>email</i>".html_safe, backoffice_send_recipients_path(campaign) %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= link_to "<i class='material-icons'>visibility</i>".html_safe, backoffice_campaign_path(campaign) %></td>
        <td><%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_backoffice_campaign_path(campaign) %></td>
        <td><%= link_to "<i class='material-icons'>delete</i>".html_safe, backoffice_campaign_path(campaign), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
