<div class="page-header">
  <%= link_to backoffice_campaigns_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_backoffice_campaign_path(@campaign), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show Campaign</h1>
</div>

<dl class="dl-horizontal">
  <dt>Campaign Name:</dt>
  <dd><%= @campaign.name %></dd>

  <dt>Coupon:</dt>
  <dd><%= @campaign.coupon.try(:coupon_code) %></dd>

  <dt>Campaign Type:</dt>
  <dd><%= @campaign.campaign_type %></dd>

  <dt>Email Subject:</dt>
  <dd><%= @campaign.email_subject %></dd>

  <dt>Email Subject Spanish:</dt>
  <dd><%= @campaign.email_subject_es %></dd>

  <dt>Email Coupon Description:</dt>
  <dd><%= @campaign.email_coupon_description %></dd>

  <dt>Email Coupon Description Spanish:</dt>
  <dd><%= @campaign.email_coupon_description_es %></dd>

  <dt>Status:</dt>
  <dd><%= @campaign.status %></dd>

  <dt>Link:</dt>
  <dd><%= @campaign.link %></dd>

  <dt>Image:</dt>
  <dd><%= image_tag @campaign.image.large.url %></dd>

</dl>
