<%= simple_form_for([:backoffice, @combo_discount]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "Name" %>
    <%= f.input :description_en, label: "Description (English)" %>
    <%= f.input :description_es, label: "Description (Spanish)" %>
    <%= f.input :product_id_1, as: :select2, collection: Ecommerce::Product.active.order(:permalink), label_method: :permalink, label: "Combo Product 1" %>
    <%= f.input :qty_product_1, label: "Qty Product 1" %>
    <%= f.input :product_id_2, as: :select2, collection: Ecommerce::Product.active.order(:permalink), label_method: :permalink, label: "Combo Product 2 (optional)" %>
    <%= f.input :qty_product_2, label: "Qty Product 2" %>
    <%= f.input :discount_type, label: 'Combo Discount Type', collection: Ecommerce::ComboDiscount.discount_types.keys %>
    <%= f.input :discount_amount, label: "% or Fixed Amount (in USD)" %>
    <%= f.input :status, label: 'Status', collection: Ecommerce::ComboDiscount.statuses.keys %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('.submit'), class: "btn btn-primary" %>
  </div>
<% end %>

<script>

$(document).ready(function () {
  
  $("#combo_discount_product_id_1, #combo_discount_product_id_2").select2({
    width: '100%',
  });
});

</script>
