    <footer>
      <div class="container">
        <%= image_tag Ecommerce.header_logo, alt: "expatshop.pe Logo" %>
        <div class="row">
          <div class="col-md-6">
            <p>
              EXPATSHOP:
              <span>
                <%= t('.slogan_1') %>
              </span>
            </p>
          </div>
          <div class="col-md-6">
            <p>
              OFICINAS:
              <span>
                <%= t('.slogan_2') %>
              </span>
            </p>
          </div>
          <div class="col-md-6 col-md-offset-3">
            <p>
              IMPORTANTE:
              <span>
                <%= t('.slogan_3') %>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="details">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <h4><%= t('.product_categories') %></h4>
              <ul>
                <li><a href="#">- Bebidas Alcohólicas</a></li>
                <li><a href="">- Comestibles</a></li>
                <li><a href="">- Productos de Limpieza Ecológicos</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul>
                <li><a href="">- Mundo de Aceites</a></li>
                <li><a href="">- Comida India</a></li>
                <li><a href="">- Chocolates y Caramelos</a></li>
                <li><a href="">- Bebidas Sin Alcohol</a></li>
              </ul>
            </div>
            <div class="col-md-3" style="margin-top: 15px;">
              <h4><%= t('.customer_zone') %></h4>
              <ul>
                <% if @current_user && current_user.admin? %>
                  <li style="color: red;"><a href="<%= backoffice_dashboard_path %>">- Backoffice</a></li>
                <% end %>
                <li><a href="<%= root_path %>">- <%= t('.home') %></a></li>
                <li><a href="https://expatshop.com/store/about_us">- <%= t('.who_we_are') %></a></li>
                <li><a href="https://expatshop.com/store/shipping_policy">- <%= t('.shipping_policy') %></a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul>
                <li><a href="https://expatshop.com/store/terms_and_conditions">- <%= t('.terms_and_conditions') %></a></li>
                <li><a href="https://expatshop.com/store/contact_us">- <%= t('.contact_us_menu') %></a></li>
                <li>
                  <%= fa_icon 'book' %>
                  <a href="https://expatshop.perulibrodereclamaciones.com/">Libro de Reclamaciones</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <div class="row d-flex flex-center">
            <div class="col-md-6 col-xs-12">
              <h5>COPYRIGHT 2023 EXPATSHOP.PE</h5>
            </div>
            <div class="col-md-6 col-xs-12">
              <ul class="d-flex">
                <%= image_tag "ecommerce/img/expatshop/credit_card_icons.png", style: "width: 350px;" %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>