    <nav class="desktops hidden-xs">
      <div id="js_now_flash">
        <% if notice.present? %>
          <%= render partial: "ecommerce/application/js_now_flash" %>
        <% end %>
      </div>
      <div class="container-fluid">
        <div class="d-flex">
          <div class="logo">
            <a href="/">
              <%= image_tag Ecommerce.header_logo, alt: "expatshop.pe Logo" %>
            </a>
          </div>

          	
          <form action="<%= search_product_path %>" class="search-form position-relative">
            <input
              type="search"
              value=""
              name="search"
              id="search"
              autocomplete="off"
              placeholder="<%= t('.search_placeholder') %>"
            />
            <%= button_to class: "search-btn" do %>
              <%= fa_icon "search lg" %>
            <% end %>
          </form>
              


          


          <ul class="d-flex flex-center text-uppercase">
            <li class="d-flex flex-center">
              <a href="https://wa.me/51989080023" target="_blank">
              whatsapp
              </a>
              <a href="https://wa.me/51989080023" target="_blank">
                <%= fa_icon ('whatsapp lg') %>
              </a>
            </li>
            <% if current_user %>
              <% if !current_user.admin? %>
                <li><%= link_to "Backoffice", Ecommerce::Engine.routes.url_helpers.backoffice_dashboard_path, style: "color: red;" %></li>
              <% end %>
              <li class="dropdown dropdown-hover d-flex flex-center">
                <a class="dropdown-toggle d-flex flex-center" data-toggle="dropdown" href="#">
                  <%= "#{current_user.name}".html_safe %>
                  <span class="caret"></span>
                  <%= fa_icon('user', style: 'color: #67696C;') %>
                </a>

                <ul class="dropdown-menu dropdown-user">
                  <li class="dropdown-user-line"><%= link_to "#{t('.my_points')}: #{current_user.try(:points)}", Ecommerce::Engine.routes.url_helpers.points_path, class: "row", style: "color: red;" %></li>
                  <li class="dropdown-user-line"><%= link_to t('.my_orders'), Ecommerce::Engine.routes.url_helpers.orders_path, class: "row " %></li>
                  <li class="dropdown-user-line"><%= link_to t('.my_addresses'), Ecommerce::Engine.routes.url_helpers.addresses_path, class: "row " %></li>
                  <li class="dropdown-user-line"><%= link_to t('.my_account'), main_app.edit_user_registration_path, class: "row" %></li>
                  <li class="dropdown-user-line">
                    <a class="row" href="<%= Ecommerce::Engine.routes.url_helpers.referral_path %>">
                      <span><%= "#{t('.my_referral_program')}" %></span></br>
                      <span><%= "#{t('.my_referral_code')}#{current_user.try(:referral_code)}" %></span>
                    </a>
                  </li>
                  <li><%= link_to t('.sign_out'), main_app.logout_path %></li>

                </ul>

              </li>
            <% else %>
              <li class="d-flex flex-center">
                <a href="<%= main_app.new_user_registration_path(sign_up_type: 'non-guest') %>">
                  <%= t('.my_account') %>
                </a>
                <a href="<%= main_app.new_user_registration_path(sign_up_type: 'non-guest') %>"
                  ><i class="fa-regular fa-user icon-color d-flex flex-center"></i
                ></a>
              </li>
            <% end %>
          </ul>
          <div style="margin-top: 10px;">
            <form action="" class="d-flex">
              <select id="currency" class="cursor-pointer">
                <option <%= session[:currency] == 'usd' ? "selected" : "" %>value="usd">USD $</option>
                <option <%= session[:currency] == 'pen' ? "selected" : "" %> value="pen">PEN S</option>
              </select>
              <select id="lang" class="cursor-pointer">
                <option <%= session[:locale] == 'en-PE' ? "selected" : "" %> value="english" data-imagesrc="./imgs/usa.png">English</option>
                <option <%= session[:locale] == 'es-PE' ? "selected" : "" %> value="spanish" data-imagesrc="./imgs/peru.png">Español</option>
              </select>
            </form>
          </div>
          <li style="list-style-type: none;" id="cart-line">
            <%= render "ecommerce/#{Ecommerce.ecommerce_layout}/store/cart", locals: {cart: @cart} %>
          </li>
        </div>
      </div>
    </nav>
    <nav class="nav-links hidden-xs">
      <div class="container-fluid">
        <ul class="d-flex flex-center">
          <li><a style='font-size: 18px;' href="<%= Ecommerce::Engine.routes.url_helpers.products_path %>" class="<%= active_all_products_category() == 'active' ? 'active' : '' %>"><%= t('.all_products') %></a></li>
          <% if current_user %>
            <li>| <a style='color:red; font-size: 18px;' href="<%= Ecommerce::Engine.routes.url_helpers.favorites_path %>"><%= t('.favorite_products') %></a></li>
          <% end %>

          <% @primary_menu_categories.each do |category| %>
            <% unless category.id == 30 && !@banana_permission %>
              <li>| <%= link_to category.name, Ecommerce::Engine.routes.url_helpers.products_path(category_id: category.id), class: match_active_category(category), style: 'margin-left: 10px; font-size: 18px;' %></li>
            <% end %>
          <% end %>
          
        </ul>
      </div>
    </nav>
    <!-- navbar for mobiles -->
    <nav class="mobiles visible-xs">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-4 d-flex flex-center">
            <div class="cart position-relative">
              <p class="text-uppercase d-flex">
                Checkout
                <i class="fa-solid fa-cart-shopping cursor-pointer"></i>
                (2)
              </p>
            </div>
          </div>
          <div class="col-xs-4 d-flex flex-center">
            <form action="" class="d-flex">
              <label class="text-uppercase">language</label>
              <select id="langMobile" class="cursor-pointer">
                <option value="0" data-imagesrc="./imgs/usa.png">EN</option>
                <option value="1" data-imagesrc="./imgs/peru.png">ES</option>
              </select>
            </form>
          </div>
          <div class="col-xs-4 d-flex flex-center">
            <form action="">
              <select class="cursor-pointer" name="currency" id="currency">
                <option value="USD $">USD $</option>
                <option value="PEN S">PEN S/</option>
              </select>
            </form>
          </div>
        </div>
      </div>
    </nav>
    <nav class="navbar navbar-default mobiles-main-nav visible-xs">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row d-flex flex-center">
          <div class="col-xs-6">
            <a class="" href="#"
              ><img
                src="imgs/logo.png"
                alt="expatshop logo"
                class="img-responsive"
            /></a>
          </div>
          <div class="col-xs-3">
            <a href="#" class="d-flex flex-center"
              ><i
                class="user-icon fa-regular fa-user icon-color d-flex flex-center"
              ></i
            ></a>
          </div>
          <div class="col-xs-3">
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#" class="active">All the products</a></li>
            <li><a href="#"> New products</a></li>
            <li><a href="#"> Alcoholic beverages</a></li>
            <li><a href="#"> Offers and discounts</a></li>
            <li><a href="#"> Groceries</a></li>
            <li><a href="#"> Kitchen items</a></li>
            <li><a href="#"> Pharmaceutical products</a></li>
            <li><a href="#"> Ecological Cleaning Products</a></li>
            <li><a href="#"> Chocolates and candies</a></li>
            <li><a href="#"> World of oils</a></li>
            <li><a href="#"> Indian food</a></li>
            <li><a href="#"> Drinks without alcohol</a></li>
          </ul>
        </div>
      </div>
    </nav>


<%= render 'ecommerce/expatshop/store/top_promo' %>

</header>

<script>
  function redirectToCart() {
    console.log('cart clicked')
    window.location.href = "<%= Ecommerce::Engine.routes.url_helpers.cart_path(@cart.id) %>";
  }

</script>
