    <nav class="desktops hidden-xs top-desktop-header sticky-header">
      <div class="container-fluid">
        <div class="d-flex">
          <div class="logo">
            <a href="<%= root_path %>">
              <% if params[:action] == "main" %>  
                <%= image_tag Ecommerce.header_logo, alt: "expatshop.pe Logo" %>
              <% else %>
                <%= image_tag "ecommerce/img/expatshop/back_logo.png", alt: "expatshop.pe Logo" %>
              <% end %>
            </a>
          </div>
          	
          <form action="<%= search_product_path %>" class="search-form position-relative">
            <input
              type="search"
              value=""
              name="search"
              id="search"
              autocomplete="off"
              placeholder="<%= t('.search_placeholder') %>"
            />
            <%= button_to class: "search-btn" do %>
              <%= fa_icon "search lg" %>
            <% end %>
          </form>
              
          <ul class="d-flex flex-center text-uppercase">
            <li class="d-flex flex-center">
              <a href="https://wa.me/51989080023" target="_blank">
              whatsapp
              </a>
              <a href="https://wa.me/51989080023" target="_blank">
                <%= fa_icon ('whatsapp lg') %>
              </a>
            </li>
            <% if current_user %>
              <% if current_user.admin? || current_user.driver? %>
                <li><%= link_to "Backoffice", Ecommerce::Engine.routes.url_helpers.backoffice_dashboard_path, style: "color: red;" %></li>
              <% end %>
              <li class="dropdown dropdown-hover d-flex flex-center">
                <a class="dropdown-toggle d-flex flex-center" data-toggle="dropdown" href="#">
                  <%= "#{current_user.name}".html_safe %>
                  <span class="caret"></span>
                  <%= fa_icon('user', style: 'color: #67696C;') %>
                </a>

                <ul class="dropdown-menu dropdown-user">
                  <li class="dropdown-user-line"><%= link_to "#{t('.my_points')}: #{current_user.try(:points)}", Ecommerce::Engine.routes.url_helpers.points_path, class: "row", style: "color: red;" %></li>
                  <li class="dropdown-user-line"><%= link_to t('.my_orders'), Ecommerce::Engine.routes.url_helpers.orders_path, class: "row " %></li>
                  <li class="dropdown-user-line"><%= link_to t('.my_addresses'), Ecommerce::Engine.routes.url_helpers.addresses_path, class: "row " %></li>
                  <li class="dropdown-user-line"><%= link_to t('.my_account'), main_app.edit_user_registration_path, class: "row" %></li>
                  <li class="dropdown-user-line">
                    <a class="row" href="<%= Ecommerce::Engine.routes.url_helpers.referral_path %>">
                      <span><%= "#{t('.my_referral_program')}" %></span></br>
                      <span><%= "#{t('.my_referral_code')}#{current_user.try(:referral_code)}" %></span>
                    </a>
                  </li>
                  <li><%= link_to t('.sign_out'), main_app.logout_path %></li>

                </ul>

              </li>
            <% else %>
              <li class="d-flex flex-center">
                <a href="<%= main_app.new_user_registration_path(sign_up_type: 'non-guest') %>">
                  <%= t('.my_account') %>
                </a>
                <a href="<%= main_app.new_user_registration_path(sign_up_type: 'non-guest') %>"
                  ><%= fa_icon('user', style: 'color: #67696C;') %></i
                ></a>
              </li>
            <% end %>
          </ul>
          <div style="margin-top: 10px;">
            <form action="" class="d-flex">
              <select id="currency" class="cursor-pointer">
                <option <%= session[:currency] == 'usd' ? "selected" : "" %>value="usd">USD $</option>
                <option <%= session[:currency] == 'usd' ? "" : "selected" %> value="pen">PEN S/.</option>
              </select>
              <select id="lang" class="cursor-pointer">
                <option <%= session[:locale] == 'en-PE' ? "" : "selected" %> value="spanish" data-imagesrc="./imgs/peru.png">Español</option>
                <option <%= session[:locale] == 'en-PE' ? "selected" : "" %> value="english" data-imagesrc="./imgs/usa.png">English</option>
              </select>
            </form>
          </div>
          <% unless browser.device.mobile? %>
            <li style="list-style-type: none;" id="cart-line">
              <%= render "ecommerce/#{Ecommerce.ecommerce_layout}/store/cart", locals: {cart: @cart} %>
            </li>
          <% end %>
        </div>
      </div>
    </nav>

    <nav class="nav-links hidden-xs">
      <div class="container-fluid">
        <ul class="d-flex flex-center">
          <li><a style='font-size: 18px;' href="<%= Ecommerce::Engine.routes.url_helpers.products_path %>" class="<%= active_all_products_category() == 'active' ? 'active' : '' %>"><%= t('.all_products') %></a></li>
          <% if current_user %>
            <li>| <a style='color:red; font-size: 17px;' href="<%= Ecommerce::Engine.routes.url_helpers.favorites_path %>"><%= t('.favorite_products') %></a></li>
          <% end %>

          <% @primary_menu_categories.each do |category| %>
            <% if category.id == 47 %>
              <li>| <%= link_to category.name, Ecommerce::Engine.routes.url_helpers.products_path(filter: 'new_products'), class: "#{match_active_category(category)} #{category.highlighted? ? 'highlighted-category' : ''}", style: 'margin-left: 8px; font-size: 17px;' %></li>
            <% else %>
              <% unless category.id == 30 && !@banana_permission %>
                <li>| <%= link_to category.name, Ecommerce::Engine.routes.url_helpers.products_path(category_id: category.id), class: "#{match_active_category(category)} #{category.highlighted? ? 'highlighted-category' : ''}", style: 'margin-left: 8px; font-size: 17px;' %></li>
              <% end %>
            <% end %>
          <% end %>
          
        </ul>
      </div>
    </nav>
    <div id="js_now_flash">
      <% if notice.present? %>
        <%= render partial: "ecommerce/application/js_now_flash" %>
      <% end %>
    </div>


    <!-- navbar for mobiles -->
    <nav class="mobiles visible-xs sticky-header">
      <div class="container-fluid">
        <div class="row mobile-header-row" style="align-items: center;">
          <div class="col-xs-4 d-flex flex-center">

            <% if browser.device.mobile? %>
              <div class="cart position-relative" id="cart-line" style="padding-left: 25px;">
                <%= render "ecommerce/#{Ecommerce.ecommerce_layout}/store/cart", locals: {cart: @cart} %>
              </div>
            <% end %>

          </div>

          <div class="col-xs-4 d-flex flex-center" style="padding-right: 0px; margin-left: 50px;">
            <form action="" class="d-flex" style="margin-bottom: 0px;">
              <select id="currencyMobile" class="cursor-pointer" >
                <option <%= session[:currency] == 'usd' ? "selected" : "" %>value="usd">USD $</option>
                <option <%= session[:currency] == 'pen' ? "selected" : "" %> value="pen">PEN S/.</option>
              </select>
            </form>
          </div>
          <div class="col-xs-4 d-flex flex-center">
            <form action="" class="d-flex" style="margin-bottom: 0px;">
              <select id="langMobile" class="cursor-pointer">
                <option <%= session[:locale] == 'en-PE' ? "" : "selected" %> value="1" data-imagesrc="<%= image_url("ecommerce/img/expatshop/peru-flag.png") %>">ES</option>
                <option <%= session[:locale] == 'en-PE' ? "selected" : "" %> value="0" data-imagesrc="<%= image_url("ecommerce/img/expatshop/us-flag.png") %>">EN</option>
              </select>
            </form>
          </div>
        </div>
      </div>
    </nav>
    <nav class="navbar navbar-default mobiles-main-nav visible-xs sticky-header-2">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row d-flex flex-center">
          <div class="col-xs-7">
            <a class="" href="<%= root_path %>">
              <% if params[:action] == "main" %>  
                <%= image_tag Ecommerce.header_logo, alt: "expatshop.pe Logo", class: "img-responsive" %>
              <% else %>
                <%= image_tag "ecommerce/img/expatshop/back_logo_mobile_3.png", alt: "expatshop.pe Logo", class: "img-responsive" %>
              <% end %>
            </a>
          </div>
          <div class="col-xs-3">
            <% if !current_user %>
              <a href="<%= main_app.new_user_session_path %>" class="d-flex flex-center">
                <%= fa_icon 'user', class: "user-icon icon-color d-flex flex-center" %>
              </a>
            <% else %>
              <button
                type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-2"
                aria-expanded="false"
              >
                <%= fa_icon 'user', class: "user-icon icon-color d-flex flex-center" %>
              </button>

            <% end %>
          </div>
          <div class="col-xs-2">
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">

            <li class="dropdown-user-line"><%= link_to "#{t('.my_points')}: #{current_user.try(:points)}", Ecommerce::Engine.routes.url_helpers.points_path, class: "row", style: "color: red;" %></li>
            <li class="dropdown-user-line"><%= link_to t('.my_orders'), Ecommerce::Engine.routes.url_helpers.orders_path, class: "row " %></li>
            <li class="dropdown-user-line"><%= link_to t('.my_addresses'), Ecommerce::Engine.routes.url_helpers.addresses_path, class: "row " %></li>
            <li class="dropdown-user-line"><%= link_to t('.my_account'), main_app.edit_user_registration_path, class: "row" %></li>
            <li class="dropdown-user-line">
              <a class="row" href="<%= Ecommerce::Engine.routes.url_helpers.referral_path %>">
                <span><%= "#{t('.my_referral_program')}" %></span></br>
                <span><%= "#{t('.my_referral_code')}#{current_user.try(:referral_code)}" %></span>
              </a>
            </li>
            <li style="border-top: 2px solid #ccc; border-bottom: 2px solid #ccc;"><%= link_to t('.sign_out'), main_app.logout_path, class: "mobile-signout-a" %></li>

          </ul>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            
            <% if current_user && (current_user.admin? || current_user.driver?) %>
              <li style="border-bottom: 1px solid #ccc;"><%= link_to "Backoffice", Ecommerce::Engine.routes.url_helpers.backoffice_dashboard_path, style: "color: red;" %></li>
            <% end %>

            <li><a href="<%= Ecommerce::Engine.routes.url_helpers.products_path %>" class="<%= active_all_products_category() == 'active' ? 'active' : '' %>" style="padding-top: 7px; padding-bottom: 7px;"><%= t('.all_products') %></a></li>

            <% if current_user %>
              <li><a style='color:red; padding-top: 7px; padding-bottom: 7px;' href="<%= Ecommerce::Engine.routes.url_helpers.favorites_path %>"><%= t('.favorite_products') %></a></li>
            <% end %>
            
            <% @primary_menu_categories.each do |category| %>
              <% if category.id == 47 %>
                <li class="<%= category.highlighted? ? 'highlighted-category-mobile' : '' %>"><%= link_to category.name, Ecommerce::Engine.routes.url_helpers.products_path(filter: 'new_products'), style: "padding-top: 7px; padding-bottom: 7px;", class: match_active_category(category) %></li>
              <% else %>
                <% unless category.id == 30 && !@banana_permission %>
                  <li class="<%= category.highlighted? ? 'highlighted-category-mobile' : '' %>"><%= link_to category.name, Ecommerce::Engine.routes.url_helpers.products_path(category_id: category.id), style: "padding-top: 7px; padding-bottom: 7px;", class: match_active_category(category) %></li>
                <% end %>
              <% end %>
            <% end %>

          </ul>
        </div>
      </div>
    </nav>


  <%= render 'ecommerce/expatshop/store/top_promo' %>

  <div class="search-header5">
    <div class="remove-form"></div>
    <div class="container">
      <form action="<%= search_product_path %>" class="form-horizontal">
        <label class="note-search"><%= t('.search_instructions') %></label>
        <input type="search" name="search" class="form-control" value="" placeholder="Search..." autocomplete="off">
        <input type="submit" value="Search">
      </form>
    </div>
  </div>
  
</header>

<script>
  function redirectToCart() {
    window.location.href = "<%= Ecommerce::Engine.routes.url_helpers.cart_path(@cart.id) %>";
  }

</script>
