<!-- hero -->
    <header>
      <div class="header-hero">
        <ul class="video-slider">
          <% Ecommerce::Slider.where(slider_view: (browser.device.mobile? ? 'MOBILE' : 'DESKTOP')).order(:slider_order).each do |slider| %>
            <% if slider.slider_image.url[-3..-1] != 'mp4' %>
              <li><img class="bximage-inside-slide clickable-slide" src="<%= slider.slider_image.url %>" title="<%= slider.slider_text %>" /></li>
            <% else %>
              <li class="video-slide clickable-slide"><video class="vid" src="<%= slider.slider_image.url %>" autoplay controls onended="nextSlide()" title="<%= slider.slider_text %>" /></li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div class="header-slider">
        <div class="container-fluid">
          <div class="brand-slider">
          
            <% Ecommerce::Brand.where(featured: true).order(id: :desc).each do |brand_logo| %>
              <div>
                <%= link_to brand_url(brand_logo.id) do %>
                <img
                  src="<%= brand_logo.logo.medium_200.url %>"
                  alt=""
                  class="img-responsive"
                />
                <% end %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </header>
        <main>
      <!-- featured product -->
      <section class="featured-products">
        <div class="container-fluid">
          <h2 class="main-section-title"><%= t('.featured_products') %></h2>
          <div class="featured-product-slider" data-thumb="https://devtechperu-expatshop-dev.s3.amazonaws.com/static/images/chevron-left.png">

            <% Ecommerce::Product.where(home_featured: true).order(:product_order).each do |product| %>
              <div>
                <div class="featured-product position-relative d-flex">
                  <div class="featured-product-body">
                    <img
                      src="<%= product.image.medium_400.url %>"
                      alt=""
                      class="img-responsive"
                    />
                    <div class="featured-product-info d-flex flex-center">
                      <p><%= product.name %></p>
                      <div class="price d-flex flex-center">
                        <% if product.price == product.discounted_price %>
                          <p class='featured-product-info-price-regular'><%= product_session_price(product, "current_price") %></p>
                        <% else %>
                          <p class='featured-product-info-price-discounted'><%= product_session_price(product, "current_price") %></p>
                          <p class='featured-product-info-price-regular'><%= product_session_price(product, "price") %></p>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <button class="featured-add-to-cart-button">
                    <i class="fa-solid fa-cart-shopping"></i><%= t('.add_to_cart') %>
                  </button>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </section>
      <!-- sub links for mobiles -->
      <section class="visible-xs sub-links">
        <div class="container-fluid">
          <ul class="d-flex flex-center">
            <a href="<%= products_path %>"><li><%= t('.all_the_products') %></li></a>
            <a href="<%= favorites_path %>"><li><%= t('.my_frequent_purchases') %></li></a>
            <a href="<%= products_path(filter: 'new_products') %>"><li><%= t('.new_products') %></li></a>
            <a href="<%= products_path(filter: 'discounted_products') %>"><li><%= t('.offers_and_discounts') %></li></a>
          </ul>
        </div>
      </section>
      <!-- categories principles for mobiles -->
      <section class="visible-xs categories-principles">
        <div class="container-fluid">
          <h2 class="main-section-title"><%= t('.main_categories') %></h2>
          <div class="row">

            <% Ecommerce::Category.where(parent_id: nil).order(:id).each do |category| %>
              <div class="col-xs-4">
                <div class="principle">
                  <%= link_to products_path(category_id: category.id) do %>
                    <img src="<%= category.image.medium_400.url %>" class="img-responsive" alt="" />
                    <p><%= category.name %></p>
                  <% end %>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </section>
      <!-- testimonial -->
      <section class="testimonials">
        <div class="container-fluid">
          <h2 class="main-section-title"><%= t('.customer_testimonials') %></h2>
          <div class="testimonial-slider">

            <% Ecommerce::Testimonial.where(status: "active").order(:priority).each do |testimonial| %>
              <div>
                <div class="testimonial-body">
                  <video controls="controls" poster="<%= testimonial.thumbnail.medium_400.url %>">
                    <source
                      src="<%= testimonial.video.url %>"
                      type="video/mp4"
                    />
                  </video>
                  <div class="testimonial-info d-flex flex-center">
                    <p><%= testimonial.user_fullname %> - <%= testimonial.user_title %></p>
                    <p>
                      <%= testimonial.product_name %>
                    </p>
                  </div>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </section>
      <!-- country mosaic -->
      <section class="global-products">
        <div class="container-fluid">
          <h2 style="font-size: 2.5rem;"><%= t('.products_from_the_world') %></h2>
          <!-- countries for desktop -->
          <div id="country-mosaic">
              
                <div class="country-div" style="background-image: url(<%= image_url( 'ecommerce/img/expatshop/1-country-france.png') %>)">
                <p><%= t('.france') %></p>
              </div>

              
                <div class="country-div" style="background-image: url(<%= image_url( 'ecommerce/img/expatshop/2-country-peru.png') %>)">
                <p><%= t('.peru') %></p>
              </div>
           

                <div class="country-div" style="background-image: url(<%= image_url( 'ecommerce/img/expatshop/3-country-italy.png') %>)">
                <p><%= t('.italy') %></p>
              </div>
            
              <div class="country-div" style="background-image: url(<%= image_url('ecommerce/img/expatshop/4-country-england.png') %>)">
              <p><%= t('.england') %></p>
                
               </div>
               
                <div class="country-div" style="background-image: url(<%= image_url( 'ecommerce/img/expatshop/5-country-india.png') %>)">
                <p><%= t('.india') %></p>
              </div>
              
                <div class="country-div" style="background-image: url(<%= image_url( 'ecommerce/img/expatshop/6-country-germany.png') %>)">
                <p><%= t('.germany') %></p>
              </div>
              
                <div class="country-div" style="background-image: url(<%= image_url( 'ecommerce/img/expatshop/7-country-croatia.png') %>)">
                <p><%= t('.croatia') %></p>
              </div>
              
                <div class="country-div" style="background-image: url(<%= image_url( 'ecommerce/img/expatshop/8-country-belgium.png') %>)">
                <p><%= t('.belgium') %></p>
              </div>
              
                <div class="country-div" style="background-image: url(<%= image_url( 'ecommerce/img/expatshop/9-country-finland.png') %>)">
                <p><%= t('.finland') %></p>
              </div>
              
                
                <div class="country-div" style="background-image: url(<%= image_url( 'ecommerce/img/expatshop/10-country-thailand.png') %>)">
                <p><%= t('.thailand') %></p>
               </div>
          </div>
        </div>
      </section>

      <!-- offer -->
      <section class="offer">
        <div class="container">
          <div class="row">
            <div class="col-xs-7 col-md-8">
              <p>Día 1: <span>El Comercio</span></p>
              <h3>Expatshop y su apuesta por crecer en el Perú</h3>
              <p class="hidden-xs">
                Conoce un poco más de la importadora que, en el siguiente quinquenio,
espera que su tienda pueda ofrecer 15,000 productos de diferentes
categorías.
              </p>
            </div>
            <div class="col-xs-5 col-md-4 position-relative">
              <%= image_tag "ecommerce/img/expatshop/offer.png", class: "img-responsive" %>
              <h4 class="pe">.pe</h4>
            </div>
            <div class="btn-group">
              <button class="main-btn"><%= t('.read_article') %></button>
              <button class="main-btn white"><%= t('.press') %></button>
            </div>
          </div>
        </div>
      </section>
    </main>

<script>

  function nextSlide() {
    slider.goToNextSlide();
  }

  $(document).ready(function () {

    var buttons_visible = <%= !browser.device.mobile? %>;
    var bx = $('.video-slider').bxSlider(
      {
        mode: 'horizontal',
        auto: true,
        //autoControls: true,
        //captions: true,
        //stopAutoOnClick: true,
        slideWidth: 1280,
        video: true,
        infiniteLoop: true,
        adaptiveheight: true,
        pager: buttons_visible,
        // startSlide: 0,
        // speed: 5000,
        // useCSS: false,
        // responsive: true,
        autoHover: true,
        autoDelay: 5000,
        controls: buttons_visible,
        autostart: true,
        //onSliderLoad: function(currentIndex) {
        //  $("video").trigger("play");
        //},
        //onSlideBefore: function(slide) {
        //  bx.stopAuto;
        //  console.log('Stop Auto')
        //}
        onSlideAfter: function ($slideElement, oldIndex, newIndex) {
          if ($slideElement.hasClass('video-slide')) {
            var video = $slideElement.find('video').get(0);
            video.addEventListener('ended', function () {
              slider.goToNextSlide();
            });
          }
        }
        
      }
    );

    $('.clickable-slide').on('mousedown', function () {
      console.log("redirect to slider_link here using array: <%= @slider_array.to_json %>");
    })

  })

</script>

