<!-- Header
============================================= -->
<header id="header" class="full-header no-sticky clearfix">

  <div id="header-wrap">

    <div class="container clearfix">

      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <!-- Logo
      ============================================= -->
      <div id="logo">
        <a href="index.html" class="standard-logo"><%= image_tag "ecommerce/img/logo.png", alt: "Canvas Logo" %></a>
        <a href="index.html" class="retina-logo"><%= image_tag "ecommerce/img/logo@2x.png", alt: "Canvas Logo" %></a>
      </div><!-- #logo end -->

      <!-- Primary Navigation
      ============================================= -->
      <nav id="primary-menu" class="style-ecommerce">

        <ul>
          <li class=""><a href="#"><div><%= t('.home_menu') %></div></a>
          </li>

          <% @home_menu_categories.each do |menu_item| %>
            <li class=""><a href="#"><div><%= menu_item.name %></div></a>
              <% unless Ecommerce::Category.where(parent_id: menu_item.id, status: "active").blank? %>
                <ul>
                  <% Ecommerce::Category.where(parent_id: menu_item.id, status: "active").each do |sub_menu_item| %>
                    <li><a href="index-corporate.html"><div><%= sub_menu_item.name %></div></a></li>
                  <% end %>
                </ul>
              <% end %>
            </li>
          <% end %>

          <li><a href="#"><div><%= t('.blog_menu') %></div></a></li>
          <li><a href="#"><div><%= t('.contact_us_menu') %></div></a></li>
          <!-- Select Language -->
          <% if Ecommerce.locale_set_by_store %>
            <li>
            <div id="set-locale">
              <a href="#" id="top-locale-trigger"><i class="icon-line2-flag"></i><span></span></a>
              <%= form_tag locale_path do %>
                <%= select_tag 'set_locale', options_for_select(['Español', 'English'], get_default_language_from_session) %>
                <%= submit_tag 'submit' %>
              <% end %>
            </div>
            </li>
          <% end %>
        </ul>

        <!-- Top Search
        ============================================= -->
        <div id="top-search">
          <a href="#" id="top-search-trigger"><i class="icon-line2-magnifier"></i><i class="icon-line-cross"></i></a>
          <form action="search.html" method="get">
            <input type="text" name="q" class="form-control" value="" placeholder="<%= t('.search_string') %>">
          </form>
        </div><!-- #top-search end -->

        <!-- Top Cart
        ============================================= -->
        <div id="top-cart">
          <a href="#" id="top-cart-trigger"><i class="icon-line2-handbag"></i><span>5</span></a>
          <div class="top-cart-content">
            <div class="top-cart-title">
              <h4>Shopping Cart</h4>
            </div>
            <div class="top-cart-items">
              <div class="top-cart-item clearfix">
                <div class="top-cart-item-image">
                  <a href="#"><%= image_tag "ecommerce/img/featured/1.jpg", alt: "Blue Shoulder Bag" %></a>
                </div>
                <div class="top-cart-item-desc">
                  <a href="#" class="t400">Blue Shoulder Bag</a>
                  <span class="top-cart-item-price">$19.99</span>
                  <span class="top-cart-item-quantity">x 2</span>
                </div>
              </div>
              <div class="top-cart-item clearfix">
                <div class="top-cart-item-image">
                  <a href="#" class="t400"><%= image_tag "ecommerce/img/featured/6.jpg", alt: "Leather Bag" %></a>
                </div>
                <div class="top-cart-item-desc">
                  <a href="#" class="t400">Leather Bag</a>
                  <span class="top-cart-item-price">$24.99</span>
                  <span class="top-cart-item-quantity">x 3</span>
                </div>
              </div>
            </div>
            <div class="top-cart-action clearfix">
              <span class="fleft top-checkout-price t600 font-secondary" style="color: #333;">$114.95</span>
              <button class="button button-dark button-circle button-small nomargin fright">View Cart</button>
            </div>
          </div>
        </div><!-- #top-cart end -->

        <!-- Top Account
        ============================================= -->
        <div id="top-account">
          <% if current_user %>

          <a href="#" id="top-cart-trigger">Augusto Samamé<i class="icon-line2-user"></i><span></span></a>
          <div class="top-cart-content">
            <div class="top-cart-title">
              <h4>Mi Cuenta</h4>
            </div>
            <div class="top-cart-action clearfix">
              <span class="fleft top-checkout-price t600 font-secondary" style="color: #333;"></span>
              <button class="button button-dark button-circle button-small nomargin fright">Cerrar Sesión</button>
            </div>
          </div>


            <a href="#"><i class="icon-line2-user"></i></a>
            <%= link_to "<i class='material-icons'>power_settings_new</i>Cerrar Sesión".html_safe, main_app.destroy_user_session_path, :method=>:delete %>





          <% else %>
            <%= link_to "", main_app.new_user_registration_path, class:"icon-line2-user" %>
          <% end %>
        </div><!-- #top-account end -->

      </nav><!-- #primary-menu end -->

    </div>

  </div>

</header><!-- #header end -->
