    <main>
      <!-- program label -->
      <section class="recommendation-label">
        <div>
          <h3><%= t('.my_referrals') %></h3>
        </div>
      </section>
      <section class="orders">
        <div class="container">
          <div class="program-details">
            <div style="font-size: 20px;">
              <span><%= "#{t('.my_referral_link')}: " %></span>
              <span><%= link_to current_user.referral_link, current_user.referral_link, { id:'referral-link', style: 'color: blue; margin-left: 10px;'} %></span>
              <span><p data-toggle="tooltip" id='markup-copy' class="glyphicon glyphicon-copy" style='margin-left: 20px;' aria-hidden="true" data-clipboard-target="#referral-link" title='<%= t(".copy") %>' >
              
            </p></span>
            </div>
            <p>
              <%= t('.my_referral_instructions_1') %>
            </p>
            <p>
              <%= t('.my_referral_instructions_2') %>
            </p>
          </div>
          <!-- order table for desktop -->
          <table class="hidden-xs">
            <thead>
              <tr>
                <th><%= t('.date') %></th>
                <th><%= t('.name') %></th>
                <th><%= t('.points') %></th>
              </tr>
            </thead>
            <tbody>
              <%= content_tag_for(:tr, @referrals) do |referred_user| %>

                <tr>
                   <th>
                    <p><%= referred_user.created_at.localtime.strftime("%d-%b-%y") %></p>
                  </th>
                  <th>
                    <p><%= "#{referred_user.first_name} #{referred_user.last_name}" %></p>
                  </th>
                  <th>
                     <p><%= PointsTransaction.find_by(tx_type: 'referral', referred_user_id: referred_user.id).try(:points) %></p>
                  </th>
                </tr>

              <% end %>
            </tbody>
          </table>
          <!-- order table for mobile -->
          <div class="visible-xs">
            <table>
              <thead>
                <tr>
                  <th>DATE</th>
                  <th>NAME</th>
                  <th>POINTS</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>
                    <p>17 - Sep - 2023</p>
                  </th>
                  <th>
                    <p>Maria Collantes</p>
                  </th>
                  <th>
                    <p>10</p>
                  </th>
                </tr>
                <tr>
                  <th>
                    <p>15 - Ago - 2023</p>
                  </th>
                  <th>
                    <p>Jorge Guerero</p>
                  </th>
                  <th>
                    <p>20</p>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </main>

<script>
  $(document).ready(function(){
    var clipboard = new ClipboardJS('#markup-copy');
      clipboard.on('success', function(e) {
      Swal({
          type: 'info',
          title: '<%= t(".clipboard_message") %>',
          text: ""
        });
      e.clearSelection();
    });
  });
</script>
