<div class="page-header">
  <%= link_to backoffice_product_sku_properties_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to backoffice_product_sku_property_path(@backoffice_product_sku_property), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show backoffice_product_sku_property</h1>
</div>

<dl class="dl-horizontal">
  <dt>Product SKU:</dt>
  <dd><%= @backoffice_product_sku_property.product_sku.sku %></dd>

  <dt>Product variant:</dt>
  <dd><%= @backoffice_product_sku_property.product_variant.variant_name %></dd>

  <dt>Value:</dt>
  <dd><%= @backoffice_product_sku_property.value %></dd>

  <dt>Status:</dt>
  <dd><%= @backoffice_product_sku_property.status %></dd>

</dl>
