<h3>Electronic Invoice Data</h3>
<div class="row well">
  <div class="col-lg-6">
    <h4>Electronic Invoice</h4>
    <% if @epdf %>
      <p>Link: <%= link_to @epdf, @epdf, target: "blank" %></p>
      <embed src="<%= @epdf %>" width="500" height="750">
    <% else %>
      <%= "Error generating electronic invoice: #{@einvoice_error_message}" unless @epdf %>
      <%= "Data sent to einvoice processor: #{@einvoice_sent_text}" unless @epdf %>
    <% end %>
  </div>
  <div class="col-lg-6">
    <h4>Electronic Refund</h4>
    <% if @erefund_pdf %>
      <p>Link: <%= link_to @erefund_pdf, @erefund_pdf, target: "blank"  %></p>
      <embed src="<%= @erefund_pdf %>" width="500" height="750">
    <% else %>
      <%= "Error generating electronic refund: #{@einvoice_error_message}" if (@epdf && !@erefund_pdf) %>
      <%= "Data sent to einvoice processor: #{@einvoice_sent_text}" if (@epdf && !@erefund_pdf) %>
    <% end %>
  </div>
</div>
