<%= simple_form_for([:backoffice, @backoffice_order]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user, :label_method => lambda { |user| "#{user.name}" }  %>
    <%= f.input :stage, collection: Ecommerce::Order.stages.keys %>
    <%= f.input :shipping_address_id %>
    <%= f.input :billing_address_id %>
    <%= f.input :customer_comments %>
    <%= f.input :process_comments %>
    <%= f.input :delivery_comments %>
    <%= f.input :coupon_id %>
    <%= f.input :payment_status, collection: Ecommerce::Order.payment_statuses.keys %>
    <%= f.input :status, collection: Ecommerce::Order.statuses.keys %>
    <%= f.input :product_line_1, label: "Product 1", collection: Ecommerce::Product.all %>
    <%= f.input :product_line_2, label: "Product 2", collection: Ecommerce::Product.all %>
    <%= f.input :product_line_3, label: "Product 3", collection: Ecommerce::Product.all %>
    <%= f.input :product_line_4, label: "Product 4", collection: Ecommerce::Product.all %>
    <%= f.input :amount_cents, label: "Total Amount" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
