<div class="page-header">
  <%= link_to new_backoffice_order_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Order
  <% end %>
  <h1>Orders</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>User</th>
        <th>Amount</th>
        <th>Stage</th>
        <th>Shipping address</th>
        <th>Coupon</th>
        <th>Payment status</th>
        <th>Status</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Invoice</th>
        <th>Ship</th>
        <th>Destroy</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @backoffice_orders) do |backoffice_order| %>
        <td><%= backoffice_order.id %></td>
        <td><%= backoffice_order.user.name %></td>
        <td><%= number_to_currency(backoffice_order.amount_cents / 100) %></td>
        <td><%= backoffice_order.friendly_stage %></td>
        <td><%= backoffice_order.friendly_shipping_address %></td>
        <td><%= backoffice_order.coupon_id %></td>
        <td><%= backoffice_order.payment_status %></td>
        <td><%= backoffice_order.status %></td>
        <td><%= link_to "<i class='material-icons'>visibility</i>".html_safe, backoffice_order_path(backoffice_order) %></td>
        <td><%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_backoffice_order_path(backoffice_order) %></td>
        <% if backoffice_order.efact_response_text == "OK" %>
          <td><%= link_to "Link", backoffice_order.efact_invoice_url, target: "blank" %></td>
        <% else %>
          <td><%= link_to "Resend", backoffice_orders_einvoice_path(backoffice_order), method: :post %></td>
        <% end %>


        <td><%= link_to "<i class='material-icons'>local_shipping</i>".html_safe, edit_backoffice_order_path(backoffice_order) %></td>
        <td><%= link_to "<i class='material-icons'>delete</i>".html_safe, backoffice_order_path(backoffice_order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
