<div class="page-header">
  <%= link_to new_backoffice_order_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Order
  <% end %>
  <%= link_to backoffice_export_orders_path(page: @page_param), class: 'btn', style: 'margin-left: 20px;' do %>
    <span class="glyphicon glyphicon-th-list"></span>
    Export to Excel
  <% end %>
  <h1>Orders</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <%= paginate @backoffice_orders %>
    <thead>
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>User</th>
        <th>Amount</th>
        <th>Points Redeemed</th>
        <th>Stage</th>
        <th>Efact</th>
        <th>Shipping address</th>
        <th>Phone</th>
        <th>Coupon</th>
        <th>Payment status</th>
        <th>Payment method</th>
        <th>Special Instructions</th>
        <th>Status</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Invoice</th>
        <th>Ship</th>
        <th>Foto</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @backoffice_orders) do |backoffice_order| %>
        <td><%= backoffice_order.id %></td>
        <td><%= friendly_formatted_date(backoffice_order.created_at) %></td>
        <td><%= backoffice_order.user.name %></td>
        <td><%= number_to_currency(backoffice_order.amount) %></td>
        <td><%= backoffice_order.points_redeemed_amount %></td>
        <td><%= backoffice_order.friendly_stage %></td>
        <td><%= backoffice_order.efact_type %></td>
        <td><%= backoffice_order.friendly_shipping_address %></td>
        <td><%= backoffice_order.user.username.gsub('+51','') %></td>
        <td><%= backoffice_order.coupon.try(:coupon_code) %></td>
        <td style= "<%= backoffice_order.unpaid? ? 'color: red; font-size: 18px;' : '' %>"><%= backoffice_order.payment_status %></td>
        <td><%= backoffice_order.process_comments %></td>
        <td><%= backoffice_order.delivery_comments %></td>
        <td><%= backoffice_order.status %></td>
        <td><%= link_to "<i class='material-icons'>visibility</i>".html_safe, backoffice_order_path(backoffice_order) %></td>
        <td><%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_backoffice_order_path(backoffice_order) %></td>
        <% if backoffice_order.efact_response_text == "OK" %>
          <td><%= link_to "Link", backoffice_order.efact_invoice_url, target: "blank" %></td>
        <% else %>
          <% if backoffice_order.payment_status != "unpaid" && backoffice_order.efact_response_text != "OK" %>
            <td><%= link_to "Resend", backoffice_orders_einvoice_path(backoffice_order), method: :post %></td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>


        <td><%= link_to "<i class='material-icons'>local_shipping</i>".html_safe, edit_backoffice_order_path(backoffice_order) %></td>
        <td>
          <a href="#" class="upload-photo-btn" data-order-id="<%= backoffice_order.id %>">
            <i class='material-icons'>photo_camera</i>
          </a>
        </td>
      <% end %>
    </tbody>
  </table>
  <%= paginate @backoffice_orders %>
</div>

<!-- Upload Image Modal -->
<div class="modal fade" id="uploadImageModal" tabindex="-1" role="dialog" aria-labelledby="uploadImageModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="uploadImageModalLabel">Subir Imagen de Entrega - Orden #<span id="modal-order-id"></span></h4>
      </div>
      <form id="upload-form" method="post" enctype="multipart/form-data">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" name="return_to" value="index">
        <div class="modal-body">
          <div class="form-group">
            <label for="image-input">Seleccionar imagen</label>
            <input type="file" name="proof_of_delivery_image[proof_of_delivery]"
                   accept="image/*" capture="environment" class="form-control" id="image-input"
                   onchange="previewImage(this)">
            <small class="help-block">Puedes tomar una foto o seleccionar de la galería</small>
          </div>
          <div id="image-preview" style="display: none; margin-top: 15px;">
            <img id="preview-img" src="" alt="Vista previa" style="max-width: 100%; max-height: 300px; border: 1px solid #ddd; border-radius: 4px;">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success" id="upload-btn" disabled>Subir Imagen</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
function previewImage(input) {
  var preview = document.getElementById('image-preview');
  var previewImg = document.getElementById('preview-img');
  var uploadBtn = document.getElementById('upload-btn');

  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
      previewImg.src = e.target.result;
      preview.style.display = 'block';
      uploadBtn.disabled = false;
    }
    reader.readAsDataURL(input.files[0]);
  } else {
    preview.style.display = 'none';
    uploadBtn.disabled = true;
  }
}

$(document).ready(function() {
  $('.upload-photo-btn').on('click', function(e) {
    e.preventDefault();
    var orderId = $(this).data('order-id');
    var formAction = '/store/backoffice/orders/' + orderId + '/proof_of_delivery_images';
    $('#upload-form').attr('action', formAction);
    $('#modal-order-id').text(orderId);
    $('#uploadImageModal').modal('show');
  });

  $('#uploadImageModal').on('hidden.bs.modal', function() {
    document.getElementById('upload-form').reset();
    document.getElementById('image-preview').style.display = 'none';
    document.getElementById('upload-btn').disabled = true;
  });
});
</script>
