<%= simple_form_for([:backoffice, @backoffice_category]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: t('.name') %>
    <%= f.association :category, as: :tags, :value_method => lambda { |category| "#{category.name}" }, :label_method => lambda { |category| "#{category.name}" }, label: t('.parent_categories') %>
    <%= f.label t('.category_image') %>
    <div class="form-group">
      <% if f.object.image? %>
        <%= image_tag f.object.image.to_s, id: "image_actual", class: "img-thumbnail", :height => "200", :width => "200" %>
      <% end %>
      <img alt="your image" class="img-thumbnail hidden" height="200" id="image_prev" src="#" width="200"/>
      <br/>
      <span class="btn btn-default btn-file">
        <%= f.file_field :image, id: "file-image-upload" %>
      </span>
      <%= f.hidden_field :image_cache %>
    </div>

    <%= f.input :status, label: t('.status'), collection: Ecommerce::Category.statuses.keys %>
    <%= f.input :main_menu, label: t('.include_as_a_menu_item') %>
    <%= f.input :category_type, collection: Ecommerce::Category.category_types.keys, label: t('.category_type') %>
    <%= f.input :popular_homepage, label: t('.include_in_popular_homepage_categories') %>
    <%= f.input :image_popular_homepage_overlay_text, label: t('.text_for_image_overlay') %>
    <%= f.input :category_order, label: t('.category_order') %>

    <%= f.label t('.homepage_category_image') %>
    <div class="form-group">
      <% if f.object.image_popular_homepage? %>
        <%= image_tag f.object.image_popular_homepage.to_s, id: "image_popular_actual", class: "img-thumbnail", :height => "200", :width => "200" %>
      <% end %>
      <img alt="your image" class="img-thumbnail hidden" height="200" id="image_popular_prev" src="#" width="200"/>
      <br/>
      <span class="btn btn-default btn-file">
        <%= f.file_field :image_popular_homepage, id: "file-image-popular-upload" %>
      </span>
      <%= f.hidden_field :image_popular_homepage_cache %>
    </div>

    <h2><%= t('.translations') %></h2>
    <% Globalize.with_locale(:"es-PE") do %>
      <%= f.input :name_es_pe, label: t('.name_in_spanish') %>
      <%= f.input :image_popular_homepage_overlay_text_es_pe, label: t('.name_in_spanish_text_overlay') %>
    <% end %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, t('.create_category'), class: "btn btn-primary" %>
  </div>
<% end %>

<script>

  document.addEventListener("DOMContentLoaded", function(event) {
  $(function() {
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#image_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }

    $('select.form-control.tags').select2({
      tags: true
    });

    $('select.form-control.tags').val(JSON.parse(<%=raw @backoffice_category.parent_category_list.to_json.inspect %>));
    $('select.form-control.tags').trigger('change'); // Notify any JS components that the value changed

    $("#file-image-upload").change(function(){
      $('#image_prev').removeClass('hidden');
      $('#image_actual').addClass('hidden');
      readURL(this);
    });
  });
  $(function() {
    function readURL(input) {
      if (input.files && input.files[0]) {
        var popular_reader = new FileReader();

        popular_reader.onload = function (e) {
          $('#image_popular_prev').attr('src', e.target.result);
        }
        popular_reader.readAsDataURL(input.files[0]);
      }
    }

    $("#file-image-popular-upload").change(function(){
      $('#image_popular_prev').removeClass('hidden');
      $('#image_popular_actual').addClass('hidden');
      readURL(this);
    });
  });
  });


</script>
