<div class="page-header">
  <%= link_to backoffice_categories_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_backoffice_category_path(@backoffice_category), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show Category</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @backoffice_category.name %></dd>

  <dt>Image:</dt>
  <dd><%= image_tag @backoffice_category.image_url(:medium_400) %></dd>

  <dt>Include as Top Main Menu:</dt>
  <dd><%= @backoffice_category.main_menu %></dd>

  <dt>Include in Popular HomePage Categories:</dt>
  <dd><%= @backoffice_category.popular_homepage %></dd>

  <dt>Category Type:</dt>
  <dd><%= @backoffice_category.category_type %></dd>

  <dt>Category Order:</dt>
  <dd><%= @backoffice_category.category_order %></dd>

  <dt>Show In Country Mosaic:</dt>
  <dd><%= @backoffice_category.mosaic_show %></dd>

  <dt>Country Mosaic Text (English):</dt>
  <dd><%= @backoffice_category.mosaic_label_en %></dd>

  <dt>Country Mosaic Text (Spanish):</dt>
  <dd><%= @backoffice_category.mosaic_label_es %></dd>

  <dt>Highlighted Category:</dt>
  <dd>
    <% if @backoffice_category.highlighted? %>
      <span class="label label-danger">Yes</span>
    <% else %>
      <span class="label label-default">No</span>
    <% end %>
  </dd>

  <dt><%= t('.homepage_category_image') %>:</dt>
  <dd><%= image_tag @backoffice_category.image_popular_homepage_url(:homepage) %></dd>

  <dt>Status:</dt>
  <dd><%= @backoffice_category.status %></dd>

  <h2>Translations</h2>
  <% Globalize.with_locale(:"es-PE") do %>
    <dt>Name (in Spanish):</dt>
    <dd><%= @backoffice_category.name %></dd>

    <dt>Text for Image Overlay in Popular HomePage Categories (in Spanish):</dt>
    <dd><%= @backoffice_category.image_popular_homepage_overlay_text %></dd>
  <% end %>

</dl>
