<div class="page-header">
  <%= link_to backoffice_categories_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_backoffice_category_path(@backoffice_category), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show backoffice_category</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @backoffice_category.name %></dd>

  <dt>Image:</dt>
  <dd><%= image_tag @backoffice_category.image_url(:medium_400) %></dd>

  <dt>Include as Top Main Menu:</dt>
  <dd><%= @backoffice_category.main_menu %></dd>

  <dt>Include in Popular HomePage Categories:</dt>
  <dd><%= @backoffice_category.popular_homepage %></dd>

  <dt>Category Type:</dt>
  <dd><%= @backoffice_category.category_type %></dd>

  <dt>Category Order:</dt>
  <dd><%= @backoffice_category.category_order %></dd>

  <dt>HomePage Popular Image:</dt>
  <dd><%= image_tag @backoffice_category.image_popular_homepage_url(:homepage) %></dd>

  <dt>Status:</dt>
  <dd><%= @backoffice_category.status %></dd>

</dl>
