<h1>New Message received from, <%= @name %></h1>
<p>
  The following message has been received:<br>
</p>
<p>Name: <%= @name %></p>
<p>Email: <%= @email %></p>
<p>Phone: <%= @phone %></p>
<p>Message: <%= @message %></p>
</br>
<p>
  Please reply to it ASAP
</p>
