<%= simple_form_for([:backoffice, @backoffice_province]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :province %>
    <%= f.input :district %>
    <%= f.input :delivery_zone, collection: Ecommerce::Province.delivery_zones.keys %>
    <%= f.input :priority, label: "Priority (1 first)" %>
    <%= f.input :delivery_formula, collection: Ecommerce::Province.delivery_formulas.keys %>
    <%= f.input :cost_first_kilo_cents %>
    <%= f.input :cost_per_kilo_cents, label: "Cost Addtl Kilo" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
