<main>
  <!-- cart label -->
  <section class="recommendation-label">
    <div>
      <h3><%= t('.title') %></h3>
    </div>
  </section>
  <section class="orders delete-address">
    <div class="container">
      <!-- order table for desktop -->
      <table class="">
        <thead>
          <tr>
            <th>ID</th>
            <th><%= t('.date') %></th>
            <th><%= t('.name') %></th>
            <th><%= t('.street') %></th>
            <th><%= t('.delete') %></th>
          </tr>
        </thead>

        <tbody>
          <%= content_tag_for(:tr, @addresses) do |address| %>
            <tr>
              <th>
                <p><%= address.id %></p>
              </th>
              <th>
                <p><%= address.created_at.localtime.strftime("%d-%b-%y") %></p>
              </th>
              <th>
                <p><%= address.name %></p>
              </th>
              <th>
                <p><%= "#{address.street}, #{address.district}" %></p>
              </th>
              <th>
                <% delete_post_data = { controller: 'addresses', action: 'destroy', id: address.id } %>
                <%= link_to delete_post_data, class: 'address-delete-button', method: :delete, data: { confirm: t('.are_you_sure') } do %>
                  <%= fa_icon 'trash lg' %>
                <% end %>      
              </th>
            </tr>
          <% end %>
          </table>
        </div>
        
      </div>
    </div>
  </section>
</main>
