<%= simple_form_for([:backoffice, @backoffice_testimonial]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_fullname, label: 'User Full Name' %>
    <%= f.input :user_title, label: 'User Title' %>
    <%= f.input :product_name, label: 'Product Name' %>
    <%= f.input :priority, label: 'Priority (1 is shown first)' %>
    <%= f.input :status, collection: Ecommerce::Testimonial.statuses.keys, label: t('.status') %>

    <%= f.label "Video" %>
    <div class="form-group">
      <br/>
      <span class="btn btn-default btn-file">
        <%= f.file_field :video %>
        <%= f.label :video, f.object.video.url %>
      </span>
      <%= f.hidden_field :video_cache %>
    </div>

    <%= f.label "Video Thumbnail Image" %>
    <div class="form-group">
      <% if f.object.thumbnail? %>
        <%= image_tag f.object.thumbnail.medium_400.url, id: "img_actual", class: "img-thumbnail", :height => "200", :width => "200" %>
      <% end %>
      <img alt="your image" class="img-thumbnail hidden" height="200" id="img_prev" src="#" width="200"/>
      <br/>
      <span class="btn btn-default btn-file">
        <%= f.file_field :thumbnail, id: "file-image-upload" %>
      </span>
      <%= f.hidden_field :thumbnail_cache %>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit, t('common.save'), class: "btn btn-primary" %>
  </div>
<% end %>

<script>

  $(document).ready(function(){

   {
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#file-image-upload").change(function(){
      $('#img_prev').removeClass('hidden');
      $('#img_actual').addClass('hidden');
      readURL(this);
    });

  };
  });


</script>
